.dxScheduler_Appointment_DayClock,
.dxScheduler_Appointment_EndArrow,
.dxScheduler_Appointment_NightClock,
.dxScheduler_Appointment_NoRecurrence,
.dxScheduler_Appointment_Recurrence,
.dxScheduler_Appointment_Reminder,
.dxScheduler_Appointment_StartArrow,
.dxScheduler_AppointmentClockArrows_day_hour_00,
.dxScheduler_AppointmentClockArrows_day_hour_05,
.dxScheduler_AppointmentClockArrows_day_hour_10,
.dxScheduler_AppointmentClockArrows_day_hour_15,
.dxScheduler_AppointmentClockArrows_day_hour_20,
.dxScheduler_AppointmentClockArrows_day_hour_25,
.dxScheduler_AppointmentClockArrows_day_hour_30,
.dxScheduler_AppointmentClockArrows_day_hour_35,
.dxScheduler_AppointmentClockArrows_day_hour_40,
.dxScheduler_AppointmentClockArrows_day_hour_45,
.dxScheduler_AppointmentClockArrows_day_hour_50,
.dxScheduler_AppointmentClockArrows_day_hour_55,
.dxScheduler_AppointmentClockArrows_day_minute_00,
.dxScheduler_AppointmentClockArrows_day_minute_05,
.dxScheduler_AppointmentClockArrows_day_minute_10,
.dxScheduler_AppointmentClockArrows_day_minute_15,
.dxScheduler_AppointmentClockArrows_day_minute_20,
.dxScheduler_AppointmentClockArrows_day_minute_25,
.dxScheduler_AppointmentClockArrows_day_minute_30,
.dxScheduler_AppointmentClockArrows_day_minute_35,
.dxScheduler_AppointmentClockArrows_day_minute_40,
.dxScheduler_AppointmentClockArrows_day_minute_45,
.dxScheduler_AppointmentClockArrows_day_minute_50,
.dxScheduler_AppointmentClockArrows_day_minute_55,
.dxScheduler_AppointmentClockArrows_night_hour_00,
.dxScheduler_AppointmentClockArrows_night_hour_05,
.dxScheduler_AppointmentClockArrows_night_hour_10,
.dxScheduler_AppointmentClockArrows_night_hour_15,
.dxScheduler_AppointmentClockArrows_night_hour_20,
.dxScheduler_AppointmentClockArrows_night_hour_25,
.dxScheduler_AppointmentClockArrows_night_hour_30,
.dxScheduler_AppointmentClockArrows_night_hour_35,
.dxScheduler_AppointmentClockArrows_night_hour_40,
.dxScheduler_AppointmentClockArrows_night_hour_45,
.dxScheduler_AppointmentClockArrows_night_hour_50,
.dxScheduler_AppointmentClockArrows_night_hour_55,
.dxScheduler_AppointmentClockArrows_night_minute_00,
.dxScheduler_AppointmentClockArrows_night_minute_05,
.dxScheduler_AppointmentClockArrows_night_minute_10,
.dxScheduler_AppointmentClockArrows_night_minute_15,
.dxScheduler_AppointmentClockArrows_night_minute_20,
.dxScheduler_AppointmentClockArrows_night_minute_25,
.dxScheduler_AppointmentClockArrows_night_minute_30,
.dxScheduler_AppointmentClockArrows_night_minute_35,
.dxScheduler_AppointmentClockArrows_night_minute_40,
.dxScheduler_AppointmentClockArrows_night_minute_45,
.dxScheduler_AppointmentClockArrows_night_minute_50,
.dxScheduler_AppointmentClockArrows_night_minute_55,
.dxScheduler_InplaceEditor_Cancel,
.dxScheduler_InplaceEditor_EditForm,
.dxScheduler_InplaceEditor_Save,
.dxScheduler_Menu_Delete,
.dxScheduler_Menu_GoToDate,
.dxScheduler_Menu_NewAppointment,
.dxScheduler_Menu_RecurringAppointment,
.dxScheduler_MoreButton_Bottom,
.dxScheduler_MoreButton_BottomHover,
.dxScheduler_MoreButton_Top,
.dxScheduler_MoreButton_TopHover,
.dxScheduler_NavigationButton_Backward,
.dxScheduler_NavigationButton_BackwardDisabled,
.dxScheduler_NavigationButton_BackwardHover,
.dxScheduler_NavigationButton_Forward,
.dxScheduler_NavigationButton_ForwardDisabled,
.dxScheduler_NavigationButton_ForwardHover,
.dxScheduler_ResourceNavigator_Decrease,
.dxScheduler_ResourceNavigator_DecreaseDisabled,
.dxScheduler_ResourceNavigator_DecreaseHover,
.dxScheduler_ResourceNavigator_First,
.dxScheduler_ResourceNavigator_FirstDisabled,
.dxScheduler_ResourceNavigator_FirstHover,
.dxScheduler_ResourceNavigator_Increase,
.dxScheduler_ResourceNavigator_IncreaseDisabled,
.dxScheduler_ResourceNavigator_IncreaseHover,
.dxScheduler_ResourceNavigator_Last,
.dxScheduler_ResourceNavigator_LastDisabled,
.dxScheduler_ResourceNavigator_LastHover,
.dxScheduler_ResourceNavigator_Next,
.dxScheduler_ResourceNavigator_NextDisabled,
.dxScheduler_ResourceNavigator_NextHover,
.dxScheduler_ResourceNavigator_NextPage,
.dxScheduler_ResourceNavigator_NextPageDisabled,
.dxScheduler_ResourceNavigator_NextPageHover,
.dxScheduler_ResourceNavigator_Prev,
.dxScheduler_ResourceNavigator_PrevDisabled,
.dxScheduler_ResourceNavigator_PrevHover,
.dxScheduler_ResourceNavigator_PrevPage,
.dxScheduler_ResourceNavigator_PrevPageDisabled,
.dxScheduler_ResourceNavigator_PrevPageHover,
.dxScheduler_SmartTag,
.dxScheduler_StatusInfo_Error,
.dxScheduler_StatusInfo_Info,
.dxScheduler_StatusInfo_Warning,
.dxScheduler_TimeMarker,
.dxScheduler_Tooltip_BottomLeft,
.dxScheduler_Tooltip_BottomRight,
.dxScheduler_Tooltip_BottomStem,
.dxScheduler_Tooltip_Empty,
.dxScheduler_Tooltip_TopLeft,
.dxScheduler_Tooltip_TopRight,
.dxScheduler_ViewNavigator_Backward,
.dxScheduler_ViewNavigator_Down,
.dxScheduler_ViewNavigator_Forward
{
    background-image: url('<%=WebResource("Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxScheduler_Appointment_DayClock
{
    background-position: -64px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_EndArrow
{
    background-position: -48px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_NightClock
{
    background-position: -128px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_NoRecurrence
{
    background-position: -16px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_Recurrence
{
    background-position: -80px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_Reminder
{
    background-position: -160px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_Appointment_StartArrow
{
    background-position: 0px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_00
{
    background-position: -48px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_05
{
    background-position: -144px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_10
{
    background-position: -48px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_15
{
    background-position: -144px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_20
{
    background-position: -32px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_25
{
    background-position: -160px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_30
{
    background-position: -112px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_35
{
    background-position: -192px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_40
{
    background-position: -156px -136px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_45
{
    background-position: -96px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_50
{
    background-position: -128px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_hour_55
{
    background-position: -128px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_00
{
    background-position: -172px -136px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_05
{
    background-position: -176px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_10
{
    background-position: -64px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_15
{
    background-position: -32px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_20
{
    background-position: -176px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_25
{
    background-position: 0px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_30
{
    background-position: -80px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_35
{
    background-position: -112px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_40
{
    background-position: -192px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_45
{
    background-position: -160px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_50
{
    background-position: -80px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_day_minute_55
{
    background-position: -64px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_00
{
    background-position: -96px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_05
{
    background-position: -144px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_10
{
    background-position: -188px -136px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_15
{
    background-position: -112px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_20
{
    background-position: -128px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_25
{
    background-position: -112px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_30
{
    background-position: -16px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_35
{
    background-position: -96px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_40
{
    background-position: 0px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_45
{
    background-position: -176px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_50
{
    background-position: -32px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_hour_55
{
    background-position: -176px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_00
{
    background-position: -16px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_05
{
    background-position: -32px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_10
{
    background-position: -80px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_15
{
    background-position: -16px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_20
{
    background-position: -160px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_25
{
    background-position: -48px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_30
{
    background-position: -192px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_35
{
    background-position: 0px -202px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_40
{
    background-position: -144px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_45
{
    background-position: -192px -154px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_50
{
    background-position: -64px -186px;
    width: 15px;
    height: 15px;
}
.dxScheduler_AppointmentClockArrows_night_minute_55
{
    background-position: -96px -170px;
    width: 15px;
    height: 15px;
}
.dxScheduler_InplaceEditor_Cancel
{
    background-position: -169px -76px;
    width: 19px;
    height: 19px;
}
.dxScheduler_InplaceEditor_EditForm
{
    background-position: -80px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_InplaceEditor_Save
{
    background-position: -180px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_Menu_Delete
{
    background-position: -139px -136px;
    width: 16px;
    height: 16px;
}
.dxScheduler_Menu_GoToDate
{
    background-position: -122px -136px;
    width: 16px;
    height: 16px;
}
.dxScheduler_Menu_NewAppointment
{
    background-position: -105px -136px;
    width: 16px;
    height: 16px;
}
.dxScheduler_Menu_RecurringAppointment
{
    background-position: -88px -136px;
    width: 16px;
    height: 16px;
}
.dxScheduler_MoreButton_Bottom
{
    background-position: -66px -136px;
    width: 21px;
    height: 17px;
}
.dxScheduler_MoreButton_BottomHover
{
    background-position: 0px -136px;
    width: 21px;
    height: 17px;
}
.dxScheduler_MoreButton_Top
{
    background-position: -22px -136px;
    width: 21px;
    height: 17px;
}
.dxScheduler_MoreButton_TopHover
{
    background-position: -44px -136px;
    width: 21px;
    height: 17px;
}
.dxScheduler_NavigationButton_Backward
{
    background-position: -40px -54px;
    width: 19px;
    height: 41px;
}
.dxScheduler_NavigationButton_BackwardDisabled
{
    background-position: -60px -54px;
    width: 19px;
    height: 41px;
}
.dxScheduler_NavigationButton_BackwardHover
{
    background-position: -80px -54px;
    width: 19px;
    height: 41px;
}
.dxScheduler_NavigationButton_Forward
{
    background-position: 0px -54px;
    width: 19px;
    height: 41px;
}
.dxScheduler_NavigationButton_ForwardDisabled
{
    background-position: -20px -54px;
    width: 19px;
    height: 41px;
}
.dxScheduler_NavigationButton_ForwardHover
{
    background-position: -188px 0px;
    width: 19px;
    height: 41px;
}
.dxScheduler_ResourceNavigator_Decrease
{
    background-position: -129px -76px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_DecreaseDisabled
{
    background-position: -149px -76px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_DecreaseHover
{
    background-position: -140px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_First
{
    background-position: -120px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_FirstDisabled
{
    background-position: -100px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_FirstHover
{
    background-position: -80px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_Increase
{
    background-position: -20px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_IncreaseDisabled
{
    background-position: -109px -76px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_IncreaseHover
{
    background-position: 0px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_Last
{
    background-position: -100px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_LastDisabled
{
    background-position: -60px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_LastHover
{
    background-position: -159px -54px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_Next
{
    background-position: -20px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_NextDisabled
{
    background-position: -179px -54px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_NextHover
{
    background-position: -160px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_NextPage
{
    background-position: -160px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_NextPageDisabled
{
    background-position: -140px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_NextPageHover
{
    background-position: -40px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_Prev
{
    background-position: -189px -76px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_PrevDisabled
{
    background-position: -180px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_PrevHover
{
    background-position: -40px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_PrevPage
{
    background-position: 0px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_PrevPageDisabled
{
    background-position: -60px -96px;
    width: 19px;
    height: 19px;
}
.dxScheduler_ResourceNavigator_PrevPageHover
{
    background-position: -120px -116px;
    width: 19px;
    height: 19px;
}
.dxScheduler_SmartTag
{
    background-position: -202px -44px;
    width: 6px;
    height: 9px;
}
.dxScheduler_StatusInfo_Error
{
    background-position: -139px 0px;
    width: 48px;
    height: 48px;
}
.dxScheduler_StatusInfo_Info
{
    background-position: -90px 0px;
    width: 48px;
    height: 48px;
}
.dxScheduler_StatusInfo_Warning
{
    background-position: -41px 0px;
    width: 48px;
    height: 48px;
}
.dxScheduler_TimeMarker
{
    background-position: -100px -54px;
    width: 58px;
    height: 7px;
}
.dxScheduler_Tooltip_BottomLeft
{
    background-position: -199px -54px;
    width: 7px;
    height: 7px;
}
.dxScheduler_Tooltip_BottomRight
{
    background-position: -101px -88px;
    width: 7px;
    height: 7px;
}
.dxScheduler_Tooltip_BottomStem
{
    background-position: 0px 0px;
    width: 40px;
    height: 53px;
}
.dxScheduler_Tooltip_Empty
{
    background-position: -187px -52px;
    width: 1px;
    height: 1px;
}
.dxScheduler_Tooltip_TopLeft
{
    background-position: -194px -46px;
    width: 7px;
    height: 7px;
}
.dxScheduler_Tooltip_TopRight
{
    background-position: -108px -68px;
    width: 7px;
    height: 7px;
}
.dxScheduler_ViewNavigator_Backward
{
    background-position: -189px -46px;
    width: 4px;
    height: 7px;
}
.dxScheduler_ViewNavigator_Down
{
    background-position: -100px -68px;
    width: 7px;
    height: 7px;
}
.dxScheduler_ViewNavigator_Forward
{
    background-position: -116px -68px;
    width: 4px;
    height: 7px;
}
