.dxscNSR /* North-south resize adorner */
{    
	position: absolute;
	cursor: n-resize;
	height: 4px;
	background-color:White;
}
.dxscEWR /* East-west resize adorner */
{
	position: absolute;	
	cursor: e-resize;
	width: 4px;
	background-color:White;
}
.dxscSel /* Selection div*/
{
	position: absolute;
	opacity: 0.75;
	filter: alpha(opacity=75);
	background-color: Highlight;
}
.dxscAptSelDiv /* Selected appointment adorner div */
{
	position: absolute;
	display:none;
	padding: 0px;
	margin: 0px;	
	border: solid 2px Black;	
    -moz-box-sizing: content-box; 
    box-sizing: content-box;

}
.dxscDayScrollContainer /* Body cells scroll container div */
{
	position: relative;
	overflow: auto; /* Make scrolling work in Opera */
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

.dxscDayScrollContent /* Body cells scroll content div */
{
	position: relative;
	width: 100%;
}

.dxscDayScrollContentIE /* Body cells scroll content div */
{
	position: relative;
	width: expression(offsetParent.clientWidth);
}

.dxscDayScrollBodyTable /* Body cells table inside scroll content */
{
	width: 100%;
	table-layout: fixed;
}
.dxscDayADAContainer /* AllDay area scroll container */
{
	position: absolute;
	overflow: hidden;
}
.dxscDayADAScrollContainer /* AllDay area scroll container */
{
	position: absolute;
	overflow: auto; /* Make scrolling work in Opera */
	overflow-x: hidden;
	overflow-y: scroll;
}
.dxscDayHdrsTbl
{
	width: 100%;
	table-layout: fixed;
}
.dxscDayHdrsContainer
{
	position: relative;
}
.dxscRendererTable
{
	position: relative;
	width: 100%;
	border-collapse: separate;
	border-width: 0px;
	table-layout: fixed;
}
.dxscRangeControl .dxscRCEndByDateCell {
    width: 120px;
}
.dxscApt 
{
	display: none;
	position: absolute;
	overflow: hidden;		
	-ms-touch-action: pinch-zoom;
	touch-action: pinch-zoom;
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}
.dxscMoreButton
{    
	cursor: pointer;    
	position : absolute;
	white-space : nowrap;
	overflow: hidden;
}
.dxscViewNavigatorGotoTodayButton span.dx-vam,
.dxscVSHorz .dxbButtonSys span.dx-vam,
.dxscVSVert .dxbButtonSys span.dx-vam
{    
    vertical-align: baseline;
}
/* Appointment Form */
.dxscAppointmentForm .dxscSingleCell {
    width: 50%;
}
.dxscAppointmentForm .dxscDoubleCell {
    width: 100%;
}
.dxscAppointmentForm table.dxscLabelControlPair {
    width: 100%;
    height: 100%;
}
.dxscAppointmentForm table.dxscLabelControlPair .dxscLabelCell {
    width: 100px;
    height: 100%;
}
.dxscLabelCell {
	white-space: nowrap;	
}
.dxscAppointmentForm .dxscLabelControlPair .dxscControlCell {
    height: 100%;
}
.dxscAppointmentForm .dxscSingleCell, .dxscAppointmentForm .dxscDoubleCell {
    height: 26px;
}

.dxscSmartTagIndex 
{
	z-index:5;
}

.dxscSIImageCell 
{
	width: 54px;
	text-align: left;
}
.dxscSISubjectCell
{
	font-size: 11px;
}
.dxscSIDetailInfoLink
{		
	color: #853a3a;
	text-decoration: underline;
}
.dxscSIDetail
{
	font-size: 11px;
	padding-left: 54px;
}
.dxscRndTTR 
{
    font-size: 0;
    line-height: 0;    
}
.dxscCellWithPadding
{
    padding: 1px;
}
table.dxscBorderSpacing, table.dxscButtonTable
{
    border-collapse: separate;
    border-spacing: 2px;
}
