.dxIcon_other_a_32x32devav,
.dxIcon_other_a_32x32devav_disabled,
.dxIcon_actions_about_32x32devav,
.dxIcon_actions_about_32x32devav_disabled,
.dxIcon_other_b_32x32devav,
.dxIcon_other_b_32x32devav_disabled,
.dxIcon_actions_buy_32x32devav,
.dxIcon_actions_buy_32x32devav_disabled,
.dxIcon_view_card_32x32devav,
.dxIcon_view_card_32x32devav_disabled,
.dxIcon_layout_carousel_32x32devav,
.dxIcon_layout_carousel_32x32devav_disabled,
.dxIcon_actions_changeview_32x32devav,
.dxIcon_actions_changeview_32x32devav_disabled,
.dxIcon_actions_close_32x32devav,
.dxIcon_actions_close_32x32devav_disabled,
.dxIcon_print_contactdirectory_32x32devav,
.dxIcon_print_contactdirectory_32x32devav_disabled,
.dxIcon_actions_costanalysis_32x32devav,
.dxIcon_actions_costanalysis_32x32devav_disabled,
.dxIcon_view_customers_32x32devav,
.dxIcon_view_customers_32x32devav_disabled,
.dxIcon_layout_datapanel_32x32devav,
.dxIcon_layout_datapanel_32x32devav_disabled,
.dxIcon_actions_delete_32x32devav,
.dxIcon_actions_delete_32x32devav_disabled,
.dxIcon_actions_driving_32x32devav,
.dxIcon_actions_driving_32x32devav_disabled,
.dxIcon_actions_edit_32x32devav,
.dxIcon_actions_edit_32x32devav_disabled,
.dxIcon_print_employeedirectory_32x32devav,
.dxIcon_print_employeedirectory_32x32devav_disabled,
.dxIcon_view_employees_32x32devav,
.dxIcon_view_employees_32x32devav_disabled,
.dxIcon_actions_expandcollapse_32x32devav,
.dxIcon_actions_expandcollapse_32x32devav_disabled,
.dxIcon_actions_export_32x32devav,
.dxIcon_actions_export_32x32devav_disabled,
.dxIcon_actions_filter_32x32devav,
.dxIcon_actions_filter_32x32devav_disabled,
.dxIcon_layout_folderpanel_32x32devav,
.dxIcon_layout_folderpanel_32x32devav_disabled,
.dxIcon_arrows_forward_32x32devav,
.dxIcon_arrows_forward_32x32devav_disabled,
.dxIcon_actions_gettingstarted_32x32devav,
.dxIcon_actions_gettingstarted_32x32devav_disabled,
.dxIcon_actions_hideproduct_32x32devav,
.dxIcon_actions_hideproduct_32x32devav_disabled,
.dxIcon_opportunities_hight_32x32devav,
.dxIcon_opportunities_hight_32x32devav_disabled,
.dxIcon_arrows_left_32x32devav,
.dxIcon_arrows_left_32x32devav_disabled,
.dxIcon_arrows_left2_32x32devav,
.dxIcon_arrows_left2_32x32devav_disabled,
.dxIcon_layout_list_32x32devav,
.dxIcon_layout_list_32x32devav_disabled,
.dxIcon_opportunities_low_32x32devav,
.dxIcon_opportunities_low_32x32devav_disabled,
.dxIcon_actions_mailmerge_32x32devav,
.dxIcon_actions_mailmerge_32x32devav_disabled,
.dxIcon_actions_mapit_32x32devav,
.dxIcon_actions_mapit_32x32devav_disabled,
.dxIcon_opportunities_medium_32x32devav,
.dxIcon_opportunities_medium_32x32devav_disabled,
.dxIcon_view_meeting_32x32devav,
.dxIcon_view_meeting_32x32devav_disabled,
.dxIcon_actions_navigate_32x32devav,
.dxIcon_actions_navigate_32x32devav_disabled,
.dxIcon_actions_newcustomers_32x32devav,
.dxIcon_actions_newcustomers_32x32devav_disabled,
.dxIcon_actions_newdoc_32x32devav,
.dxIcon_actions_newdoc_32x32devav_disabled,
.dxIcon_actions_newemployee_32x32devav,
.dxIcon_actions_newemployee_32x32devav_disabled,
.dxIcon_actions_newgroup_32x32devav,
.dxIcon_actions_newgroup_32x32devav_disabled,
.dxIcon_actions_newitem_32x32devav,
.dxIcon_actions_newitem_32x32devav_disabled,
.dxIcon_actions_newopportunities_32x32devav,
.dxIcon_actions_newopportunities_32x32devav_disabled,
.dxIcon_actions_newproducts_32x32devav,
.dxIcon_actions_newproducts_32x32devav_disabled,
.dxIcon_actions_newsales_32x32devav,
.dxIcon_actions_newsales_32x32devav_disabled,
.dxIcon_actions_opendoc_32x32devav,
.dxIcon_actions_opendoc_32x32devav_disabled,
.dxIcon_view_opportunities_32x32devav,
.dxIcon_view_opportunities_32x32devav_disabled,
.dxIcon_print_orderdetail_32x32devav,
.dxIcon_print_orderdetail_32x32devav_disabled,
.dxIcon_layout_panelbottom_32x32devav,
.dxIcon_layout_panelbottom_32x32devav_disabled,
.dxIcon_layout_paneloff_32x32devav,
.dxIcon_layout_paneloff_32x32devav_disabled,
.dxIcon_layout_panelright_32x32devav,
.dxIcon_layout_panelright_32x32devav_disabled,
.dxIcon_actions_print_32x32devav,
.dxIcon_actions_print_32x32devav_disabled,
.dxIcon_actions_printduedate_32x32devav,
.dxIcon_actions_printduedate_32x32devav_disabled,
.dxIcon_actions_printexcludeevaluations_32x32devav,
.dxIcon_actions_printexcludeevaluations_32x32devav_disabled,
.dxIcon_actions_printincludeevaluations_32x32devav,
.dxIcon_actions_printincludeevaluations_32x32devav_disabled,
.dxIcon_actions_printpreview_32x32devav,
.dxIcon_actions_printpreview_32x32devav_disabled,
.dxIcon_actions_printquick_32x32devav,
.dxIcon_actions_printquick_32x32devav_disabled,
.dxIcon_actions_printsortasc_32x32devav,
.dxIcon_actions_printsortasc_32x32devav_disabled,
.dxIcon_actions_printsortdesc_32x32devav,
.dxIcon_actions_printsortdesc_32x32devav_disabled,
.dxIcon_actions_printstartdate_32x32devav,
.dxIcon_actions_printstartdate_32x32devav_disabled,
.dxIcon_view_products_32x32devav,
.dxIcon_view_products_32x32devav_disabled,
.dxIcon_print_profile_32x32devav,
.dxIcon_print_profile_32x32devav_disabled,
.dxIcon_actions_redo_32x32devav,
.dxIcon_actions_redo_32x32devav_disabled,
.dxIcon_print_report_32x32devav,
.dxIcon_print_report_32x32devav_disabled,
.dxIcon_actions_resetchanges_32x32devav,
.dxIcon_actions_resetchanges_32x32devav_disabled,
.dxIcon_actions_reverssort_32x32devav,
.dxIcon_actions_reverssort_32x32devav_disabled,
.dxIcon_arrows_right_32x32devav,
.dxIcon_arrows_right_32x32devav_disabled,
.dxIcon_arrows_right2_32x32devav,
.dxIcon_arrows_right2_32x32devav_disabled,
.dxIcon_print_saledetalis_32x32devav,
.dxIcon_print_saledetalis_32x32devav_disabled,
.dxIcon_view_sales_32x32devav,
.dxIcon_view_sales_32x32devav_disabled,
.dxIcon_sales_salesanalysis_32x32devav,
.dxIcon_sales_salesanalysis_32x32devav_disabled,
.dxIcon_sales_salesperiodlifetime_32x32devav,
.dxIcon_sales_salesperiodlifetime_32x32devav_disabled,
.dxIcon_sales_salesperiodmonth_32x32devav,
.dxIcon_sales_salesperiodmonth_32x32devav_disabled,
.dxIcon_sales_salesperiodyear_32x32devav,
.dxIcon_sales_salesperiodyear_32x32devav_disabled,
.dxIcon_print_salessummary_32x32devav,
.dxIcon_print_salessummary_32x32devav_disabled,
.dxIcon_print_salessummary2_32x32devav,
.dxIcon_print_salessummary2_32x32devav_disabled,
.dxIcon_actions_save_32x32devav,
.dxIcon_actions_save_32x32devav_disabled,
.dxIcon_actions_saveas_32x32devav,
.dxIcon_actions_saveas_32x32devav_disabled,
.dxIcon_actions_saveclose_32x32devav,
.dxIcon_actions_saveclose_32x32devav_disabled,
.dxIcon_actions_showproduct_32x32devav,
.dxIcon_actions_showproduct_32x32devav_disabled,
.dxIcon_actions_sortbyinvoice_32x32devav,
.dxIcon_actions_sortbyinvoice_32x32devav_disabled,
.dxIcon_actions_sortbyorderdate_32x32devav,
.dxIcon_actions_sortbyorderdate_32x32devav_disabled,
.dxIcon_print_specificationsummary_32x32devav,
.dxIcon_print_specificationsummary_32x32devav_disabled,
.dxIcon_print_summary_32x32devav,
.dxIcon_print_summary_32x32devav_disabled,
.dxIcon_actions_support_32x32devav,
.dxIcon_actions_support_32x32devav_disabled,
.dxIcon_actions_task_32x32devav,
.dxIcon_actions_task_32x32devav_disabled,
.dxIcon_print_tasklist_32x32devav,
.dxIcon_print_tasklist_32x32devav_disabled,
.dxIcon_actions_undo_32x32devav,
.dxIcon_actions_undo_32x32devav_disabled,
.dxIcon_opportunities_unlike_32x32devav,
.dxIcon_opportunities_unlike_32x32devav_disabled,
.dxIcon_arrows_uturnleft_32x32devav,
.dxIcon_arrows_uturnleft_32x32devav_disabled,
.dxIcon_arrows_uturnright_32x32devav,
.dxIcon_arrows_uturnright_32x32devav_disabled,
.dxIcon_actions_viewreset_32x32devav,
.dxIcon_actions_viewreset_32x32devav_disabled,
.dxIcon_actions_viewsetting_32x32devav,
.dxIcon_actions_viewsetting_32x32devav_disabled,
.dxIcon_people_walking_32x32devav,
.dxIcon_people_walking_32x32devav_disabled
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxThemes.Icons.sprite_32x32devav.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxIcon_other_a_32x32devav
{
    background-position: -33px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_other_a_32x32devav_disabled
{
    background-position: -33px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_about_32x32devav
{
    background-position: 0px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_about_32x32devav_disabled
{
    background-position: 0px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_other_b_32x32devav
{
    background-position: 0px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_other_b_32x32devav_disabled
{
    background-position: 0px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_buy_32x32devav
{
    background-position: -198px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_buy_32x32devav_disabled
{
    background-position: -198px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_card_32x32devav
{
    background-position: -66px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_card_32x32devav_disabled
{
    background-position: -66px -759px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_carousel_32x32devav
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_carousel_32x32devav_disabled
{
    background-position: -99px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_changeview_32x32devav
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_changeview_32x32devav_disabled
{
    background-position: -198px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_close_32x32devav
{
    background-position: -33px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_close_32x32devav_disabled
{
    background-position: -33px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_contactdirectory_32x32devav
{
    background-position: 0px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_contactdirectory_32x32devav_disabled
{
    background-position: 0px -759px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_costanalysis_32x32devav
{
    background-position: -99px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_costanalysis_32x32devav_disabled
{
    background-position: -99px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_customers_32x32devav
{
    background-position: -198px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_customers_32x32devav_disabled
{
    background-position: -198px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_datapanel_32x32devav
{
    background-position: -99px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_datapanel_32x32devav_disabled
{
    background-position: -99px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_delete_32x32devav
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_delete_32x32devav_disabled
{
    background-position: -33px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_driving_32x32devav
{
    background-position: -33px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_driving_32x32devav_disabled
{
    background-position: -33px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_edit_32x32devav
{
    background-position: -99px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_edit_32x32devav_disabled
{
    background-position: -99px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_employeedirectory_32x32devav
{
    background-position: 0px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_employeedirectory_32x32devav_disabled
{
    background-position: 0px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_employees_32x32devav
{
    background-position: -132px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_employees_32x32devav_disabled
{
    background-position: -132px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_expandcollapse_32x32devav
{
    background-position: -132px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_expandcollapse_32x32devav_disabled
{
    background-position: -132px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_export_32x32devav
{
    background-position: -198px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_export_32x32devav_disabled
{
    background-position: -198px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_filter_32x32devav
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_filter_32x32devav_disabled
{
    background-position: -132px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_folderpanel_32x32devav
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_folderpanel_32x32devav_disabled
{
    background-position: -198px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_forward_32x32devav
{
    background-position: -198px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_forward_32x32devav_disabled
{
    background-position: -198px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_gettingstarted_32x32devav
{
    background-position: -33px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_gettingstarted_32x32devav_disabled
{
    background-position: -33px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_hideproduct_32x32devav
{
    background-position: 0px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_hideproduct_32x32devav_disabled
{
    background-position: 0px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_hight_32x32devav
{
    background-position: -33px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_hight_32x32devav_disabled
{
    background-position: -33px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_left_32x32devav
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_left_32x32devav_disabled
{
    background-position: -165px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_left2_32x32devav
{
    background-position: -165px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_left2_32x32devav_disabled
{
    background-position: -165px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_list_32x32devav
{
    background-position: -165px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_list_32x32devav_disabled
{
    background-position: -165px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_low_32x32devav
{
    background-position: -66px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_low_32x32devav_disabled
{
    background-position: -66px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_mailmerge_32x32devav
{
    background-position: -66px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_mailmerge_32x32devav_disabled
{
    background-position: -66px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_mapit_32x32devav
{
    background-position: 0px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_mapit_32x32devav_disabled
{
    background-position: 0px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_medium_32x32devav
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_medium_32x32devav_disabled
{
    background-position: -165px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_meeting_32x32devav
{
    background-position: -198px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_meeting_32x32devav_disabled
{
    background-position: -198px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_navigate_32x32devav
{
    background-position: -198px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_navigate_32x32devav_disabled
{
    background-position: -198px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newcustomers_32x32devav
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newcustomers_32x32devav_disabled
{
    background-position: -165px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newdoc_32x32devav
{
    background-position: -99px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newdoc_32x32devav_disabled
{
    background-position: -99px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newemployee_32x32devav
{
    background-position: 0px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newemployee_32x32devav_disabled
{
    background-position: 0px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newgroup_32x32devav
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newgroup_32x32devav_disabled
{
    background-position: -99px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newitem_32x32devav
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newitem_32x32devav_disabled
{
    background-position: -198px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newopportunities_32x32devav
{
    background-position: 0px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newopportunities_32x32devav_disabled
{
    background-position: 0px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newproducts_32x32devav
{
    background-position: -198px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newproducts_32x32devav_disabled
{
    background-position: -198px -759px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newsales_32x32devav
{
    background-position: -99px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_newsales_32x32devav_disabled
{
    background-position: -99px -759px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_opendoc_32x32devav
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_opendoc_32x32devav_disabled
{
    background-position: -165px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_opportunities_32x32devav
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_opportunities_32x32devav_disabled
{
    background-position: -66px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_orderdetail_32x32devav
{
    background-position: 0px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_orderdetail_32x32devav_disabled
{
    background-position: 0px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_panelbottom_32x32devav
{
    background-position: -99px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_panelbottom_32x32devav_disabled
{
    background-position: -99px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_paneloff_32x32devav
{
    background-position: -33px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_paneloff_32x32devav_disabled
{
    background-position: -33px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_panelright_32x32devav
{
    background-position: -66px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_layout_panelright_32x32devav_disabled
{
    background-position: -66px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_print_32x32devav
{
    background-position: -132px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_print_32x32devav_disabled
{
    background-position: -132px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printduedate_32x32devav
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printduedate_32x32devav_disabled
{
    background-position: -132px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printexcludeevaluations_32x32devav
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printexcludeevaluations_32x32devav_disabled
{
    background-position: -33px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printincludeevaluations_32x32devav
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printincludeevaluations_32x32devav_disabled
{
    background-position: 0px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printpreview_32x32devav
{
    background-position: -99px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printpreview_32x32devav_disabled
{
    background-position: -99px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printquick_32x32devav
{
    background-position: -33px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printquick_32x32devav_disabled
{
    background-position: -33px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printsortasc_32x32devav
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printsortasc_32x32devav_disabled
{
    background-position: -66px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printsortdesc_32x32devav
{
    background-position: -132px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printsortdesc_32x32devav_disabled
{
    background-position: -132px -759px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printstartdate_32x32devav
{
    background-position: -165px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_printstartdate_32x32devav_disabled
{
    background-position: -165px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_products_32x32devav
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_products_32x32devav_disabled
{
    background-position: -33px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_profile_32x32devav
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_profile_32x32devav_disabled
{
    background-position: 0px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_redo_32x32devav
{
    background-position: -66px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_redo_32x32devav_disabled
{
    background-position: -66px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_report_32x32devav
{
    background-position: -198px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_report_32x32devav_disabled
{
    background-position: -198px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_resetchanges_32x32devav
{
    background-position: -165px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_resetchanges_32x32devav_disabled
{
    background-position: -165px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_reverssort_32x32devav
{
    background-position: -165px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_reverssort_32x32devav_disabled
{
    background-position: -165px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_right_32x32devav
{
    background-position: -132px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_right_32x32devav_disabled
{
    background-position: -132px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_right2_32x32devav
{
    background-position: -33px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_right2_32x32devav_disabled
{
    background-position: -33px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_saledetalis_32x32devav
{
    background-position: -66px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_saledetalis_32x32devav_disabled
{
    background-position: -66px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_sales_32x32devav
{
    background-position: -165px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_view_sales_32x32devav_disabled
{
    background-position: -165px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesanalysis_32x32devav
{
    background-position: -66px -165px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesanalysis_32x32devav_disabled
{
    background-position: -66px -594px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesperiodlifetime_32x32devav
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesperiodlifetime_32x32devav_disabled
{
    background-position: -132px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesperiodmonth_32x32devav
{
    background-position: -132px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesperiodmonth_32x32devav_disabled
{
    background-position: -132px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesperiodyear_32x32devav
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_sales_salesperiodyear_32x32devav_disabled
{
    background-position: -198px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_salessummary_32x32devav
{
    background-position: -165px -198px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_salessummary_32x32devav_disabled
{
    background-position: -165px -627px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_salessummary2_32x32devav
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_salessummary2_32x32devav_disabled
{
    background-position: 0px -462px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_save_32x32devav
{
    background-position: -198px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_save_32x32devav_disabled
{
    background-position: -198px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_saveas_32x32devav
{
    background-position: -132px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_saveas_32x32devav_disabled
{
    background-position: -132px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_saveclose_32x32devav
{
    background-position: -66px -363px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_saveclose_32x32devav_disabled
{
    background-position: -66px -792px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_showproduct_32x32devav
{
    background-position: -132px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_showproduct_32x32devav_disabled
{
    background-position: -132px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_sortbyinvoice_32x32devav
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_sortbyinvoice_32x32devav_disabled
{
    background-position: -33px -528px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_sortbyorderdate_32x32devav
{
    background-position: -99px -231px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_sortbyorderdate_32x32devav_disabled
{
    background-position: -99px -660px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_specificationsummary_32x32devav
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_specificationsummary_32x32devav_disabled
{
    background-position: -66px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_summary_32x32devav
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_summary_32x32devav_disabled
{
    background-position: -99px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_support_32x32devav
{
    background-position: -165px -297px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_support_32x32devav_disabled
{
    background-position: -165px -726px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_task_32x32devav
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_task_32x32devav_disabled
{
    background-position: 0px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_tasklist_32x32devav
{
    background-position: -66px -132px;
    width: 32px;
    height: 32px;
}
.dxIcon_print_tasklist_32x32devav_disabled
{
    background-position: -66px -561px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_undo_32x32devav
{
    background-position: -33px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_undo_32x32devav_disabled
{
    background-position: -33px -759px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_unlike_32x32devav
{
    background-position: -132px -264px;
    width: 32px;
    height: 32px;
}
.dxIcon_opportunities_unlike_32x32devav_disabled
{
    background-position: -132px -693px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_uturnleft_32x32devav
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_uturnleft_32x32devav_disabled
{
    background-position: -99px -429px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_uturnright_32x32devav
{
    background-position: -99px -396px;
    width: 32px;
    height: 32px;
}
.dxIcon_arrows_uturnright_32x32devav_disabled
{
    background-position: -99px -825px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_viewreset_32x32devav
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_viewreset_32x32devav_disabled
{
    background-position: -66px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_viewsetting_32x32devav
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxIcon_actions_viewsetting_32x32devav_disabled
{
    background-position: -132px -495px;
    width: 32px;
    height: 32px;
}
.dxIcon_people_walking_32x32devav
{
    background-position: -165px -330px;
    width: 32px;
    height: 32px;
}
.dxIcon_people_walking_32x32devav_disabled
{
    background-position: -165px -759px;
    width: 32px;
    height: 32px;
}
