.dxIcon_actions_about_16x16devav,
.dxIcon_actions_about_16x16devav_disabled,
.dxIcon_actions_addcolumn_16x16devav,
.dxIcon_actions_addcolumn_16x16devav_disabled,
.dxIcon_other_brand_16x16devav,
.dxIcon_other_brand_16x16devav_disabled,
.dxIcon_actions_buy_16x16devav,
.dxIcon_actions_buy_16x16devav_disabled,
.dxIcon_view_card_16x16devav,
.dxIcon_view_card_16x16devav_disabled,
.dxIcon_layout_carousel_16x16devav,
.dxIcon_layout_carousel_16x16devav_disabled,
.dxIcon_actions_changeview_16x16devav,
.dxIcon_actions_changeview_16x16devav_disabled,
.dxIcon_actions_close_16x16devav,
.dxIcon_actions_close_16x16devav_disabled,
.dxIcon_print_contactdirectory_16x16devav,
.dxIcon_print_contactdirectory_16x16devav_disabled,
.dxIcon_actions_costanalysis_16x16devav,
.dxIcon_actions_costanalysis_16x16devav_disabled,
.dxIcon_people_customeremployees_16x16devav,
.dxIcon_people_customeremployees_16x16devav_disabled,
.dxIcon_people_customerlocation_16x16devav,
.dxIcon_people_customerlocation_16x16devav_disabled,
.dxIcon_view_customers_16x16devav,
.dxIcon_view_customers_16x16devav_disabled,
.dxIcon_people_customersales_16x16devav,
.dxIcon_people_customersales_16x16devav_disabled,
.dxIcon_layout_datapanel_16x16devav,
.dxIcon_layout_datapanel_16x16devav_disabled,
.dxIcon_actions_delete_16x16devav,
.dxIcon_actions_delete_16x16devav_disabled,
.dxIcon_actions_docking_16x16devav,
.dxIcon_actions_docking_16x16devav_disabled,
.dxIcon_people_doctor_16x16devav,
.dxIcon_people_doctor_16x16devav_disabled,
.dxIcon_actions_driving_16x16devav,
.dxIcon_actions_driving_16x16devav_disabled,
.dxIcon_actions_edit_16x16devav,
.dxIcon_actions_edit_16x16devav_disabled,
.dxIcon_people_employeeaward_16x16devav,
.dxIcon_people_employeeaward_16x16devav_disabled,
.dxIcon_print_employeedirectory_16x16devav,
.dxIcon_print_employeedirectory_16x16devav_disabled,
.dxIcon_people_employeeexcellence_16x16devav,
.dxIcon_people_employeeexcellence_16x16devav_disabled,
.dxIcon_people_employeenotice_16x16devav,
.dxIcon_people_employeenotice_16x16devav_disabled,
.dxIcon_view_employees_16x16devav,
.dxIcon_view_employees_16x16devav_disabled,
.dxIcon_people_employeethank_16x16devav,
.dxIcon_people_employeethank_16x16devav_disabled,
.dxIcon_people_employeewelcome_16x16devav,
.dxIcon_people_employeewelcome_16x16devav_disabled,
.dxIcon_actions_expandcollapse_16x16devav,
.dxIcon_actions_expandcollapse_16x16devav_disabled,
.dxIcon_actions_export_16x16devav,
.dxIcon_actions_export_16x16devav_disabled,
.dxIcon_actions_filter_16x16devav,
.dxIcon_actions_filter_16x16devav_disabled,
.dxIcon_actions_fittopage_16x16devav,
.dxIcon_actions_fittopage_16x16devav_disabled,
.dxIcon_layout_folderpanel_16x16devav,
.dxIcon_layout_folderpanel_16x16devav_disabled,
.dxIcon_actions_gettingstarted_16x16devav,
.dxIcon_actions_gettingstarted_16x16devav_disabled,
.dxIcon_actions_hideproduct_16x16devav,
.dxIcon_actions_hideproduct_16x16devav_disabled,
.dxIcon_priorities_highpriority_16x16devav,
.dxIcon_priorities_highpriority_16x16devav_disabled,
.dxIcon_opportunities_hight_16x16devav,
.dxIcon_opportunities_hight_16x16devav_disabled,
.dxIcon_layout_list_16x16devav,
.dxIcon_layout_list_16x16devav_disabled,
.dxIcon_opportunities_low_16x16devav,
.dxIcon_opportunities_low_16x16devav_disabled,
.dxIcon_priorities_lowpriority_16x16devav,
.dxIcon_priorities_lowpriority_16x16devav_disabled,
.dxIcon_contacts_mail_16x16devav,
.dxIcon_contacts_mail_16x16devav_disabled,
.dxIcon_contacts_mail2_16x16devav,
.dxIcon_contacts_mail2_16x16devav_disabled,
.dxIcon_contacts_mail3_16x16devav,
.dxIcon_contacts_mail3_16x16devav_disabled,
.dxIcon_actions_mailmerge_16x16devav,
.dxIcon_actions_mailmerge_16x16devav_disabled,
.dxIcon_actions_mapit_16x16devav,
.dxIcon_actions_mapit_16x16devav_disabled,
.dxIcon_opportunities_medium_16x16devav,
.dxIcon_opportunities_medium_16x16devav_disabled,
.dxIcon_priorities_mediumpriority_16x16devav,
.dxIcon_priorities_mediumpriority_16x16devav_disabled,
.dxIcon_view_meeting_16x16devav,
.dxIcon_view_meeting_16x16devav_disabled,
.dxIcon_contacts_message_16x16devav,
.dxIcon_contacts_message_16x16devav_disabled,
.dxIcon_people_miss_16x16devav,
.dxIcon_people_miss_16x16devav_disabled,
.dxIcon_contacts_mobilephone_16x16devav,
.dxIcon_contacts_mobilephone_16x16devav_disabled,
.dxIcon_contacts_mobilephone2_16x16devav,
.dxIcon_contacts_mobilephone2_16x16devav_disabled,
.dxIcon_people_mr_16x16devav,
.dxIcon_people_mr_16x16devav_disabled,
.dxIcon_people_mrs_16x16devav,
.dxIcon_people_mrs_16x16devav_disabled,
.dxIcon_people_ms_16x16devav,
.dxIcon_people_ms_16x16devav_disabled,
.dxIcon_actions_navigate_16x16devav,
.dxIcon_actions_navigate_16x16devav_disabled,
.dxIcon_actions_newcustomers_16x16devav,
.dxIcon_actions_newcustomers_16x16devav_disabled,
.dxIcon_actions_newdoc_16x16devav,
.dxIcon_actions_newdoc_16x16devav_disabled,
.dxIcon_actions_newemployee_16x16devav,
.dxIcon_actions_newemployee_16x16devav_disabled,
.dxIcon_actions_newgroup_16x16devav,
.dxIcon_actions_newgroup_16x16devav_disabled,
.dxIcon_actions_newitem_16x16devav,
.dxIcon_actions_newitem_16x16devav_disabled,
.dxIcon_actions_newopportunities_16x16devav,
.dxIcon_actions_newopportunities_16x16devav_disabled,
.dxIcon_actions_newproducts_16x16devav,
.dxIcon_actions_newproducts_16x16devav_disabled,
.dxIcon_actions_newsales_16x16devav,
.dxIcon_actions_newsales_16x16devav_disabled,
.dxIcon_priorities_normalpriority_16x16devav,
.dxIcon_priorities_normalpriority_16x16devav_disabled,
.dxIcon_actions_opendoc_16x16devav,
.dxIcon_actions_opendoc_16x16devav_disabled,
.dxIcon_view_opportunities_16x16devav,
.dxIcon_view_opportunities_16x16devav_disabled,
.dxIcon_actions_pagenext_16x16devav,
.dxIcon_actions_pagenext_16x16devav_disabled,
.dxIcon_actions_pageprev_16x16devav,
.dxIcon_actions_pageprev_16x16devav_disabled,
.dxIcon_layout_pages_16x16devav,
.dxIcon_layout_pages_16x16devav_disabled,
.dxIcon_layout_panelbottom_16x16devav,
.dxIcon_layout_panelbottom_16x16devav_disabled,
.dxIcon_layout_paneloff_16x16devav,
.dxIcon_layout_paneloff_16x16devav_disabled,
.dxIcon_layout_panelright_16x16devav,
.dxIcon_layout_panelright_16x16devav_disabled,
.dxIcon_people_people_16x16devav,
.dxIcon_people_people_16x16devav_disabled,
.dxIcon_contacts_phone_16x16devav,
.dxIcon_contacts_phone_16x16devav_disabled,
.dxIcon_contacts_phone2_16x16devav,
.dxIcon_contacts_phone2_16x16devav_disabled,
.dxIcon_contacts_phone3_16x16devav,
.dxIcon_contacts_phone3_16x16devav_disabled,
.dxIcon_actions_print_16x16devav,
.dxIcon_actions_print_16x16devav_disabled,
.dxIcon_actions_printduedate_16x16devav,
.dxIcon_actions_printduedate_16x16devav_disabled,
.dxIcon_actions_printpreview_16x16devav,
.dxIcon_actions_printpreview_16x16devav_disabled,
.dxIcon_actions_printquick_16x16devav,
.dxIcon_actions_printquick_16x16devav_disabled,
.dxIcon_actions_printsortasc_16x16devav,
.dxIcon_actions_printsortasc_16x16devav_disabled,
.dxIcon_actions_printsortdesc_16x16devav,
.dxIcon_actions_printsortdesc_16x16devav_disabled,
.dxIcon_actions_printstartdate_16x16devav,
.dxIcon_actions_printstartdate_16x16devav_disabled,
.dxIcon_actions_productcomparisons_16x16devav,
.dxIcon_actions_productcomparisons_16x16devav_disabled,
.dxIcon_print_productorderdetail_16x16devav,
.dxIcon_print_productorderdetail_16x16devav_disabled,
.dxIcon_view_products_16x16devav,
.dxIcon_view_products_16x16devav_disabled,
.dxIcon_actions_productsalesreport_16x16devav,
.dxIcon_actions_productsalesreport_16x16devav_disabled,
.dxIcon_actions_productshipments_16x16devav,
.dxIcon_actions_productshipments_16x16devav_disabled,
.dxIcon_actions_producttopsalesperson_16x16devav,
.dxIcon_actions_producttopsalesperson_16x16devav_disabled,
.dxIcon_print_profile_16x16devav,
.dxIcon_print_profile_16x16devav_disabled,
.dxIcon_print_profilereport_16x16devav,
.dxIcon_print_profilereport_16x16devav_disabled,
.dxIcon_actions_redo_16x16devav,
.dxIcon_actions_redo_16x16devav_disabled,
.dxIcon_actions_resetchanges_16x16devav,
.dxIcon_actions_resetchanges_16x16devav_disabled,
.dxIcon_actions_reverssort_16x16devav,
.dxIcon_actions_reverssort_16x16devav_disabled,
.dxIcon_print_saledetalis_16x16devav,
.dxIcon_print_saledetalis_16x16devav_disabled,
.dxIcon_view_sales_16x16devav,
.dxIcon_view_sales_16x16devav_disabled,
.dxIcon_sales_salesanalysis_16x16devav,
.dxIcon_sales_salesanalysis_16x16devav_disabled,
.dxIcon_print_salesbystore_16x16devav,
.dxIcon_print_salesbystore_16x16devav_disabled,
.dxIcon_sales_salesinvoice_16x16devav,
.dxIcon_sales_salesinvoice_16x16devav_disabled,
.dxIcon_print_salesinvoice_16x16devav,
.dxIcon_print_salesinvoice_16x16devav_disabled,
.dxIcon_sales_salesperiodlifetime_16x16devav,
.dxIcon_sales_salesperiodlifetime_16x16devav_disabled,
.dxIcon_sales_salesperiodmonth_16x16devav,
.dxIcon_sales_salesperiodmonth_16x16devav_disabled,
.dxIcon_sales_salesperiodyear_16x16devav,
.dxIcon_sales_salesperiodyear_16x16devav_disabled,
.dxIcon_sales_salesreport_16x16devav,
.dxIcon_sales_salesreport_16x16devav_disabled,
.dxIcon_print_salesreport_16x16devav,
.dxIcon_print_salesreport_16x16devav_disabled,
.dxIcon_sales_salessummary_16x16devav,
.dxIcon_sales_salessummary_16x16devav_disabled,
.dxIcon_print_salessummary_16x16devav,
.dxIcon_print_salessummary_16x16devav_disabled,
.dxIcon_print_salessummary2_16x16devav,
.dxIcon_print_salessummary2_16x16devav_disabled,
.dxIcon_sales_salesthankyou_16x16devav,
.dxIcon_sales_salesthankyou_16x16devav_disabled,
.dxIcon_actions_save_16x16devav,
.dxIcon_actions_save_16x16devav_disabled,
.dxIcon_actions_saveas_16x16devav,
.dxIcon_actions_saveas_16x16devav_disabled,
.dxIcon_actions_saveclose_16x16devav,
.dxIcon_actions_saveclose_16x16devav_disabled,
.dxIcon_actions_search_16x16devav,
.dxIcon_actions_search_16x16devav_disabled,
.dxIcon_actions_showproduct_16x16devav,
.dxIcon_actions_showproduct_16x16devav_disabled,
.dxIcon_contacts_skype_16x16devav,
.dxIcon_contacts_skype_16x16devav_disabled,
.dxIcon_contacts_skype2_16x16devav,
.dxIcon_contacts_skype2_16x16devav_disabled,
.dxIcon_actions_sortbyinvoice_16x16devav,
.dxIcon_actions_sortbyinvoice_16x16devav_disabled,
.dxIcon_actions_sortbyorderdate_16x16devav,
.dxIcon_actions_sortbyorderdate_16x16devav_disabled,
.dxIcon_print_specificationsummary_16x16devav,
.dxIcon_print_specificationsummary_16x16devav_disabled,
.dxIcon_print_summary_16x16devav,
.dxIcon_print_summary_16x16devav_disabled,
.dxIcon_actions_support_16x16devav,
.dxIcon_actions_support_16x16devav_disabled,
.dxIcon_actions_task_16x16devav,
.dxIcon_actions_task_16x16devav_disabled,
.dxIcon_print_tasklist_16x16devav,
.dxIcon_print_tasklist_16x16devav_disabled,
.dxIcon_actions_undo_16x16devav,
.dxIcon_actions_undo_16x16devav_disabled,
.dxIcon_opportunities_unlike_16x16devav,
.dxIcon_opportunities_unlike_16x16devav_disabled,
.dxIcon_contacts_video_16x16devav,
.dxIcon_contacts_video_16x16devav_disabled,
.dxIcon_actions_viewreset_16x16devav,
.dxIcon_actions_viewreset_16x16devav_disabled,
.dxIcon_actions_viewsetting_16x16devav,
.dxIcon_actions_viewsetting_16x16devav_disabled,
.dxIcon_people_walking_16x16devav,
.dxIcon_people_walking_16x16devav_disabled
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxThemes.Icons.sprite_16x16devav.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxIcon_actions_about_16x16devav
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_about_16x16devav_disabled
{
    background-position: 0px -748px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_addcolumn_16x16devav
{
    background-position: -34px -221px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_addcolumn_16x16devav_disabled
{
    background-position: -34px -952px;
    width: 16px;
    height: 16px;
}
.dxIcon_other_brand_16x16devav
{
    background-position: -17px -612px;
    width: 16px;
    height: 16px;
}
.dxIcon_other_brand_16x16devav_disabled
{
    background-position: -17px -1343px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_buy_16x16devav
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_buy_16x16devav_disabled
{
    background-position: 0px -901px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_card_16x16devav
{
    background-position: -17px -697px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_card_16x16devav_disabled
{
    background-position: -17px -1428px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_carousel_16x16devav
{
    background-position: -17px -102px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_carousel_16x16devav_disabled
{
    background-position: -17px -833px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_changeview_16x16devav
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_changeview_16x16devav_disabled
{
    background-position: 0px -765px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_close_16x16devav
{
    background-position: 0px -578px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_close_16x16devav_disabled
{
    background-position: 0px -1309px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_contactdirectory_16x16devav
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_contactdirectory_16x16devav_disabled
{
    background-position: 0px -731px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_costanalysis_16x16devav
{
    background-position: -17px -289px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_costanalysis_16x16devav_disabled
{
    background-position: -17px -1020px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_customeremployees_16x16devav
{
    background-position: 0px -646px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_customeremployees_16x16devav_disabled
{
    background-position: 0px -1377px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_customerlocation_16x16devav
{
    background-position: -34px -102px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_customerlocation_16x16devav_disabled
{
    background-position: -34px -833px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_customers_16x16devav
{
    background-position: -34px -289px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_customers_16x16devav_disabled
{
    background-position: -34px -1020px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_customersales_16x16devav
{
    background-position: -34px -204px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_customersales_16x16devav_disabled
{
    background-position: -34px -935px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_datapanel_16x16devav
{
    background-position: -17px -374px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_datapanel_16x16devav_disabled
{
    background-position: -17px -1105px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_delete_16x16devav
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_delete_16x16devav_disabled
{
    background-position: 0px -867px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_docking_16x16devav
{
    background-position: 0px -510px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_docking_16x16devav_disabled
{
    background-position: 0px -1241px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_doctor_16x16devav
{
    background-position: -34px -442px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_doctor_16x16devav_disabled
{
    background-position: -34px -1173px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_driving_16x16devav
{
    background-position: -34px -425px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_driving_16x16devav_disabled
{
    background-position: -34px -1156px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_edit_16x16devav
{
    background-position: -17px -340px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_edit_16x16devav_disabled
{
    background-position: -17px -1071px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeeaward_16x16devav
{
    background-position: -17px 0px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeeaward_16x16devav_disabled
{
    background-position: -17px -731px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_employeedirectory_16x16devav
{
    background-position: -34px -646px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_employeedirectory_16x16devav_disabled
{
    background-position: -34px -1377px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeeexcellence_16x16devav
{
    background-position: -34px -510px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeeexcellence_16x16devav_disabled
{
    background-position: -34px -1241px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeenotice_16x16devav
{
    background-position: -34px -459px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeenotice_16x16devav_disabled
{
    background-position: -34px -1190px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_employees_16x16devav
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_employees_16x16devav_disabled
{
    background-position: 0px -1105px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeethank_16x16devav
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeethank_16x16devav_disabled
{
    background-position: 0px -1156px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeewelcome_16x16devav
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_employeewelcome_16x16devav_disabled
{
    background-position: 0px -918px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_expandcollapse_16x16devav
{
    background-position: -17px -34px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_expandcollapse_16x16devav_disabled
{
    background-position: -17px -765px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_export_16x16devav
{
    background-position: -17px -272px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_export_16x16devav_disabled
{
    background-position: -17px -1003px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_filter_16x16devav
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_filter_16x16devav_disabled
{
    background-position: 0px -782px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_fittopage_16x16devav
{
    background-position: -17px -119px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_fittopage_16x16devav_disabled
{
    background-position: -17px -850px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_folderpanel_16x16devav
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_folderpanel_16x16devav_disabled
{
    background-position: 0px -1122px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_gettingstarted_16x16devav
{
    background-position: -34px -51px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_gettingstarted_16x16devav_disabled
{
    background-position: -34px -782px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_hideproduct_16x16devav
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_hideproduct_16x16devav_disabled
{
    background-position: 0px -1020px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_highpriority_16x16devav
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_highpriority_16x16devav_disabled
{
    background-position: 0px -1139px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_hight_16x16devav
{
    background-position: -34px -527px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_hight_16x16devav_disabled
{
    background-position: -34px -1258px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_list_16x16devav
{
    background-position: -17px -238px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_list_16x16devav_disabled
{
    background-position: -17px -969px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_low_16x16devav
{
    background-position: -17px -680px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_low_16x16devav_disabled
{
    background-position: -17px -1411px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_lowpriority_16x16devav
{
    background-position: -34px -238px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_lowpriority_16x16devav_disabled
{
    background-position: -34px -969px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mail_16x16devav
{
    background-position: -17px -578px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mail_16x16devav_disabled
{
    background-position: -17px -1309px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mail2_16x16devav
{
    background-position: -17px -306px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mail2_16x16devav_disabled
{
    background-position: -17px -1037px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mail3_16x16devav
{
    background-position: -17px -476px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mail3_16x16devav_disabled
{
    background-position: -17px -1207px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_mailmerge_16x16devav
{
    background-position: -17px -646px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_mailmerge_16x16devav_disabled
{
    background-position: -17px -1377px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_mapit_16x16devav
{
    background-position: -17px -170px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_mapit_16x16devav_disabled
{
    background-position: -17px -901px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_medium_16x16devav
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_medium_16x16devav_disabled
{
    background-position: 0px -1173px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_mediumpriority_16x16devav
{
    background-position: -34px -85px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_mediumpriority_16x16devav_disabled
{
    background-position: -34px -816px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_meeting_16x16devav
{
    background-position: -34px -663px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_meeting_16x16devav_disabled
{
    background-position: -34px -1394px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_message_16x16devav
{
    background-position: -17px -493px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_message_16x16devav_disabled
{
    background-position: -17px -1224px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_miss_16x16devav
{
    background-position: -34px 0px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_miss_16x16devav_disabled
{
    background-position: -34px -731px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mobilephone_16x16devav
{
    background-position: -17px -323px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mobilephone_16x16devav_disabled
{
    background-position: -17px -1054px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mobilephone2_16x16devav
{
    background-position: -17px -221px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_mobilephone2_16x16devav_disabled
{
    background-position: -17px -952px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_mr_16x16devav
{
    background-position: -34px -272px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_mr_16x16devav_disabled
{
    background-position: -34px -1003px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_mrs_16x16devav
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_mrs_16x16devav_disabled
{
    background-position: 0px -816px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_ms_16x16devav
{
    background-position: -34px -476px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_ms_16x16devav_disabled
{
    background-position: -34px -1207px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_navigate_16x16devav
{
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_navigate_16x16devav_disabled
{
    background-position: 0px -1275px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newcustomers_16x16devav
{
    background-position: -17px -510px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newcustomers_16x16devav_disabled
{
    background-position: -17px -1241px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newdoc_16x16devav
{
    background-position: -17px -51px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newdoc_16x16devav_disabled
{
    background-position: -17px -782px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newemployee_16x16devav
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newemployee_16x16devav_disabled
{
    background-position: 0px -1037px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newgroup_16x16devav
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newgroup_16x16devav_disabled
{
    background-position: 0px -1054px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newitem_16x16devav
{
    background-position: -34px -187px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newitem_16x16devav_disabled
{
    background-position: -34px -918px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newopportunities_16x16devav
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newopportunities_16x16devav_disabled
{
    background-position: 0px -1088px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newproducts_16x16devav
{
    background-position: -34px -680px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newproducts_16x16devav_disabled
{
    background-position: -34px -1411px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newsales_16x16devav
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_newsales_16x16devav_disabled
{
    background-position: 0px -1003px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_normalpriority_16x16devav
{
    background-position: -34px -255px;
    width: 16px;
    height: 16px;
}
.dxIcon_priorities_normalpriority_16x16devav_disabled
{
    background-position: -34px -986px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_opendoc_16x16devav
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_opendoc_16x16devav_disabled
{
    background-position: 0px -986px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_opportunities_16x16devav
{
    background-position: -34px -153px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_opportunities_16x16devav_disabled
{
    background-position: -34px -884px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_pagenext_16x16devav
{
    background-position: -17px -663px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_pagenext_16x16devav_disabled
{
    background-position: -17px -1394px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_pageprev_16x16devav
{
    background-position: -34px -136px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_pageprev_16x16devav_disabled
{
    background-position: -34px -867px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_pages_16x16devav
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_pages_16x16devav_disabled
{
    background-position: 0px -969px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_panelbottom_16x16devav
{
    background-position: -17px -255px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_panelbottom_16x16devav_disabled
{
    background-position: -17px -986px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_paneloff_16x16devav
{
    background-position: 0px -476px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_paneloff_16x16devav_disabled
{
    background-position: 0px -1207px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_panelright_16x16devav
{
    background-position: -17px -85px;
    width: 16px;
    height: 16px;
}
.dxIcon_layout_panelright_16x16devav_disabled
{
    background-position: -17px -816px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_people_16x16devav
{
    background-position: -34px -544px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_people_16x16devav_disabled
{
    background-position: -34px -1275px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_phone_16x16devav
{
    background-position: 0px -680px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_phone_16x16devav_disabled
{
    background-position: 0px -1411px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_phone2_16x16devav
{
    background-position: -17px -357px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_phone2_16x16devav_disabled
{
    background-position: -17px -1088px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_phone3_16x16devav
{
    background-position: -34px -170px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_phone3_16x16devav_disabled
{
    background-position: -34px -901px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_print_16x16devav
{
    background-position: -34px -34px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_print_16x16devav_disabled
{
    background-position: -34px -765px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printduedate_16x16devav
{
    background-position: -17px -68px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printduedate_16x16devav_disabled
{
    background-position: -17px -799px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printpreview_16x16devav
{
    background-position: -17px -714px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printpreview_16x16devav_disabled
{
    background-position: -17px -1445px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printquick_16x16devav
{
    background-position: -17px -408px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printquick_16x16devav_disabled
{
    background-position: -17px -1139px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printsortasc_16x16devav
{
    background-position: -34px -578px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printsortasc_16x16devav_disabled
{
    background-position: -34px -1309px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printsortdesc_16x16devav
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printsortdesc_16x16devav_disabled
{
    background-position: 0px -850px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printstartdate_16x16devav
{
    background-position: -34px -561px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_printstartdate_16x16devav_disabled
{
    background-position: -34px -1292px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_productcomparisons_16x16devav
{
    background-position: 0px -527px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_productcomparisons_16x16devav_disabled
{
    background-position: 0px -1258px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_productorderdetail_16x16devav
{
    background-position: -34px -357px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_productorderdetail_16x16devav_disabled
{
    background-position: -34px -1088px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_products_16x16devav
{
    background-position: -17px -527px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_products_16x16devav_disabled
{
    background-position: -17px -1258px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_productsalesreport_16x16devav
{
    background-position: -34px -374px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_productsalesreport_16x16devav_disabled
{
    background-position: -34px -1105px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_productshipments_16x16devav
{
    background-position: 0px -663px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_productshipments_16x16devav_disabled
{
    background-position: 0px -1394px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_producttopsalesperson_16x16devav
{
    background-position: -17px -391px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_producttopsalesperson_16x16devav_disabled
{
    background-position: -17px -1122px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_profile_16x16devav
{
    background-position: -17px -153px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_profile_16x16devav_disabled
{
    background-position: -17px -884px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_profilereport_16x16devav
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_profilereport_16x16devav_disabled
{
    background-position: 0px -1071px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_redo_16x16devav
{
    background-position: -17px -425px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_redo_16x16devav_disabled
{
    background-position: -17px -1156px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_resetchanges_16x16devav
{
    background-position: -34px -595px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_resetchanges_16x16devav_disabled
{
    background-position: -34px -1326px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_reverssort_16x16devav
{
    background-position: -34px -17px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_reverssort_16x16devav_disabled
{
    background-position: -34px -748px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_saledetalis_16x16devav
{
    background-position: -17px -629px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_saledetalis_16x16devav_disabled
{
    background-position: -17px -1360px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_sales_16x16devav
{
    background-position: 0px -459px;
    width: 16px;
    height: 16px;
}
.dxIcon_view_sales_16x16devav_disabled
{
    background-position: 0px -1190px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesanalysis_16x16devav
{
    background-position: -34px -493px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesanalysis_16x16devav_disabled
{
    background-position: -34px -1224px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salesbystore_16x16devav
{
    background-position: 0px -714px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salesbystore_16x16devav_disabled
{
    background-position: 0px -1445px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesinvoice_16x16devav
{
    background-position: -17px -544px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesinvoice_16x16devav_disabled
{
    background-position: -17px -1275px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salesinvoice_16x16devav
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salesinvoice_16x16devav_disabled
{
    background-position: 0px -935px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesperiodlifetime_16x16devav
{
    background-position: -17px -595px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesperiodlifetime_16x16devav_disabled
{
    background-position: -17px -1326px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesperiodmonth_16x16devav
{
    background-position: -17px -187px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesperiodmonth_16x16devav_disabled
{
    background-position: -17px -918px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesperiodyear_16x16devav
{
    background-position: 0px -595px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesperiodyear_16x16devav_disabled
{
    background-position: 0px -1326px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesreport_16x16devav
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesreport_16x16devav_disabled
{
    background-position: 0px -833px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salesreport_16x16devav
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salesreport_16x16devav_disabled
{
    background-position: 0px -952px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salessummary_16x16devav
{
    background-position: -34px -629px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salessummary_16x16devav_disabled
{
    background-position: -34px -1360px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salessummary_16x16devav
{
    background-position: -17px -204px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salessummary_16x16devav_disabled
{
    background-position: -17px -935px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salessummary2_16x16devav
{
    background-position: -34px -340px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_salessummary2_16x16devav_disabled
{
    background-position: -34px -1071px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesthankyou_16x16devav
{
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
}
.dxIcon_sales_salesthankyou_16x16devav_disabled
{
    background-position: 0px -1343px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_save_16x16devav
{
    background-position: -34px -714px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_save_16x16devav_disabled
{
    background-position: -34px -1445px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_saveas_16x16devav
{
    background-position: -17px -17px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_saveas_16x16devav_disabled
{
    background-position: -17px -748px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_saveclose_16x16devav
{
    background-position: 0px -561px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_saveclose_16x16devav_disabled
{
    background-position: 0px -1292px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_search_16x16devav
{
    background-position: -17px -442px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_search_16x16devav_disabled
{
    background-position: -17px -1173px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_showproduct_16x16devav
{
    background-position: -34px -306px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_showproduct_16x16devav_disabled
{
    background-position: -34px -1037px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_skype_16x16devav
{
    background-position: -34px -697px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_skype_16x16devav_disabled
{
    background-position: -34px -1428px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_skype2_16x16devav
{
    background-position: 0px -629px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_skype2_16x16devav_disabled
{
    background-position: 0px -1360px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_sortbyinvoice_16x16devav
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_sortbyinvoice_16x16devav_disabled
{
    background-position: 0px -884px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_sortbyorderdate_16x16devav
{
    background-position: -34px -119px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_sortbyorderdate_16x16devav_disabled
{
    background-position: -34px -850px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_specificationsummary_16x16devav
{
    background-position: -17px -561px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_specificationsummary_16x16devav_disabled
{
    background-position: -17px -1292px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_summary_16x16devav
{
    background-position: -34px -408px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_summary_16x16devav_disabled
{
    background-position: -34px -1139px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_support_16x16devav
{
    background-position: -17px -459px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_support_16x16devav_disabled
{
    background-position: -17px -1190px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_task_16x16devav
{
    background-position: -17px -136px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_task_16x16devav_disabled
{
    background-position: -17px -867px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_tasklist_16x16devav
{
    background-position: -34px -612px;
    width: 16px;
    height: 16px;
}
.dxIcon_print_tasklist_16x16devav_disabled
{
    background-position: -34px -1343px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_undo_16x16devav
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_undo_16x16devav_disabled
{
    background-position: 0px -799px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_unlike_16x16devav
{
    background-position: 0px -697px;
    width: 16px;
    height: 16px;
}
.dxIcon_opportunities_unlike_16x16devav_disabled
{
    background-position: 0px -1428px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_video_16x16devav
{
    background-position: -34px -68px;
    width: 16px;
    height: 16px;
}
.dxIcon_contacts_video_16x16devav_disabled
{
    background-position: -34px -799px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_viewreset_16x16devav
{
    background-position: -34px -323px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_viewreset_16x16devav_disabled
{
    background-position: -34px -1054px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_viewsetting_16x16devav
{
    background-position: -34px -391px;
    width: 16px;
    height: 16px;
}
.dxIcon_actions_viewsetting_16x16devav_disabled
{
    background-position: -34px -1122px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_walking_16x16devav
{
    background-position: 0px -493px;
    width: 16px;
    height: 16px;
}
.dxIcon_people_walking_16x16devav_disabled
{
    background-position: 0px -1224px;
    width: 16px;
    height: 16px;
}
