.dxgvControl,
.dxgvDisabled
{
	border: 1px Solid #9F9F9F;
	font: 12px Tahoma, Geneva, sans-serif;
	background-color: #F2F2F2;
	color: Black;
	cursor: default;
}
.dxgvDisabled
{
	color: Gray;
}
.dxgvControl a
{
	color: #5555FF;
}
.dxgvDisabled a
{
	color: Gray;
}

.dxgvTable
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl .dxgvFSDC .dxgvFooter td.dxgv
{
    border-bottom: 0;
}
.dxgvControl .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow,
.dxgvDataRow
{
}
.dxgvInlineEditRow td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	border-right: 1px Solid #D3D3D3;
}
.dxgvInlineEditRow td.dxgvIndentCell 
{
    background-color: #EDEDED;
}
.dxgvDataRowAlt
{
	background-color: #EDEDEB;
}
.dxgvFilterRow
{
	background-color: #E7E7E7;
}
.dxgvEditForm
{
	background-color: #F0F0F0;
}
.dxgvEditForm td.dxgv
{
	border-bottom: 1px Solid #D3D3D3;
	padding: 8px 10px 10px;
}
.dxgvEditForm td.dxgvIndentCell
{
	background: #EDEDED none;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvSelectedRow
{
	background-color: #A0A0A0;
	color: White;
}
.dxgvFocusedRow
{
	background-color: #8D8D8D;
	color: White;
}
.dxgvSelectedRow .dxgvCommandColumn a, 
.dxgvSelectedRow .dxgvAIC a, 
.dxgvFocusedRow .dxgvCommandColumn a,
.dxgvFocusedRow .dxgvAIC a
{
	color: White;
}
.dxgvSelectedRow .dxgvCommandColumn a:hover, 
.dxgvSelectedRow .dxgvAIC a:hover, 
.dxgvFocusedRow .dxgvCommandColumn a:hover,
.dxgvFocusedRow .dxgvAIC a:hover
{
	color: #F0F0F0;
}

.dxgvPreviewRow
{
	background-color: #F5F5F5;
	color: #707070;
}
.dxgvDetailRow td.dxgv,
.dxgvPreviewRow td.dxgv,
.dxgvEmptyDataRow td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px Solid #D3D3D3;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailRow td.dxgvDetailCell
{
	padding: 16px 18px;
}
.dxgvDetailRow td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px Solid #D3D3D3;
}
.dxgvDetailRow.dxgvADR .dxgvADT > tbody > tr > td
{
    padding: 6px 6px 5px 0;
}
.dxgvDetailRow.dxgvADR .dxgvADT > tbody > tr > td .dxeTextBoxSys,
.dxgvDetailRow.dxgvADR .dxgvADT > tbody > tr > td .dxichCellSys
{
    margin: -4px 0 -3px 0;
}
.dxgvDetailRow.dxgvADR .dxgvADCC
{
    color: #737373;
}
.dxgvDetailRow.dxgvADR.dxgvFocusedRow .dxgvADCC,
.dxgvDetailRow.dxgvADR.dxgvSelectedRow .dxgvADCC
{
    color: inherit;
}
.dxgvDetailRow.dxgvADR.dxgvFocusedRow .dxgvADCMDC a,
.dxgvDetailRow.dxgvADR.dxgvSelectedRow .dxgvADCMDC a
{
    color: white;
}
.dxgvEmptyDataRow
{
	color: Gray;
}
.dxgvEmptyDataRow td.dxgv
{
	border-bottom: 1px Solid #CFCFCF;
	text-align: center;
}

.dxgvEditFormDisplayRow td.dxgv,
.dxgvDetailCell td.dxgv,
.dxgvDataRow td.dxgv,
.dxgvDetailRow.dxgvADR td.dxgvAIC
{
	overflow: hidden;
	border-bottom: 1px Solid #CFCFCF;
	border-right: 1px Solid #CFCFCF;
	border-top-width: 0;
	border-left-width: 0;
	padding: 3px 6px 4px;
}
.dxgvDataRow td.dxgvAIC,
.dxgvInlineEditRow td.dxgvAIC
{
    padding: 0 4px;
}
.dxgvDetailRow.dxgvADR td.dxgvAIC
{
    padding: 6px 4px;
}
.dxgvEditFormDisplayRow
{
}
.dxgvEditFormDisplayRow td.dxgv
{
}
.dxgvEditFormDisplayRow td.dxgvIndentCell
{
	background: #EDEDED none;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvEditingErrorRow
{
	background-color: #FFC8C8;
	color: #FF0000;
}
.dxgvEditingErrorRow td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #D3D3D3;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow td.dxgv
{
	border-bottom: 1px Solid #C1C1C1;
	border-right: 1px Solid #C1C1C1;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px;
	overflow: hidden;
}
.dxgvGroupRow
{
	background-color: #EDEDED;
}
.dxgvFocusedGroupRow
{
	background-color: #8D8D8D;
	color: White;
}
.dxgvGroupRow td.dxgv,
.dxgvFocusedGroupRow td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px Solid #D3D3D3;
	padding: 3px 6px 4px;
    background-color: inherit;
}
.dxgvFocusedRow td.dxgvIndentCell,
.dxgvFocusedGroupRow td.dxgvIndentCell,
.dxgvSelectedRow td.dxgvIndentCell
{
	background-color: #EDEDED!important;
	border-right: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-top-width: 0px;
}
.dxgvAdaptiveHeaderPanel
{
    color: #8D8D8D;
    background-color: #EDEDED;
    border-bottom: 1px Solid #9F9F9F;
    padding-top: 10px;
}
.dxgvAdaptiveFooterPanel
{
    background-color: #D7D7D7;
    padding-top: 6px;
}
.dxgvAdaptiveHeaderPanel,
.dxgvAdaptiveFooterPanel
{
    padding-left: 24px;
}
.dxgvHeaderPanel
{
	background-color: #F9F9F9;
	color: Black;
	padding: 8px 6px;
	border-bottom: 1px Solid #9F9F9F;
}
.dxIE .dxgvMSDraggable .dxgvHeader,
.dxIE .dxgvMSDraggable.dxgvGroupPanel
{
    -ms-touch-action: pinch-zoom;
}
.dxEdge .dxgvMSDraggable .dxgvHeader,
.dxEdge .dxgvMSDraggable.dxgvGroupPanel
{
    touch-action: pinch-zoom;
}
.dxgvHeader
{
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 6px;
	border: 1px Solid #9F9F9F;
	background-color: #DCDCDC;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader,
.dxgvHeader table
{
	color: Black;
}
.dxgvHeader td
{
	white-space: nowrap;
}
.dxgvHeader a
{
	color: #0d45b7;
}
.dxgvHeader a.dxgvCommandColumnItem
{
	margin: 0 3px 0 0;
	color: #0d45b7;
}
.dxgvHeader a.dxgvCommandColumnItem:hover
{
	color: #5494ea;
}
.dxgvCustomization, 
.dxgvPopupEditForm
{
	padding: 0;
	margin: 0;
}
.dxgvGroupPanel
{
	white-space: nowrap;
	background-color: #EDEDED;
	color: #8D8D8D;
	border-bottom: 1px Solid #9F9F9F;
	padding: 7px 4px 8px 6px;
}
.dxgvFooter
{
	background-color: #D7D7D7;
	white-space: nowrap;
}
.dxgvFooter td.dxgv
{
	padding: 5px 6px 6px;
	border-bottom: 1px Solid #BCBCBC;
	border-right-width: 0;
}
.dxgvGroupFooter
{
	background-color: #E0E0E0;
}
.dxgvGroupFooter td.dxgv
{
	white-space: nowrap;
}
.dxgvGroupFooter td.dxgv
{
	padding: 5px 4px 6px 6px;
	border-bottom: 1px Solid #CFCFCF;
	border-right-width: 0;
}
.dxgvDataRow td.dxgvIndentCell,
.dxgvDetailRow td.dxgvIndentCell,
.dxgvPreviewRow td.dxgvIndentCell,
.dxgvGroupRow td.dxgvIndentCell,
.dxgvGroupFooter td.dxgvIndentCell
{
	background-color: #EDEDED;
	border-right: 1px Solid #CFCFCF;
	border-left: 1px Solid #CFCFCF;
	border-top-width: 0px;
}

.dxgvTitlePanel, 
.dxgvTable caption
{
	font-size: 1.25em;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background-color: #ACACAC;
	color: White;
	border-bottom: 1px Solid #9F9F9F;
}

.dxgvStatusBar
{
	border-top: 1px Solid #9F9F9F;
}
.dxgvStatusBar tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar tr.dxgv > td
{
	padding: 4px;
}
.dxgvCommandColumn
{
	padding: 2px;
    white-space: nowrap;
}
.dxgvCommandColumn a
{
	margin: 0 3px 0 0;
	color: #0d45b7;
}
.dxgvCommandColumn a:hover
{
	color: #5494ea;
}

.dxgvCommandColumnItem
{
}
.dxbButton[class~="dxgvCommandColumnItem"],
.dxgvEditFormTable div.dxbButton
{
	margin: 0px 2px -1px 2px;
}
.dxbButton[class~="dxgvCommandColumnItem"] .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxgvFilterRow a.dxgvCommandColumnItem
{
    display: inline-block;
    margin-top: 1px;
}
.dxgvEditFormTable
{
	padding: 2px 6px 6px 4px;
	color: Black;
}
.dxgvEditFormTable a
{
	color: #0d45b7;
}
.dxgvEditFormTable a:hover
{
	color: #5494ea;
}

.dxgvEditFormCaption
{
	padding: 5px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell
{
	padding: 1px;
}

.dxgvEditFormCell
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel,
.dxgvPagerBottomPanel
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.dxgvDetailButton
{
}

.dxgvFilterBar
{
	border-top: 1px solid #9F9F9F;
	background: #d4d4d4 none;
}
.dxgvFilterBar a
{
	color: #394ea2;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea
{
	background: #ededed none;
	border-top: 1px solid #cfcfcf;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover
{
	background: #cfcfcf none;
	color: Black;
}

.dxgvControl .dxpLite,
.dxgvDisabled .dxpLite
{
	padding-top: 4px;
}

.dxgvControl .dxgvHFSAC
{
    padding: 9px 0 0 4px;
}
.dxgvControl .dxgvHFSC
{
    padding: 9px 0 6px;
}
.dxgvControl .dxgvHFSC div
{
    height: 1px;
    background: #8b8b8b;
}
.dxgvControl .dxgvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxgvControl .dxgvHFDRC
{
    margin: 15px;
}
.dxgvControl .dxgvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxgvControl .dxgvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxgvControl .dxgvHFDRP[id*="HFTDE"]
{
    margin-bottom: 15px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl div[id$='DXEPLPC']
{
    height: 45px;
}


.dxgvControl td.dxgvBatchEditCell
{
    padding: 0;
}
.dxgvControl td.dxgvBatchEditModifiedCell
{
    background: #d7f9c7;
}
.dxgvControl .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl .dxgvErrorCell img
{
    margin: -3px 0;
}
.dxgvStatusBar .dxgvCommandColumn a
{
    margin-right: 10px;
}
.dxgvControl td.dxgvBatchEditCell .dxichCellSys 
{
    padding-left: 0;
}

.dxgvEmptyDataRow > td.dxgv,
.dxgvDataRow.dxgvBELVR > td.dxgv,
.dxgvGroupRow.dxgvBELVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvDataRow.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvGroupRow.dxgvBELVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

/* LoadingPanel */
.dxgvLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background-color: white;
	border: 1px solid #9F9F9F;
}
.dxgvLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxgvLoadingPanel .dxlp-loadingImage,
.dxgvLoadingPanelStatusBar .dxlp-loadingImage
{
	background: url('<%=WebResource("DevExpress.Web.Images.Loading.gif")%>');
	height: 16px;
	width: 16px;
}
.dxgvLoadingPanelStatusBar
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvSearchPanel 
{
    padding: 7px;
    border-bottom: 1px solid #9F9F9F;
}
.dxgvSearchPanel > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl .dxgvSearchPanel .dxbButton 
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl .dxgvSearchPanel .dxbButton {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl .dxgvHL
{
    background: #ffd83a;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl .dxgvSearchPanel .dxbButton
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl .dxgvSearchPanel .dxbButton .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}

.dxgvEditForm .dxflGroupBoxCaption {
    background-color: #f0f0f0;
}