.dxGridView_gvCellError,
.dxGridView_gvCMClearFilter,
.dxGridView_gvCMClearFilterDisabled,
.dxGridView_gvCMClearGrouping,
.dxGridView_gvCMClearGroupingDisabled,
.dxGridView_gvCMCollapseDetailRow,
.dxGridView_gvCMCollapseDetailRowDisabled,
.dxGridView_gvCMCollapseRow,
.dxGridView_gvCMCollapseRowDisabled,
.dxGridView_gvCMDeleteRow,
.dxGridView_gvCMDeleteRowDisabled,
.dxGridView_gvCMEditRow,
.dxGridView_gvCMEditRowDisabled,
.dxGridView_gvCMExpandDetailRow,
.dxGridView_gvCMExpandDetailRowDisabled,
.dxGridView_gvCMExpandRow,
.dxGridView_gvCMExpandRowDisabled,
.dxGridView_gvCMFullCollapse,
.dxGridView_gvCMFullCollapseDisabled,
.dxGridView_gvCMFullExpand,
.dxGridView_gvCMFullExpandDisabled,
.dxGridView_gvCMGroupByColumn,
.dxGridView_gvCMGroupByColumnDisabled,
.dxGridView_gvCMNewRow,
.dxGridView_gvCMNewRowDisabled,
.dxGridView_gvCMRefresh,
.dxGridView_gvCMRefreshDisabled,
.dxGridView_gvCMShowCustomizationWindow,
.dxGridView_gvCMShowCustomizationWindowDisabled,
.dxGridView_gvCMShowFilterEditor,
.dxGridView_gvCMShowFilterEditorDisabled,
.dxGridView_gvCMShowGroupPanel,
.dxGridView_gvCMShowGroupPanelDisabled,
.dxGridView_gvCMShowSearchPanel,
.dxGridView_gvCMShowSearchPanelDisabled,
.dxGridView_gvCMSortAscending,
.dxGridView_gvCMSortAscendingDisabled,
.dxGridView_gvCMSortDescending,
.dxGridView_gvCMSortDescendingDisabled,
.dxGridView_gvCMSummaryAverage,
.dxGridView_gvCMSummaryAverageDisabled,
.dxGridView_gvCMSummaryCount,
.dxGridView_gvCMSummaryCountDisabled,
.dxGridView_gvCMSummaryMax,
.dxGridView_gvCMSummaryMaxDisabled,
.dxGridView_gvCMSummaryMin,
.dxGridView_gvCMSummaryMinDisabled,
.dxGridView_gvCMSummarySum,
.dxGridView_gvCMSummarySumDisabled,
.dxGridView_gvCollapsedButton,
.dxGridView_gvCollapsedButtonRtl,
.dxGridView_gvDetailCollapsedButton,
.dxGridView_gvDetailCollapsedButtonRtl,
.dxGridView_gvDetailExpandedButton,
.dxGridView_gvDetailExpandedButtonRtl,
.dxGridView_gvDragAndDropArrowDown,
.dxGridView_gvDragAndDropArrowUp,
.dxGridView_gvDragAndDropHideColumn,
.dxGridView_gvExpandedButton,
.dxGridView_gvExpandedButtonRtl,
.dxGridView_gvFilterRowButton,
.dxGridView_gvFixedGroupRow,
.dxGridView_gvGroupRowMoreRows,
.dxGridView_gvHeaderFilter,
.dxGridView_gvHeaderFilterActive,
.dxGridView_gvHeaderSortDown,
.dxGridView_gvHeaderSortUp,
.dxGridView_gvHideAdaptiveDetailButton,
.dxGridView_gvParentGroupRows,
.dxGridView_gvShowAdaptiveDetailButton,
.dxGridView_WindowResizer,
.dxGridView_WindowResizerRtl
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.GridView.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError
{
    background-position: -33px -315px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter
{
    background-position: -17px -94px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearFilterDisabled
{
    background-position: -34px -196px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping
{
    background-position: -34px -230px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled
{
    background-position: -17px -264px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRow
{
    background-position: -19px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseDetailRowDisabled
{
    background-position: -17px -247px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRow
{
    background-position: -17px -111px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMCollapseRowDisabled
{
    background-position: 0px -162px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow
{
    background-position: -36px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRowDisabled
{
    background-position: -34px -281px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow
{
    background-position: 0px -77px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRowDisabled
{
    background-position: -34px -162px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRow
{
    background-position: 0px -247px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandDetailRowDisabled
{
    background-position: -34px -298px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRow
{
    background-position: -34px -145px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMExpandRowDisabled
{
    background-position: -17px -298px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse
{
    background-position: -34px -179px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapseDisabled
{
    background-position: -17px -162px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand
{
    background-position: -17px -77px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpandDisabled
{
    background-position: -17px -213px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn
{
    background-position: 0px -94px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumnDisabled
{
    background-position: -34px -213px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow
{
    background-position: -16px -42px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRowDisabled
{
    background-position: -33px -42px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh
{
    background-position: -17px -179px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefreshDisabled
{
    background-position: 0px -179px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow
{
    background-position: 0px -281px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindowDisabled
{
    background-position: 0px -128px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor
{
    background-position: 0px -213px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditorDisabled
{
    background-position: -17px -60px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel
{
    background-position: 0px -315px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanelDisabled
{
    background-position: -17px -281px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanel
{
    background-position: -17px -145px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowSearchPanelDisabled
{
    background-position: -34px -128px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending
{
    background-position: -34px -94px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscendingDisabled
{
    background-position: -17px -196px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending
{
    background-position: -34px -264px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescendingDisabled
{
    background-position: -34px -111px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage
{
    background-position: 0px -196px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverageDisabled
{
    background-position: -17px -128px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount
{
    background-position: -34px -60px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCountDisabled
{
    background-position: -17px -230px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax
{
    background-position: 0px -111px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMaxDisabled
{
    background-position: -34px -247px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin
{
    background-position: 0px -145px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMinDisabled
{
    background-position: 0px -264px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum
{
    background-position: -34px -77px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySumDisabled
{
    background-position: 0px -298px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton
{
    background-position: -14px -346px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvCollapsedButtonRtl
{
    background-position: -43px -12px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailCollapsedButton
{
    background-position: -10px -358px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailCollapsedButtonRtl
{
    background-position: -42px 0px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailExpandedButton
{
    background-position: -30px -358px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDetailExpandedButtonRtl
{
    background-position: 0px -358px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvDragAndDropArrowDown
{
    background-position: -12px -369px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp
{
    background-position: 0px -369px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton
{
    background-position: -40px -358px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvExpandedButtonRtl
{
    background-position: -20px -358px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvFilterRowButton
{
    background-position: -19px -332px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvGroupRowMoreRows
{
    background-position: 0px -23px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilter
{
    background-position: 0px -42px;
    width: 15px;
    height: 17px;
}
.dxGridView_gvHeaderFilterActive
{
    background-position: -17px -315px;
    width: 15px;
    height: 16px;
}
.dxGridView_gvHeaderSortDown
{
    background-position: -34px -346px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvHeaderSortUp
{
    background-position: -24px -346px;
    width: 9px;
    height: 10px;
}
.dxGridView_gvHideAdaptiveDetailButton
{
    background-position: -33px -332px;
    width: 13px;
    height: 11px;
}
.dxGridView_gvParentGroupRows
{
    background-position: 0px -332px;
    width: 18px;
    height: 13px;
}
.dxGridView_gvShowAdaptiveDetailButton
{
    background-position: 0px -346px;
    width: 13px;
    height: 11px;
}
.dxGridView_WindowResizer
{
    background-position: 0px -230px;
    width: 16px;
    height: 16px;
}
.dxGridView_WindowResizerRtl
{
    background-position: 0px -60px;
    width: 16px;
    height: 16px;
}
