.dxXtraReports_BtnFirstPage,
.dxXtraReports_BtnFirstPageDisabled,
.dxXtraReports_BtnLastPage,
.dxXtraReports_BtnLastPageDisabled,
.dxXtraReports_BtnNextPage,
.dxXtraReports_BtnNextPageDisabled,
.dxXtraReports_BtnPrevPage,
.dxXtraReports_BtnPrevPageDisabled,
.dxXtraReports_BtnPrint,
.dxXtraReports_BtnPrintDisabled,
.dxXtraReports_BtnPrintPage,
.dxXtraReports_BtnPrintPageDisabled,
.dxXtraReports_BtnSave,
.dxXtraReports_BtnSaveDisabled,
.dxXtraReports_BtnSaveWindow,
.dxXtraReports_BtnSaveWindowDisabled,
.dxXtraReports_BtnSearch,
.dxXtraReports_BtnSearchDisabled
{
    background-image: url('<%=WebResource("DevExpress.XtraReports.Web.Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxXtraReports_BtnFirstPage
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage
{
    background-position: -34px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled
{
    background-position: -17px -68px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage
{
    background-position: -17px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled
{
    background-position: -17px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint
{
    background-position: -17px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled
{
    background-position: -17px -51px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage
{
    background-position: -34px -68px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave
{
    background-position: -34px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled
{
    background-position: -17px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow
{
    background-position: -34px -51px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch
{
    background-position: -34px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled
{
    background-position: -34px -34px;
    width: 16px;
    height: 16px;
}
