.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4,
.dxPivotGrid_FLBottomPanelOnly2by2,
.dxPivotGrid_FLButton,
.dxPivotGrid_FLColumnAreaHeaders,
.dxPivotGrid_FLDataAreaHeaders,
.dxPivotGrid_FLFieldList,
.dxPivotGrid_FLFilterAreaHeaders,
.dxPivotGrid_FLRowAreaHeaders,
.dxPivotGrid_FLStackedDefault,
.dxPivotGrid_FLStackedSideBySide,
.dxPivotGrid_FLTopPanelOnly,
.dxPivotGrid_pgCollapsedButton,
.dxPivotGrid_pgCustomizationFormCloseButton,
.dxPivotGrid_pgDataHeaders,
.dxPivotGrid_pgDragArrowDown,
.dxPivotGrid_pgDragArrowLeft,
.dxPivotGrid_pgDragArrowRight,
.dxPivotGrid_pgDragArrowUp,
.dxPivotGrid_pgDragHideField,
.dxPivotGrid_pgExpandedButton,
.dxPivotGrid_pgFilterButton,
.dxPivotGrid_pgFilterButtonActive,
.dxPivotGrid_pgFilterResizer,
.dxPivotGrid_pgGroupSeparator,
.dxPivotGrid_pgPrefilterButton,
.dxPivotGrid_pgSortByColumn,
.dxPivotGrid_pgSortDownButton,
.dxPivotGrid_pgSortUpButton
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxPivotGrid.Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -187px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -220px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -204px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders
{
    background-position: -237px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton
{
    background-position: -192px -22px;
    width: 9px;
    height: 10px;
}
.dxPivotGrid_pgCustomizationFormCloseButton
{
    background-position: -251px -18px;
    width: 15px;
    height: 14px;
}
.dxPivotGrid_pgDataHeaders
{
    background-position: -254px 0px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown
{
    background-position: -168px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft
{
    background-position: -202px -21px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight
{
    background-position: -212px -21px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp
{
    background-position: -180px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField
{
    background-position: -165px 0px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton
{
    background-position: -231px -33px;
    width: 9px;
    height: 10px;
}
.dxPivotGrid_pgFilterButton
{
    background-position: -188px 0px;
    width: 15px;
    height: 17px;
}
.dxPivotGrid_pgFilterButtonActive
{
    background-position: -204px 0px;
    width: 15px;
    height: 17px;
}
.dxPivotGrid_pgFilterResizer
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgGroupSeparator
{
    background-position: -188px -19px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton
{
    background-position: -237px -19px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn
{
    background-position: -222px -21px;
    width: 14px;
    height: 11px;
}
.dxPivotGrid_pgSortDownButton
{
    background-position: -221px -33px;
    width: 9px;
    height: 10px;
}
.dxPivotGrid_pgSortUpButton
{
    background-position: -241px -33px;
    width: 9px;
    height: 10px;
}
.dxPivotGrid_pgCustomizationFormCloseButton,
.dxPivotGrid_FLButton
{
    display:block;
}