.dxXtraReports_parametersPanel_editor {
    margin-bottom: 11px;
}

.dxXtraReports_parametersPanel_controlButtonsContainer {
    margin-left: auto;
}

.dxXtraReports_parametersPanel_buttonsMiddleCell {
    padding: 2px;
}