.dxwscCheckedTextContainer
{
	background-color: white;
	border: solid 1px #a0a0a0;
	vertical-align:top;
	overflow:auto;
	height: 110px;
	width: 340px;
	padding: 5px;
}
.dxwscErrorWord 
{
	background: url('<%=WebResource("Images.scErrorUnderline.gif")%>') bottom;
	background-repeat:repeat-x;
	padding-bottom: 3px;
	color: black;
	font-weight: bold;
}
/* -- Loading panel -- */
.dxwscLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background-color: white;
	border: 1px solid #9F9F9F;
}
.dxwscLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxwscLoadingPanel .dxlp-loadingImage 
{
	background: url('<%=WebResource("Images.Loading.gif")%>');
	height: 16px;
	width: 16px;
}
/* -- Forms -- */
.dxwsc-main .dxpcLite .dxwscDlgFooter
{
	background-color: #F3F3F3;
	border-top: 1px solid #E0E0E0;
	padding: 10px 15px;
	text-align: right;
}
.dxwsc-main.dxwsc-rtl .dxpcLite .dxwscDlgFooter
{
    text-align: left;
}
.dxwsc-main .dxpcLite .dxwscDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxwsc-main.dxwsc-rtl .dxpcLite .dxwscDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxwsc-main .dxpcLite .dxwscDlgSpellCheckBtn
{
    width: 120px;
}
