.dxwscDlgMainSpellCheckFormTable 
{
	width: 480px;
}
.dxwscDlgMainSpellCheckFormTable .dxwscDlgContentSCFormContainer
{
	padding:15px 15px 0px 15px;
}

.dxwscDlgSpellCheckForm .dxwscDlgButtonTable 
{
	width: 100px;
}

.dxwscDlgSpellCheckForm .dxwscDlgButtonTableContainer
{
	padding-left: 10px;
	padding-top: 5px;
}
.dxwsc-rtl .dxwscDlgSpellCheckForm .dxwscDlgButtonTableContainer 
{
	padding-left: 0px;
	padding-right: 10px;
}

.dxwscDlgSpellCheckForm .dxwscDlgCheckedDivContainer 
{
	overflow: hidden;
	padding-top:5px;
}

.dxwscDlgSpellCheckForm .dxwscDlgChangeToPanelContainer 
{
	width: 380px;
    vertical-align: top;
}

.dxwscDlgSpellCheckForm .dxwscDlgChangeToText
{
	padding-top: 15px;
}

.dxwscDlgSpellCheckForm .dxwscDlgVerticalSeparator 
{
	padding-top: 5px;
}

.dxwscDlgSpellCheckForm .dxwscDlgListBoxContainer 
{
	padding-top:5px;
	padding-bottom:20px;
}

.dxwscDlgMainSpellCheckOptionsFormTable 
{
	width: 400px;
}

.dxwscDlgMainSpellCheckOptionsFormTable .dxwscDlgContentSCOptionsFormContainer
{
	padding:15px 15px 0px 15px;
}


.dxwscDlgOptionsForm .dxwscDlgLanguagePanel 
{
	padding-top:10px;
	padding-bottom: 20px;
}

.dxwscDlgOptionsForm .dxwscDlgLanguageLabelCell 
{
	padding: 9px 0;
}

.dxwscDlgOptionsForm .dxwscDlgLanguageComboCell
{
	width: 70%;
    text-align: left;
}