<Palette>
  <Name>Module</Name>
  <ScaleMode>Extrapolate</ScaleMode>
  <Items>
    <Count>6</Count>
    <Entry>
      <Color>255, 240, 173, 0</Color>
      <Color2>255, 168, 121, 0</Color2>
    </Entry>
    <Entry>
      <Color>255, 96, 181, 204</Color>
      <Color2>255, 51, 136, 159</Color2>
    </Entry>
    <Entry>
      <Color>255, 230, 108, 125</Color>
      <Color2>255, 202, 34, 58</Color2>
    </Entry>
    <Entry>
      <Color>255, 107, 183, 109</Color>
      <Color2>255, 66, 137, 68</Color2>
    </Entry>
    <Entry>
      <Color>255, 232, 134, 81</Color>
      <Color2>255, 194, 85, 26</Color2>
    </Entry>
    <Entry>
      <Color>255, 198, 72, 71</Color>
      <Color2>255, 144, 45, 45</Color2>
    </Entry>
  </Items>
</Palette>
