table.dxXtraReports_dvSplControl table.dxXtraReports_PageTable {
    border-spacing: 0;
    margin: 0 auto;
}

    table.dxXtraReports_dvSplControl table.dxXtraReports_PageTable td {
        padding: 0;
    }

table.dxXtraReports_dvSplControl .dxXtraReports_PageTable_Rtl {
    direction: ltr;
}

table.dxXtraReports_dvSplControl .dxm-ltr .dxXtraReports_dvToolbar,
table.dxXtraReports_dvSplControl .dxm-rtl .dxXtraReports_dvToolbar {
    border-style: none;
}

table.dxXtraReports_dvSplControl .dxrControl .dxXtraReports_dvRibbonTabContent {
    border-style: none;
}

table.dxXtraReports_dvSplControl .dxXtraReports_dvToolbarSplCC_center > div {
    display: table;
    margin: 0 auto;
}

table.dxXtraReports_dvSplControl .dxmLiteReportToolbarPane {
    border-bottom-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    table.dxXtraReports_dvSplControl .dxmLiteReportToolbarPane .dxsplLCC {
        padding: 0;
    }

table.dxXtraReports_dvSplControl .dxXtraReports_dvSplitterParametersPanelPane .dxsplLCC {
    padding: 16px;
}

table.dxXtraReports_dvSplControl .dxXtraReports_dvSplitterDocumentMapPane .dxsplLCC {
    padding: 16px 16px 16px 0;
}

table.dxXtraReports_dvSplControl .dxXtraReports_dvSplitterViewerPane {
    background-color: #F0F0F0;
}

    table.dxXtraReports_dvSplControl .dxXtraReports_dvSplitterViewerPane .dxsplLCC {
        padding: 5px;
    }
