.spxListViewToolPart
{
	padding: 8px 5px 8px 5px;
}
.spxListViewToolPart div.captionText
{
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
}
.spxListViewToolPart div.combobox
{
	padding-bottom: 10px;
	padding-top: 2px;
}
.spxErrorMessage
{
	font-size: 11px;
	color: Red;
}
input[type=text].dxeEditAreaSys 
{
	padding: 0;
}

.ms-ToolPaneBody table.ms-TPBorder {
	border-collapse: collapse;
	width: 100%;
}

table.ms-TPBorder td.ms-TPMinMaxTD {
	display: none;
}

table.ms-TPBorder tr.ms-WPBorder {
	border-left-style: none;
   	border-right-style: none;
}