.dxtlControl
{
	cursor: default;
	font: 12px Tahoma, Geneva, sans-serif;
	color: black;
	border: 1px none #9f9f9f;
}
.dxtlControl caption
{
	background: #ACACAC none;
	border-bottom: 0 solid #9F9F9F;
	border: 1px solid #9F9F9F;
	color: White;
	font-size: 1.25em;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
}

/* Indent cells */
.dxtlIndent,
.dxtlIndentWithButton
{
	vertical-align: top;
	background: white none no-repeat top center;
}
.dxtlIndent
{
	padding: 0 11px;
}
.dxtlIndentWithButton
{
	padding: 5px 7px 6px;
}
.dxtlSelectionCell
{
	border: 1px solid #cfcfcf;
}

/* Tree-lines cells */
.dxtlLineRoot
{
	background: White url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineRoot.gif")%>') repeat-y top center;
}

.dxtlLineFirst
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineFirst.gif")%>');
}
.dxtlLineMiddle
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineMiddle.gif")%>');
}
.dxtlLineLast
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineLast.gif")%>');
}

.dxtlLineFirstRtl
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineFirstRtl.gif")%>');
}
.dxtlLineMiddleRtl
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineMiddleRtl.gif")%>');
}
.dxtlLineLastRtl
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Css.TreeLineLastRtl.gif")%>');
}

/* Headers */
.dxtlHeader
{
	background: #dcdcdc none;
	border: 1px solid #9f9f9f;
	padding: 4px 6px 5px;
	font-weight: normal;
}
.dxtlHeader table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader td.dxtl
{
	padding: 0;
}
.dxtlHeader,
.dxtlHeader td.dxtl
{
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode
{
	background: white none;
}
.dxtlAltNode
{
	background: #ededeb none;
}
.dxtlSelectedNode
{
	background: #a0a0a0 none;
	color: white;
}
.dxtlFocusedNode
{
	background: #8d8d8d none;
	color: white;
}
.dxtlInlineEditNode
{
	background: white none;
}
.dxtlEditFormDisplayNode
{
	background: white none;
}

.dxtlNode td.dxtl, 
.dxtlAltNode  td.dxtl, 
.dxtlSelectedNode td.dxtl, 
.dxtlFocusedNode td.dxtl,
.dxtlEditFormDisplayNode td.dxtl,
.dxtlCommandCell
{
	padding: 3px 6px 4px;
	border: 1px solid #cfcfcf;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlHeader .dxbButton,
.dxtlCommandCell .dxbButton
{
    margin: 0px 2px -1px 2px;
}
.dxtlHeader .dxbButton .dxb,
.dxtlCommandCell .dxbButton .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}

.dxtlInlineEditNode td.dxtl
{
	border: 1px solid #cfcfcf;
	padding: 1px;
}

/* Preview */
.dxtlPreview
{
	background: #f2f2f2 none;
	color: #7f7f7f;
	padding: 14px;
	border: 1px solid #cfcfcf;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter
{
	background-color: #E0E0E0;
}
.dxtlFooter
{
	background-color: #D7D7D7;
}
.dxtlGroupFooter td.dxtl,
.dxtlFooter td.dxtl
{
	padding: 5px 6px 6px;
	white-space: nowrap;
	border: 1px solid #cfcfcf;
	overflow: hidden;
}
.dxtlGroupFooter .dx-ar > br,
.dxtlFooter .dx-ar > br
{
    float: none; 
}

/* Pagers */
.dxtlPagerTopPanel
{
	border-bottom: 1px none #9f9f9f;
	padding-bottom: 2px;
}
.dxtlPagerBottomPanel
{
	border-top: 1px none #9f9f9f;
	padding-bottom: 2px;
}

/* Editing */
.dxtlEditForm
{
	background: #F0F0F0 none;
	border: 1px solid #D3D3D3;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption,
.dxtlEditFormEditCell
{
	padding: 4px;
}
.dxtlEditFormCaption
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError
{
	background: #FFC8C8 none;
	color: #FF0000;
	padding: 6px 10px;
	border: 1px solid #cfcfcf;
}
.dxtlPopupEditForm
{
	padding: 12px;
}

/* Links */
.dxtlControl a
{
	color: #0d45b7;
}
.dxtlControl a:hover
{
	color: #5494ea;
}
.dxtlSelectedNode a, 
.dxtlFocusedNode a
{
	color: White;
}
.dxtlSelectedNode a:hover, 
.dxtlFocusedNode a:hover
{
	color: #f0f0f0;
} 
.dxtlCommandCell a
{
	margin-right: 3px;
}

/* Disabled */
.dxtlDisabled,
.dxtlDisabled .dxtl
{
	color: #808080;
	cursor: default;
}

/* Scrolling */
.dxtlControl .dxtlHSDC 
{
    background-color: #F2F2F2;
}
.dxtlControl .dxtlFSDC
{
    background-color: #D7D7D7;
}
/* Loading Panel*/
.dxtlLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background-color: white;
	border: 1px solid #9F9F9F;
}
.dxtlLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxtlLoadingPanel .dxlp-loadingImage 
{
	background: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.Loading.gif")%>');
	height: 16px;
	width: 16px;
}
