.dxTreeList_CollapsedButton,
.dxTreeList_CollapsedButtonRtl,
.dxTreeList_DragAndDropArrowDown,
.dxTreeList_DragAndDropArrowUp,
.dxTreeList_DragAndDropHide,
.dxTreeList_DragAndDropNode,
.dxTreeList_ExpandedButton,
.dxTreeList_ExpandedButtonRtl,
.dxTreeList_SortAsc,
.dxTreeList_SortDesc
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxTreeList.Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxTreeList_CollapsedButton
{
    background-position: -10px -48px;
    width: 9px;
    height: 10px;
}
.dxTreeList_CollapsedButtonRtl
{
    background-position: 0px -48px;
    width: 9px;
    height: 10px;
}
.dxTreeList_DragAndDropArrowDown
{
    background-position: -10px -59px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropArrowUp
{
    background-position: 0px -70px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropHide
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxTreeList_DragAndDropNode
{
    background-position: 0px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButton
{
    background-position: -10px -37px;
    width: 9px;
    height: 10px;
}
.dxTreeList_ExpandedButtonRtl
{
    background-position: 0px -37px;
    width: 9px;
    height: 10px;
}
.dxTreeList_SortAsc
{
    background-position: 0px -59px;
    width: 9px;
    height: 10px;
}
.dxTreeList_SortDesc
{
    background-position: -12px -70px;
    width: 9px;
    height: 9px;
}
