img.dxtl__Collapse,
img.dxtl__Expand
{		
	cursor: pointer;
	font-size: 12px;
}

.dxtl__IM, .dxtl__IE
{
	text-align: center;		
	font-size: 2px !important;
	line-height: 0 !important;	
}
.dxtl__IE
{
	width: 1%;	
}
.dxtl__IM
{
	width: 1px;
}
.dxtl__Sel {
    padding: 0;
}

.dxtl__B0
{
	border-style: none !important;	
}
.dxtl__B1 
{	
	border-top-style: none !important;
	border-right-style: none !important;
	border-bottom-style: none!important;	
}
.dxtl__B2 
{
	border-top-style: none !important;
	border-right-style: none !important;
	border-left-style: none !important;
}
.dxtl__B3 
{
	border-top-style: none !important;
	border-right-style: none !important;
}
.dxtl__B4 
{
	border-top-style: none !important;
	border-bottom-style: none !important;	
	border-left-style: none !important;
}
.dxtl__B5
{
	border-top-style: none !important;
	border-bottom-style: none !important;	
}
.dxtl__B6
{
	border-top-style: none !important;
	border-left-style: none !important;
}
.dxtl__B7 
{
	border-top-style: none !important;
}
.dxtl__B8
{	
	border-right-style: none !important;
	border-bottom-style: none !important;	
	border-left-style: none !important;
}
.dxtl__B9
{
	border-right-style: none !important;
	border-bottom-style: none !important;	
}
.dxtl__BA
{
	border-right-style: none !important;
	border-left-style: none !important;
}
.dxtl__BB
{
	border-right-style: none !important;
}
.dxtl__BC
{
	border-bottom-style: none !important;	
	border-left-style: none !important;
}
.dxtl__BD
{
	border-bottom-style: none !important;
}
.dxtl__BE
{
	border-left-style: none !important;
}
.dxtlHDR_MSDraggable th
{
	-ms-touch-action: pinch-zoom;
	touch-action: pinch-zoom;
}
.dxtlHSEC 
{
    border-style: none !important;
    background-color: White;
}
