.dxSpreadsheet_TouchResize_Metropolis
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxThemes.App_Themes.Metropolis.Spreadsheet.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_TouchResize_Metropolis
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}
