.dxsplControl_Office2010Blue .dxmLiteReportToolbarPane {
    border: 1px solid #8ba0bc;
    background: #dae5f2 url('<%=WebResource("DevExpress.Web.ASPxThemes.App_Themes.Office2010Blue.Web.mItemBack.png")%>') repeat-x left top;
    padding: 0;
}