.dxWeb_xrdvRibbonGIcon_BtnDocumentMap,
.dxWeb_xrdvRibbonGIcon_BtnDocumentMapDisabled,
.dxWeb_xrdvRibbonGIcon_BtnDocumentMapLarge,
.dxWeb_xrdvRibbonGIcon_BtnDocumentMapLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnFirstPage,
.dxWeb_xrdvRibbonGIcon_BtnFirstPageDisabled,
.dxWeb_xrdvRibbonGIcon_BtnFirstPageLarge,
.dxWeb_xrdvRibbonGIcon_BtnFirstPageLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnLastPage,
.dxWeb_xrdvRibbonGIcon_BtnLastPageDisabled,
.dxWeb_xrdvRibbonGIcon_BtnLastPageLarge,
.dxWeb_xrdvRibbonGIcon_BtnLastPageLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnNextPage,
.dxWeb_xrdvRibbonGIcon_BtnNextPageDisabled,
.dxWeb_xrdvRibbonGIcon_BtnNextPageLarge,
.dxWeb_xrdvRibbonGIcon_BtnNextPageLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnParameters,
.dxWeb_xrdvRibbonGIcon_BtnParametersDisabled,
.dxWeb_xrdvRibbonGIcon_BtnParametersLarge,
.dxWeb_xrdvRibbonGIcon_BtnParametersLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnPrevPage,
.dxWeb_xrdvRibbonGIcon_BtnPrevPageDisabled,
.dxWeb_xrdvRibbonGIcon_BtnPrevPageLarge,
.dxWeb_xrdvRibbonGIcon_BtnPrevPageLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnPrint,
.dxWeb_xrdvRibbonGIcon_BtnPrintDisabled,
.dxWeb_xrdvRibbonGIcon_BtnPrintLarge,
.dxWeb_xrdvRibbonGIcon_BtnPrintLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnPrintPage,
.dxWeb_xrdvRibbonGIcon_BtnPrintPageDisabled,
.dxWeb_xrdvRibbonGIcon_BtnPrintPageLarge,
.dxWeb_xrdvRibbonGIcon_BtnPrintPageLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnSave,
.dxWeb_xrdvRibbonGIcon_BtnSaveDisabled,
.dxWeb_xrdvRibbonGIcon_BtnSaveLarge,
.dxWeb_xrdvRibbonGIcon_BtnSaveLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnSaveWindow,
.dxWeb_xrdvRibbonGIcon_BtnSaveWindowDisabled,
.dxWeb_xrdvRibbonGIcon_BtnSaveWindowLarge,
.dxWeb_xrdvRibbonGIcon_BtnSaveWindowLargeDisabled,
.dxWeb_xrdvRibbonGIcon_BtnSearch,
.dxWeb_xrdvRibbonGIcon_BtnSearchDisabled,
.dxWeb_xrdvRibbonGIcon_BtnSearchLarge,
.dxWeb_xrdvRibbonGIcon_BtnSearchLargeDisabled,
.dxWeb_xrdvRibbonGIcon_ExportToCsv,
.dxWeb_xrdvRibbonGIcon_ExportToCsvLarge,
.dxWeb_xrdvRibbonGIcon_ExportToHtml,
.dxWeb_xrdvRibbonGIcon_ExportToHtmlLarge,
.dxWeb_xrdvRibbonGIcon_ExportToImg,
.dxWeb_xrdvRibbonGIcon_ExportToImgLarge,
.dxWeb_xrdvRibbonGIcon_ExportToMht,
.dxWeb_xrdvRibbonGIcon_ExportToMhtLarge,
.dxWeb_xrdvRibbonGIcon_ExportToPdf,
.dxWeb_xrdvRibbonGIcon_ExportToPdfLarge,
.dxWeb_xrdvRibbonGIcon_ExportToRtf,
.dxWeb_xrdvRibbonGIcon_ExportToRtfLarge,
.dxWeb_xrdvRibbonGIcon_ExportToTxt,
.dxWeb_xrdvRibbonGIcon_ExportToTxtLarge,
.dxWeb_xrdvRibbonGIcon_ExportToXls,
.dxWeb_xrdvRibbonGIcon_ExportToXlsLarge,
.dxWeb_xrdvRibbonGIcon_ExportToXlsx,
.dxWeb_xrdvRibbonGIcon_ExportToXlsxLarge
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.DVGSprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_xrdvRibbonGIcon_BtnDocumentMap
{
    background-position: -102px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnDocumentMapDisabled
{
    background-position: -136px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnDocumentMapLarge
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnDocumentMapLargeDisabled
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnFirstPage
{
    background-position: -102px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnFirstPageDisabled
{
    background-position: -119px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnFirstPageLarge
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnFirstPageLargeDisabled
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnLastPage
{
    background-position: -119px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnLastPageDisabled
{
    background-position: -153px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnLastPageLarge
{
    background-position: -231px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnLastPageLargeDisabled
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnNextPage
{
    background-position: -204px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnNextPageDisabled
{
    background-position: -68px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnNextPageLarge
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnNextPageLargeDisabled
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnParameters
{
    background-position: 0px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnParametersDisabled
{
    background-position: -85px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnParametersLarge
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnParametersLargeDisabled
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrevPage
{
    background-position: -34px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrevPageDisabled
{
    background-position: -187px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrevPageLarge
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrevPageLargeDisabled
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrint
{
    background-position: -248px -99px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintDisabled
{
    background-position: 0px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintLarge
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintLargeDisabled
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintPage
{
    background-position: -221px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintPageDisabled
{
    background-position: -221px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintPageLarge
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnPrintPageLargeDisabled
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnSave
{
    background-position: -231px -99px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveDisabled
{
    background-position: -51px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveLarge
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveLargeDisabled
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveWindow
{
    background-position: -170px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveWindowDisabled
{
    background-position: -51px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveWindowLarge
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnSaveWindowLargeDisabled
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnSearch
{
    background-position: -34px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnSearchDisabled
{
    background-position: -204px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_BtnSearchLarge
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_BtnSearchLargeDisabled
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToCsv
{
    background-position: -170px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToCsvLarge
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToHtml
{
    background-position: -153px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToHtmlLarge
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToImg
{
    background-position: -238px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToImgLarge
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToMht
{
    background-position: -17px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToMhtLarge
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToPdf
{
    background-position: -187px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToPdfLarge
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToRtf
{
    background-position: -68px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToRtfLarge
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToTxt
{
    background-position: -85px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToTxtLarge
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToXls
{
    background-position: -136px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToXlsLarge
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGIcon_ExportToXlsx
{
    background-position: -17px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGIcon_ExportToXlsxLarge
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
