.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnDocumentMap,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnDocumentMapLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnFirstPage,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnFirstPageLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnLastPage,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnLastPageLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnNextPage,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnNextPageLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnParameters,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnParametersLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrevPage,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrevPageLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrint,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrintLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrintPage,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrintPageLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSave,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSaveLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSaveWindow,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSaveWindowLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSearch,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSearchLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToCsv,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToCsvLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToHtml,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToHtmlLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToImg,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToImgLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToMht,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToMhtLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToPdf,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToPdfLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToRtf,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToRtfLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToTxt,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToTxtLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXls,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXlsLarge,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXlsx,
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXlsxLarge,
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMap,
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMapDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMapLarge,
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMapLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnFirstPage,
.dxWeb_xrdvRibbonGWIcon_BtnFirstPageDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnFirstPageLarge,
.dxWeb_xrdvRibbonGWIcon_BtnFirstPageLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnLastPage,
.dxWeb_xrdvRibbonGWIcon_BtnLastPageDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnLastPageLarge,
.dxWeb_xrdvRibbonGWIcon_BtnLastPageLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnNextPage,
.dxWeb_xrdvRibbonGWIcon_BtnNextPageDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnNextPageLarge,
.dxWeb_xrdvRibbonGWIcon_BtnNextPageLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnParameters,
.dxWeb_xrdvRibbonGWIcon_BtnParametersDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnParametersLarge,
.dxWeb_xrdvRibbonGWIcon_BtnParametersLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnPrevPage,
.dxWeb_xrdvRibbonGWIcon_BtnPrevPageDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnPrevPageLarge,
.dxWeb_xrdvRibbonGWIcon_BtnPrevPageLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnPrint,
.dxWeb_xrdvRibbonGWIcon_BtnPrintDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnPrintLarge,
.dxWeb_xrdvRibbonGWIcon_BtnPrintLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnPrintPage,
.dxWeb_xrdvRibbonGWIcon_BtnPrintPageDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnPrintPageLarge,
.dxWeb_xrdvRibbonGWIcon_BtnPrintPageLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnSave,
.dxWeb_xrdvRibbonGWIcon_BtnSaveDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnSaveLarge,
.dxWeb_xrdvRibbonGWIcon_BtnSaveLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindow,
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindowDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindowLarge,
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindowLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnSearch,
.dxWeb_xrdvRibbonGWIcon_BtnSearchDisabled,
.dxWeb_xrdvRibbonGWIcon_BtnSearchLarge,
.dxWeb_xrdvRibbonGWIcon_BtnSearchLargeDisabled,
.dxWeb_xrdvRibbonGWIcon_ExportToCsv,
.dxWeb_xrdvRibbonGWIcon_ExportToCsvLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToHtml,
.dxWeb_xrdvRibbonGWIcon_ExportToHtmlLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToImg,
.dxWeb_xrdvRibbonGWIcon_ExportToImgLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToMht,
.dxWeb_xrdvRibbonGWIcon_ExportToMhtLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToPdf,
.dxWeb_xrdvRibbonGWIcon_ExportToPdfLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToRtf,
.dxWeb_xrdvRibbonGWIcon_ExportToRtfLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToTxt,
.dxWeb_xrdvRibbonGWIcon_ExportToTxtLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToXls,
.dxWeb_xrdvRibbonGWIcon_ExportToXlsLarge,
.dxWeb_xrdvRibbonGWIcon_ExportToXlsx,
.dxWeb_xrdvRibbonGWIcon_ExportToXlsxLarge
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.DVGWSprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnDocumentMap
{
    background-position: -816px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnDocumentMapLarge
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnFirstPage
{
    background-position: -408px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnFirstPageLarge
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnLastPage
{
    background-position: -544px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnLastPageLarge
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnNextPage
{
    background-position: -842px -33px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnNextPageLarge
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnParameters
{
    background-position: -799px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnParametersLarge
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrevPage
{
    background-position: -357px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrevPageLarge
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrint
{
    background-position: -170px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrintLarge
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrintPage
{
    background-position: -153px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnPrintPageLarge
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSave
{
    background-position: -85px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSaveLarge
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSaveWindow
{
    background-position: -391px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSaveWindowLarge
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSearch
{
    background-position: -825px -33px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_BtnSearchLarge
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToCsv
{
    background-position: -136px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToCsvLarge
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToHtml
{
    background-position: -646px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToHtmlLarge
{
    background-position: -759px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToImg
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToImgLarge
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToMht
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToMhtLarge
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToPdf
{
    background-position: -238px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToPdfLarge
{
    background-position: -693px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToRtf
{
    background-position: -510px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToRtfLarge
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToTxt
{
    background-position: -204px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToTxtLarge
{
    background-position: -825px 0px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXls
{
    background-position: -748px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXlsLarge
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXlsx
{
    background-position: -119px -66px;
    width: 16px;
    height: 16px;
}
.dxr-itemHover .dxWeb_xrdvRibbonGWIcon_ExportToXlsxLarge
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMap
{
    background-position: -323px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMapDisabled
{
    background-position: -697px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMapLarge
{
    background-position: -726px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnDocumentMapLargeDisabled
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnFirstPage
{
    background-position: -527px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnFirstPageDisabled
{
    background-position: -476px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnFirstPageLarge
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnFirstPageLargeDisabled
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnLastPage
{
    background-position: -102px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnLastPageDisabled
{
    background-position: -374px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnLastPageLarge
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnLastPageLargeDisabled
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnNextPage
{
    background-position: -612px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnNextPageDisabled
{
    background-position: -255px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnNextPageLarge
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnNextPageLargeDisabled
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnParameters
{
    background-position: -578px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnParametersDisabled
{
    background-position: -765px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnParametersLarge
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnParametersLargeDisabled
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrevPage
{
    background-position: -221px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrevPageDisabled
{
    background-position: -425px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrevPageLarge
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrevPageLargeDisabled
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrint
{
    background-position: -340px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintDisabled
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintLarge
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintLargeDisabled
{
    background-position: -792px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintPage
{
    background-position: -187px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintPageDisabled
{
    background-position: -493px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintPageLarge
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnPrintPageLargeDisabled
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSave
{
    background-position: -731px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveDisabled
{
    background-position: -459px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveLarge
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveLargeDisabled
{
    background-position: -660px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindow
{
    background-position: -561px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindowDisabled
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindowLarge
{
    background-position: -792px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSaveWindowLargeDisabled
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSearch
{
    background-position: -306px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSearchDisabled
{
    background-position: -782px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSearchLarge
{
    background-position: -726px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_BtnSearchLargeDisabled
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToCsv
{
    background-position: -442px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToCsvLarge
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToHtml
{
    background-position: -714px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToHtmlLarge
{
    background-position: -660px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToImg
{
    background-position: -663px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToImgLarge
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToMht
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToMhtLarge
{
    background-position: -693px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToPdf
{
    background-position: -680px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToPdfLarge
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToRtf
{
    background-position: -272px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToRtfLarge
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToTxt
{
    background-position: -629px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToTxtLarge
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToXls
{
    background-position: -595px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToXlsLarge
{
    background-position: -759px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToXlsx
{
    background-position: -289px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonGWIcon_ExportToXlsxLarge
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
