.dxWeb_xrdvRibbonIcon_BtnDocumentMap,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnFirstPage,
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnLastPage,
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled,
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge,
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnNextPage,
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled,
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge,
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnParameters,
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled,
.dxWeb_xrdvRibbonIcon_BtnParametersLarge,
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnPrevPage,
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnPrint,
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled,
.dxWeb_xrdvRibbonIcon_BtnPrintLarge,
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnPrintPage,
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnSave,
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled,
.dxWeb_xrdvRibbonIcon_BtnSaveLarge,
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnSaveWindow,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled,
.dxWeb_xrdvRibbonIcon_BtnSearch,
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled,
.dxWeb_xrdvRibbonIcon_BtnSearchLarge,
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled,
.dxWeb_xrdvRibbonIcon_ExportToCsv,
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge,
.dxWeb_xrdvRibbonIcon_ExportToHtml,
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge,
.dxWeb_xrdvRibbonIcon_ExportToImg,
.dxWeb_xrdvRibbonIcon_ExportToImgLarge,
.dxWeb_xrdvRibbonIcon_ExportToMht,
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge,
.dxWeb_xrdvRibbonIcon_ExportToPdf,
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge,
.dxWeb_xrdvRibbonIcon_ExportToRtf,
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge,
.dxWeb_xrdvRibbonIcon_ExportToTxt,
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge,
.dxWeb_xrdvRibbonIcon_ExportToXls,
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge,
.dxWeb_xrdvRibbonIcon_ExportToXlsx,
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.DVSprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMap
{
    background-position: -102px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled
{
    background-position: -136px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPage
{
    background-position: -102px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled
{
    background-position: -119px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPage
{
    background-position: -119px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled
{
    background-position: -153px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge
{
    background-position: -231px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPage
{
    background-position: -204px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled
{
    background-position: -68px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParameters
{
    background-position: 0px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled
{
    background-position: -85px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLarge
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPage
{
    background-position: -34px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled
{
    background-position: -187px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrint
{
    background-position: -248px -99px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled
{
    background-position: 0px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLarge
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPage
{
    background-position: -221px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled
{
    background-position: -221px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSave
{
    background-position: -231px -99px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled
{
    background-position: -51px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLarge
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindow
{
    background-position: -170px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled
{
    background-position: -51px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearch
{
    background-position: -34px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled
{
    background-position: -204px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLarge
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsv
{
    background-position: -170px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtml
{
    background-position: -153px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToImg
{
    background-position: -238px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToImgLarge
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToMht
{
    background-position: -17px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdf
{
    background-position: -187px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtf
{
    background-position: -68px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxt
{
    background-position: -85px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXls
{
    background-position: -136px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsx
{
    background-position: -17px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
