.dxWeb_fcIcons_Arrows3_1:before,
.dxWeb_fcIcons_Arrows3_2:before,
.dxWeb_fcIcons_Arrows3_3:before,
.dxWeb_fcIcons_Arrows4_1:before,
.dxWeb_fcIcons_Arrows4_2:before,
.dxWeb_fcIcons_Arrows4_3:before,
.dxWeb_fcIcons_Arrows4_4:before,
.dxWeb_fcIcons_Arrows5_1:before,
.dxWeb_fcIcons_Arrows5_2:before,
.dxWeb_fcIcons_Arrows5_3:before,
.dxWeb_fcIcons_Arrows5_4:before,
.dxWeb_fcIcons_Arrows5_5:before,
.dxWeb_fcIcons_ArrowsGray3_1:before,
.dxWeb_fcIcons_ArrowsGray3_2:before,
.dxWeb_fcIcons_ArrowsGray3_3:before,
.dxWeb_fcIcons_ArrowsGray4_1:before,
.dxWeb_fcIcons_ArrowsGray4_2:before,
.dxWeb_fcIcons_ArrowsGray4_3:before,
.dxWeb_fcIcons_ArrowsGray4_4:before,
.dxWeb_fcIcons_ArrowsGray5_1:before,
.dxWeb_fcIcons_ArrowsGray5_2:before,
.dxWeb_fcIcons_ArrowsGray5_3:before,
.dxWeb_fcIcons_ArrowsGray5_4:before,
.dxWeb_fcIcons_ArrowsGray5_5:before,
.dxWeb_fcIcons_Boxes5_1:before,
.dxWeb_fcIcons_Boxes5_2:before,
.dxWeb_fcIcons_Boxes5_3:before,
.dxWeb_fcIcons_Boxes5_4:before,
.dxWeb_fcIcons_Boxes5_5:before,
.dxWeb_fcIcons_Flags3_1:before,
.dxWeb_fcIcons_Flags3_2:before,
.dxWeb_fcIcons_Flags3_3:before,
.dxWeb_fcIcons_Quarters5_1:before,
.dxWeb_fcIcons_Quarters5_2:before,
.dxWeb_fcIcons_Quarters5_3:before,
.dxWeb_fcIcons_Quarters5_4:before,
.dxWeb_fcIcons_Quarters5_5:before,
.dxWeb_fcIcons_Rating4_1:before,
.dxWeb_fcIcons_Rating4_2:before,
.dxWeb_fcIcons_Rating4_3:before,
.dxWeb_fcIcons_Rating4_4:before,
.dxWeb_fcIcons_Rating5_1:before,
.dxWeb_fcIcons_Rating5_2:before,
.dxWeb_fcIcons_Rating5_3:before,
.dxWeb_fcIcons_Rating5_4:before,
.dxWeb_fcIcons_Rating5_5:before,
.dxWeb_fcIcons_RedToBlack4_1:before,
.dxWeb_fcIcons_RedToBlack4_2:before,
.dxWeb_fcIcons_RedToBlack4_3:before,
.dxWeb_fcIcons_RedToBlack4_4:before,
.dxWeb_fcIcons_Signs3_1:before,
.dxWeb_fcIcons_Signs3_2:before,
.dxWeb_fcIcons_Signs3_3:before,
.dxWeb_fcIcons_Stars3_1:before,
.dxWeb_fcIcons_Stars3_2:before,
.dxWeb_fcIcons_Stars3_3:before,
.dxWeb_fcIcons_Symbols3_1:before,
.dxWeb_fcIcons_Symbols3_2:before,
.dxWeb_fcIcons_Symbols3_3:before,
.dxWeb_fcIcons_Symbols3Circled_1:before,
.dxWeb_fcIcons_Symbols3Circled_2:before,
.dxWeb_fcIcons_Symbols3Circled_3:before,
.dxWeb_fcIcons_TrafficLights3_1:before,
.dxWeb_fcIcons_TrafficLights3_2:before,
.dxWeb_fcIcons_TrafficLights3_3:before,
.dxWeb_fcIcons_TrafficLights3Black_1:before,
.dxWeb_fcIcons_TrafficLights3Black_2:before,
.dxWeb_fcIcons_TrafficLights3Black_3:before,
.dxWeb_fcIcons_TrafficLights4_1:before,
.dxWeb_fcIcons_TrafficLights4_2:before,
.dxWeb_fcIcons_TrafficLights4_3:before,
.dxWeb_fcIcons_TrafficLights4_4:before,
.dxWeb_fcIcons_Triangles3_1:before,
.dxWeb_fcIcons_Triangles3_2:before,
.dxWeb_fcIcons_Triangles3_3:before
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.FCISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_fcIcons_Arrows3_1:before
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows3_2:before
{
    background-position: -34px -136px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows3_3:before
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows4_1:before
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows4_2:before
{
    background-position: -17px -68px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows4_3:before
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows4_4:before
{
    background-position: -34px -187px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows5_1:before
{
    background-position: -34px -34px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows5_2:before
{
    background-position: -34px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows5_3:before
{
    background-position: -68px -170px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows5_4:before
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Arrows5_5:before
{
    background-position: -17px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray3_1:before
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray3_2:before
{
    background-position: -17px -170px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray3_3:before
{
    background-position: -17px -102px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray4_1:before
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray4_2:before
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray4_3:before
{
    background-position: -68px -221px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray4_4:before
{
    background-position: -34px -85px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray5_1:before
{
    background-position: -68px -51px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray5_2:before
{
    background-position: -68px -136px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray5_3:before
{
    background-position: -68px -68px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray5_4:before
{
    background-position: -68px -119px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_ArrowsGray5_5:before
{
    background-position: -34px -51px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Boxes5_1:before
{
    background-position: -51px -102px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Boxes5_2:before
{
    background-position: -17px -221px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Boxes5_3:before
{
    background-position: -17px -51px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Boxes5_4:before
{
    background-position: -17px -34px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Boxes5_5:before
{
    background-position: -34px 0px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Flags3_1:before
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Flags3_2:before
{
    background-position: -68px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Flags3_3:before
{
    background-position: -51px -153px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Quarters5_1:before
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Quarters5_2:before
{
    background-position: -34px -153px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Quarters5_3:before
{
    background-position: -68px -153px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Quarters5_4:before
{
    background-position: -34px -17px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Quarters5_5:before
{
    background-position: -68px -85px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating4_1:before
{
    background-position: -17px -153px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating4_2:before
{
    background-position: -17px -17px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating4_3:before
{
    background-position: -51px -221px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating4_4:before
{
    background-position: -51px -187px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating5_1:before
{
    background-position: -17px 0px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating5_2:before
{
    background-position: -51px -34px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating5_3:before
{
    background-position: -51px -204px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating5_4:before
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Rating5_5:before
{
    background-position: -34px -221px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_RedToBlack4_1:before
{
    background-position: -34px -68px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_RedToBlack4_2:before
{
    background-position: -51px -51px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_RedToBlack4_3:before
{
    background-position: -51px -238px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_RedToBlack4_4:before
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Signs3_1:before
{
    background-position: -34px -238px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Signs3_2:before
{
    background-position: -51px 0px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Signs3_3:before
{
    background-position: -17px -238px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Stars3_1:before
{
    background-position: -68px -17px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Stars3_2:before
{
    background-position: -68px -102px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Stars3_3:before
{
    background-position: -51px -170px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Symbols3_1:before
{
    background-position: -68px -34px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Symbols3_2:before
{
    background-position: -51px -119px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Symbols3_3:before
{
    background-position: -68px 0px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Symbols3Circled_1:before
{
    background-position: -51px -17px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Symbols3Circled_2:before
{
    background-position: -34px -102px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Symbols3Circled_3:before
{
    background-position: -17px -187px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights3_1:before
{
    background-position: -51px -68px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights3_2:before
{
    background-position: -51px -136px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights3_3:before
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights3Black_1:before
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights3Black_2:before
{
    background-position: -17px -85px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights3Black_3:before
{
    background-position: -68px -238px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights4_1:before
{
    background-position: -51px -85px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights4_2:before
{
    background-position: -17px -119px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights4_3:before
{
    background-position: -17px -136px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_TrafficLights4_4:before
{
    background-position: -34px -170px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Triangles3_1:before
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Triangles3_2:before
{
    background-position: -68px -187px;
    width: 16px;
    height: 16px;
}
.dxWeb_fcIcons_Triangles3_3:before
{
    background-position: -34px -119px;
    width: 16px;
    height: 16px;
}
