.dxWeb_heRibbonGIcons_heBackColor,
.dxWeb_heRibbonGIcons_heBackColorDisabled,
.dxWeb_heRibbonGIcons_heBackColorLarge,
.dxWeb_heRibbonGIcons_heBackColorLargeDisabled,
.dxWeb_heRibbonGIcons_heBold,
.dxWeb_heRibbonGIcons_heBoldDisabled,
.dxWeb_heRibbonGIcons_heBoldLarge,
.dxWeb_heRibbonGIcons_heBoldLargeDisabled,
.dxWeb_heRibbonGIcons_heCenter,
.dxWeb_heRibbonGIcons_heCenterDisabled,
.dxWeb_heRibbonGIcons_heCenterLarge,
.dxWeb_heRibbonGIcons_heCenterLargeDisabled,
.dxWeb_heRibbonGIcons_heChangeTableCellDialog,
.dxWeb_heRibbonGIcons_heChangeTableCellDialogDisabled,
.dxWeb_heRibbonGIcons_heChangeTableCellDialogLarge,
.dxWeb_heRibbonGIcons_heChangeTableCellDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heChangeTableColumnDialog,
.dxWeb_heRibbonGIcons_heChangeTableColumnDialogDisabled,
.dxWeb_heRibbonGIcons_heChangeTableColumnDialogLarge,
.dxWeb_heRibbonGIcons_heChangeTableColumnDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heChangeTableDialog,
.dxWeb_heRibbonGIcons_heChangeTableDialogDisabled,
.dxWeb_heRibbonGIcons_heChangeTableDialogLarge,
.dxWeb_heRibbonGIcons_heChangeTableDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heChangeTableRowDialog,
.dxWeb_heRibbonGIcons_heChangeTableRowDialogDisabled,
.dxWeb_heRibbonGIcons_heChangeTableRowDialogLarge,
.dxWeb_heRibbonGIcons_heChangeTableRowDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heCheckSpelling,
.dxWeb_heRibbonGIcons_heCheckSpellingDisabled,
.dxWeb_heRibbonGIcons_heCheckSpellingLarge,
.dxWeb_heRibbonGIcons_heCheckSpellingLargeDisabled,
.dxWeb_heRibbonGIcons_heCopy,
.dxWeb_heRibbonGIcons_heCopyDisabled,
.dxWeb_heRibbonGIcons_heCopyLarge,
.dxWeb_heRibbonGIcons_heCopyLargeDisabled,
.dxWeb_heRibbonGIcons_heCut,
.dxWeb_heRibbonGIcons_heCutDisabled,
.dxWeb_heRibbonGIcons_heCutLarge,
.dxWeb_heRibbonGIcons_heCutLargeDisabled,
.dxWeb_heRibbonGIcons_heDeleteTable,
.dxWeb_heRibbonGIcons_heDeleteTableColumn,
.dxWeb_heRibbonGIcons_heDeleteTableColumnDisabled,
.dxWeb_heRibbonGIcons_heDeleteTableColumnLarge,
.dxWeb_heRibbonGIcons_heDeleteTableColumnLargeDisabled,
.dxWeb_heRibbonGIcons_heDeleteTableDisabled,
.dxWeb_heRibbonGIcons_heDeleteTableLarge,
.dxWeb_heRibbonGIcons_heDeleteTableLargeDisabled,
.dxWeb_heRibbonGIcons_heDeleteTableRow,
.dxWeb_heRibbonGIcons_heDeleteTableRowDisabled,
.dxWeb_heRibbonGIcons_heDeleteTableRowLarge,
.dxWeb_heRibbonGIcons_heDeleteTableRowLargeDisabled,
.dxWeb_heRibbonGIcons_heFindAndReplaceDialog,
.dxWeb_heRibbonGIcons_heFindAndReplaceDialogLarge,
.dxWeb_heRibbonGIcons_heFontGroup,
.dxWeb_heRibbonGIcons_heFontGroupDisabled,
.dxWeb_heRibbonGIcons_heForeColor,
.dxWeb_heRibbonGIcons_heForeColorDisabled,
.dxWeb_heRibbonGIcons_heForeColorLarge,
.dxWeb_heRibbonGIcons_heForeColorLargeDisabled,
.dxWeb_heRibbonGIcons_heFullscreen,
.dxWeb_heRibbonGIcons_heFullscreenDisabled,
.dxWeb_heRibbonGIcons_heFullscreenLarge,
.dxWeb_heRibbonGIcons_heFullscreenLargeDisabled,
.dxWeb_heRibbonGIcons_heIndent,
.dxWeb_heRibbonGIcons_heIndentDisabled,
.dxWeb_heRibbonGIcons_heIndentLarge,
.dxWeb_heRibbonGIcons_heIndentLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertAudioDialog,
.dxWeb_heRibbonGIcons_heInsertAudioDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertAudioDialogLarge,
.dxWeb_heRibbonGIcons_heInsertAudioDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertFlashDialog,
.dxWeb_heRibbonGIcons_heInsertFlashDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertFlashDialogLarge,
.dxWeb_heRibbonGIcons_heInsertFlashDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertImageDialog,
.dxWeb_heRibbonGIcons_heInsertImageDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertImageDialogLarge,
.dxWeb_heRibbonGIcons_heInsertImageDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertLinkDialog,
.dxWeb_heRibbonGIcons_heInsertLinkDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertLinkDialogLarge,
.dxWeb_heRibbonGIcons_heInsertLinkDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertOrderedList,
.dxWeb_heRibbonGIcons_heInsertOrderedListDisabled,
.dxWeb_heRibbonGIcons_heInsertOrderedListLarge,
.dxWeb_heRibbonGIcons_heInsertOrderedListLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertPlaceholder,
.dxWeb_heRibbonGIcons_heInsertPlaceholderDisabled,
.dxWeb_heRibbonGIcons_heInsertPlaceholderLarge,
.dxWeb_heRibbonGIcons_heInsertPlaceholderLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeft,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeftDisabled,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeftLarge,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeftLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRight,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRightDisabled,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRightLarge,
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRightLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertTableDialog,
.dxWeb_heRibbonGIcons_heInsertTableDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertTableDialogLarge,
.dxWeb_heRibbonGIcons_heInsertTableDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertTableRowAbove,
.dxWeb_heRibbonGIcons_heInsertTableRowAboveDisabled,
.dxWeb_heRibbonGIcons_heInsertTableRowAboveLarge,
.dxWeb_heRibbonGIcons_heInsertTableRowAboveLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertTableRowBelow,
.dxWeb_heRibbonGIcons_heInsertTableRowBelowDisabled,
.dxWeb_heRibbonGIcons_heInsertTableRowBelowLarge,
.dxWeb_heRibbonGIcons_heInsertTableRowBelowLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertUnorderedList,
.dxWeb_heRibbonGIcons_heInsertUnorderedListDisabled,
.dxWeb_heRibbonGIcons_heInsertUnorderedListLarge,
.dxWeb_heRibbonGIcons_heInsertUnorderedListLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertVideoDialog,
.dxWeb_heRibbonGIcons_heInsertVideoDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertVideoDialogLarge,
.dxWeb_heRibbonGIcons_heInsertVideoDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heInsertYouTubeDialog,
.dxWeb_heRibbonGIcons_heInsertYouTubeDialogDisabled,
.dxWeb_heRibbonGIcons_heInsertYouTubeDialogLarge,
.dxWeb_heRibbonGIcons_heInsertYouTubeDialogLargeDisabled,
.dxWeb_heRibbonGIcons_heItalic,
.dxWeb_heRibbonGIcons_heItalicDisabled,
.dxWeb_heRibbonGIcons_heItalicLarge,
.dxWeb_heRibbonGIcons_heItalicLargeDisabled,
.dxWeb_heRibbonGIcons_heJustifyFull,
.dxWeb_heRibbonGIcons_heJustifyFullDisabled,
.dxWeb_heRibbonGIcons_heJustifyFullLarge,
.dxWeb_heRibbonGIcons_heJustifyFullLargeDisabled,
.dxWeb_heRibbonGIcons_heLeft,
.dxWeb_heRibbonGIcons_heLeftDisabled,
.dxWeb_heRibbonGIcons_heLeftLarge,
.dxWeb_heRibbonGIcons_heLeftLargeDisabled,
.dxWeb_heRibbonGIcons_heMediaGroup,
.dxWeb_heRibbonGIcons_heMediaGroupDisabled,
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontal,
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontalDisabled,
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontalLarge,
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontalLargeDisabled,
.dxWeb_heRibbonGIcons_heMergeTableCellVertical,
.dxWeb_heRibbonGIcons_heMergeTableCellVerticalDisabled,
.dxWeb_heRibbonGIcons_heMergeTableCellVerticalLarge,
.dxWeb_heRibbonGIcons_heMergeTableCellVerticalLargeDisabled,
.dxWeb_heRibbonGIcons_heOutdent,
.dxWeb_heRibbonGIcons_heOutdentDisabled,
.dxWeb_heRibbonGIcons_heOutdentLarge,
.dxWeb_heRibbonGIcons_heOutdentLargeDisabled,
.dxWeb_heRibbonGIcons_hePaste,
.dxWeb_heRibbonGIcons_hePasteDisabled,
.dxWeb_heRibbonGIcons_hePasteFromWord,
.dxWeb_heRibbonGIcons_hePasteFromWordDisabled,
.dxWeb_heRibbonGIcons_hePasteFromWordLarge,
.dxWeb_heRibbonGIcons_hePasteFromWordLargeDisabled,
.dxWeb_heRibbonGIcons_hePasteLarge,
.dxWeb_heRibbonGIcons_hePasteLargeDisabled,
.dxWeb_heRibbonGIcons_hePrint,
.dxWeb_heRibbonGIcons_hePrintDisabled,
.dxWeb_heRibbonGIcons_hePrintLarge,
.dxWeb_heRibbonGIcons_hePrintLargeDisabled,
.dxWeb_heRibbonGIcons_heRedo,
.dxWeb_heRibbonGIcons_heRedoDisabled,
.dxWeb_heRibbonGIcons_heRedoLarge,
.dxWeb_heRibbonGIcons_heRedoLargeDisabled,
.dxWeb_heRibbonGIcons_heRemoveFormat,
.dxWeb_heRibbonGIcons_heRemoveFormatDisabled,
.dxWeb_heRibbonGIcons_heRemoveFormatLarge,
.dxWeb_heRibbonGIcons_heRemoveFormatLargeDisabled,
.dxWeb_heRibbonGIcons_heRight,
.dxWeb_heRibbonGIcons_heRightDisabled,
.dxWeb_heRibbonGIcons_heRightLarge,
.dxWeb_heRibbonGIcons_heRightLargeDisabled,
.dxWeb_heRibbonGIcons_heSaveAsDocx,
.dxWeb_heRibbonGIcons_heSaveAsDocxDisabled,
.dxWeb_heRibbonGIcons_heSaveAsDocxLarge,
.dxWeb_heRibbonGIcons_heSaveAsDocxLargeDisabled,
.dxWeb_heRibbonGIcons_heSaveAsMht,
.dxWeb_heRibbonGIcons_heSaveAsMhtDisabled,
.dxWeb_heRibbonGIcons_heSaveAsMhtLarge,
.dxWeb_heRibbonGIcons_heSaveAsMhtLargeDisabled,
.dxWeb_heRibbonGIcons_heSaveAsOdt,
.dxWeb_heRibbonGIcons_heSaveAsOdtDisabled,
.dxWeb_heRibbonGIcons_heSaveAsOdtLarge,
.dxWeb_heRibbonGIcons_heSaveAsOdtLargeDisabled,
.dxWeb_heRibbonGIcons_heSaveAsPdf,
.dxWeb_heRibbonGIcons_heSaveAsPdfDisabled,
.dxWeb_heRibbonGIcons_heSaveAsPdfLarge,
.dxWeb_heRibbonGIcons_heSaveAsPdfLargeDisabled,
.dxWeb_heRibbonGIcons_heSaveAsRtf,
.dxWeb_heRibbonGIcons_heSaveAsRtfDisabled,
.dxWeb_heRibbonGIcons_heSaveAsRtfLarge,
.dxWeb_heRibbonGIcons_heSaveAsRtfLargeDisabled,
.dxWeb_heRibbonGIcons_heSaveAsTxt,
.dxWeb_heRibbonGIcons_heSaveAsTxtDisabled,
.dxWeb_heRibbonGIcons_heSaveAsTxtLarge,
.dxWeb_heRibbonGIcons_heSaveAsTxtLargeDisabled,
.dxWeb_heRibbonGIcons_heSelectAll,
.dxWeb_heRibbonGIcons_heSelectAllDisabled,
.dxWeb_heRibbonGIcons_heSelectAllLarge,
.dxWeb_heRibbonGIcons_heSelectAllLargeDisabled,
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontal,
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontalDisabled,
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontalLarge,
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontalLargeDisabled,
.dxWeb_heRibbonGIcons_heSplitTableCellVertical,
.dxWeb_heRibbonGIcons_heSplitTableCellVerticalDisabled,
.dxWeb_heRibbonGIcons_heSplitTableCellVerticalLarge,
.dxWeb_heRibbonGIcons_heSplitTableCellVerticalLargeDisabled,
.dxWeb_heRibbonGIcons_heStrikethrough,
.dxWeb_heRibbonGIcons_heStrikethroughDisabled,
.dxWeb_heRibbonGIcons_heStrikethroughLarge,
.dxWeb_heRibbonGIcons_heStrikethroughLargeDisabled,
.dxWeb_heRibbonGIcons_heSubscript,
.dxWeb_heRibbonGIcons_heSubscriptDisabled,
.dxWeb_heRibbonGIcons_heSubscriptLarge,
.dxWeb_heRibbonGIcons_heSubscriptLargeDisabled,
.dxWeb_heRibbonGIcons_heSuperscript,
.dxWeb_heRibbonGIcons_heSuperscriptDisabled,
.dxWeb_heRibbonGIcons_heSuperscriptLarge,
.dxWeb_heRibbonGIcons_heSuperscriptLargeDisabled,
.dxWeb_heRibbonGIcons_heUnderline,
.dxWeb_heRibbonGIcons_heUnderlineDisabled,
.dxWeb_heRibbonGIcons_heUnderlineLarge,
.dxWeb_heRibbonGIcons_heUnderlineLargeDisabled,
.dxWeb_heRibbonGIcons_heUndo,
.dxWeb_heRibbonGIcons_heUndoDisabled,
.dxWeb_heRibbonGIcons_heUndoLarge,
.dxWeb_heRibbonGIcons_heUndoLargeDisabled,
.dxWeb_heRibbonGIcons_heUnlink,
.dxWeb_heRibbonGIcons_heUnlinkDisabled,
.dxWeb_heRibbonGIcons_heUnlinkLarge,
.dxWeb_heRibbonGIcons_heUnlinkLargeDisabled,
.dxWeb_heRibbonGIcons_heViewsGroup,
.dxWeb_heRibbonGIcons_heViewsGroupDisabled
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.HEGSprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_heRibbonGIcons_heBackColor
{
    background-position: -1496px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heBackColorDisabled
{
    background-position: -1581px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heBackColorLarge
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heBackColorLargeDisabled
{
    background-position: -1221px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heBold
{
    background-position: -884px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heBoldDisabled
{
    background-position: -748px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heBoldLarge
{
    background-position: -726px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heBoldLargeDisabled
{
    background-position: -1584px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCenter
{
    background-position: -918px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCenterDisabled
{
    background-position: -442px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCenterLarge
{
    background-position: -1188px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCenterLargeDisabled
{
    background-position: -594px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableCellDialog
{
    background-position: -1819px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableCellDialogDisabled
{
    background-position: -357px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableCellDialogLarge
{
    background-position: -660px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableCellDialogLargeDisabled
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableColumnDialog
{
    background-position: -459px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableColumnDialogDisabled
{
    background-position: -272px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableColumnDialogLarge
{
    background-position: -1089px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableColumnDialogLargeDisabled
{
    background-position: -396px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableDialog
{
    background-position: -782px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableDialogDisabled
{
    background-position: -952px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableDialogLarge
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableDialogLargeDisabled
{
    background-position: -1881px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableRowDialog
{
    background-position: -102px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableRowDialogDisabled
{
    background-position: -1887px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heChangeTableRowDialogLarge
{
    background-position: -1584px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heChangeTableRowDialogLargeDisabled
{
    background-position: -924px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCheckSpelling
{
    background-position: -1054px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCheckSpellingDisabled
{
    background-position: -1802px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCheckSpellingLarge
{
    background-position: -1848px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCheckSpellingLargeDisabled
{
    background-position: -759px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCopy
{
    background-position: -255px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCopyDisabled
{
    background-position: -1980px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCopyLarge
{
    background-position: -1551px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCopyLargeDisabled
{
    background-position: -1518px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCut
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCutDisabled
{
    background-position: -204px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heCutLarge
{
    background-position: -1056px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heCutLargeDisabled
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heDeleteTable
{
    background-position: -1071px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heDeleteTableColumn
{
    background-position: -1870px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heDeleteTableColumnDisabled
{
    background-position: -1462px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heDeleteTableColumnLarge
{
    background-position: -429px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heDeleteTableColumnLargeDisabled
{
    background-position: -627px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heDeleteTableDisabled
{
    background-position: -1734px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heDeleteTableLarge
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heDeleteTableLargeDisabled
{
    background-position: -825px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heDeleteTableRow
{
    background-position: -1479px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heDeleteTableRowDisabled
{
    background-position: -1088px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heDeleteTableRowLarge
{
    background-position: -1683px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heDeleteTableRowLargeDisabled
{
    background-position: -1617px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heFindAndReplaceDialog
{
    background-position: -1020px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heFindAndReplaceDialogLarge
{
    background-position: -1782px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heFontGroup
{
    background-position: -990px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heFontGroupDisabled
{
    background-position: -1914px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heForeColor
{
    background-position: -833px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heForeColorDisabled
{
    background-position: -1615px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heForeColorLarge
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heForeColorLargeDisabled
{
    background-position: -924px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heFullscreen
{
    background-position: -1530px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heFullscreenDisabled
{
    background-position: -1326px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heFullscreenLarge
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heFullscreenLargeDisabled
{
    background-position: -1650px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heIndent
{
    background-position: -1513px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heIndentDisabled
{
    background-position: -663px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heIndentLarge
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heIndentLargeDisabled
{
    background-position: -1782px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertAudioDialog
{
    background-position: -1258px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertAudioDialogDisabled
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertAudioDialogLarge
{
    background-position: -693px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertAudioDialogLargeDisabled
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertFlashDialog
{
    background-position: -289px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertFlashDialogDisabled
{
    background-position: -493px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertFlashDialogLarge
{
    background-position: -1914px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertFlashDialogLargeDisabled
{
    background-position: -1089px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertImageDialog
{
    background-position: -119px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertImageDialogDisabled
{
    background-position: -527px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertImageDialogLarge
{
    background-position: -1221px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertImageDialogLargeDisabled
{
    background-position: -1155px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertLinkDialog
{
    background-position: -1904px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertLinkDialogDisabled
{
    background-position: -1564px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertLinkDialogLarge
{
    background-position: -1386px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertLinkDialogLargeDisabled
{
    background-position: -858px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertOrderedList
{
    background-position: -1207px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertOrderedListDisabled
{
    background-position: -1292px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertOrderedListLarge
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertOrderedListLargeDisabled
{
    background-position: -1254px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertPlaceholder
{
    background-position: -1853px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertPlaceholderDisabled
{
    background-position: -238px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertPlaceholderLarge
{
    background-position: -462px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertPlaceholderLargeDisabled
{
    background-position: -792px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeft
{
    background-position: -765px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeftDisabled
{
    background-position: -1139px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeftLarge
{
    background-position: -297px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnLeftLargeDisabled
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRight
{
    background-position: -1003px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRightDisabled
{
    background-position: -1428px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRightLarge
{
    background-position: -1815px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableColumnOnRightLargeDisabled
{
    background-position: -1485px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableDialog
{
    background-position: -1717px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableDialogDisabled
{
    background-position: -85px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableDialogLarge
{
    background-position: -264px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableDialogLargeDisabled
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowAbove
{
    background-position: -1683px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowAboveDisabled
{
    background-position: -1836px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowAboveLarge
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowAboveLargeDisabled
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowBelow
{
    background-position: -221px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowBelowDisabled
{
    background-position: -306px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowBelowLarge
{
    background-position: -363px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertTableRowBelowLargeDisabled
{
    background-position: -495px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertUnorderedList
{
    background-position: -510px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertUnorderedListDisabled
{
    background-position: -323px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertUnorderedListLarge
{
    background-position: -1485px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertUnorderedListLargeDisabled
{
    background-position: -990px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertVideoDialog
{
    background-position: -1105px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertVideoDialogDisabled
{
    background-position: -1632px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertVideoDialogLarge
{
    background-position: -1617px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertVideoDialogLargeDisabled
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertYouTubeDialog
{
    background-position: -1173px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertYouTubeDialogDisabled
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heInsertYouTubeDialogLarge
{
    background-position: -1749px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heInsertYouTubeDialogLargeDisabled
{
    background-position: -759px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heItalic
{
    background-position: -612px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heItalicDisabled
{
    background-position: -1700px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heItalicLarge
{
    background-position: -1353px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heItalicLargeDisabled
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heJustifyFull
{
    background-position: -816px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heJustifyFullDisabled
{
    background-position: -1190px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heJustifyFullLarge
{
    background-position: -660px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heJustifyFullLargeDisabled
{
    background-position: -792px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heLeft
{
    background-position: -629px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heLeftDisabled
{
    background-position: -731px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heLeftLarge
{
    background-position: -891px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heLeftLargeDisabled
{
    background-position: -1518px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heMediaGroup
{
    background-position: -1716px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heMediaGroupDisabled
{
    background-position: -1881px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontal
{
    background-position: -1122px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontalDisabled
{
    background-position: -1343px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontalLarge
{
    background-position: -957px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellHorizontalLargeDisabled
{
    background-position: -1419px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellVertical
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellVerticalDisabled
{
    background-position: -1445px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellVerticalLarge
{
    background-position: -1683px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heMergeTableCellVerticalLargeDisabled
{
    background-position: -1386px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heOutdent
{
    background-position: -1360px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heOutdentDisabled
{
    background-position: -1037px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heOutdentLarge
{
    background-position: -1419px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heOutdentLargeDisabled
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_hePaste
{
    background-position: -476px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_hePasteDisabled
{
    background-position: -425px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_hePasteFromWord
{
    background-position: -969px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_hePasteFromWordDisabled
{
    background-position: -1751px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_hePasteFromWordLarge
{
    background-position: -1023px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_hePasteFromWordLargeDisabled
{
    background-position: -891px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_hePasteLarge
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_hePasteLargeDisabled
{
    background-position: -1188px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_hePrint
{
    background-position: -867px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_hePrintDisabled
{
    background-position: -646px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_hePrintLarge
{
    background-position: -1023px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_hePrintLargeDisabled
{
    background-position: -1815px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heRedo
{
    background-position: -986px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heRedoDisabled
{
    background-position: -1377px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heRedoLarge
{
    background-position: -1122px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heRedoLargeDisabled
{
    background-position: -1848px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heRemoveFormat
{
    background-position: -697px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heRemoveFormatDisabled
{
    background-position: -578px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heRemoveFormatLarge
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heRemoveFormatLargeDisabled
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heRight
{
    background-position: -1768px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heRightDisabled
{
    background-position: -408px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heRightLarge
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heRightLargeDisabled
{
    background-position: -1947px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsDocx
{
    background-position: -1547px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsDocxDisabled
{
    background-position: -1997px -33px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsDocxLarge
{
    background-position: -1947px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsDocxLargeDisabled
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsMht
{
    background-position: -340px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsMhtDisabled
{
    background-position: -680px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsMhtLarge
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsMhtLargeDisabled
{
    background-position: -693px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsOdt
{
    background-position: -1309px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsOdtDisabled
{
    background-position: -1224px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsOdtLarge
{
    background-position: -1254px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsOdtLargeDisabled
{
    background-position: -1749px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsPdf
{
    background-position: -374px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsPdfDisabled
{
    background-position: -1241px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsPdfLarge
{
    background-position: -1452px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsPdfLargeDisabled
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsRtf
{
    background-position: -391px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsRtfDisabled
{
    background-position: -935px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsRtfLarge
{
    background-position: -1287px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsRtfLargeDisabled
{
    background-position: -1452px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsTxt
{
    background-position: -714px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsTxtDisabled
{
    background-position: -561px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSaveAsTxtLarge
{
    background-position: -1353px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSaveAsTxtLargeDisabled
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSelectAll
{
    background-position: -1275px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSelectAllDisabled
{
    background-position: -595px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSelectAllLarge
{
    background-position: -957px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSelectAllLargeDisabled
{
    background-position: -1320px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontal
{
    background-position: -1649px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontalDisabled
{
    background-position: -850px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontalLarge
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellHorizontalLargeDisabled
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellVertical
{
    background-position: -1411px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellVerticalDisabled
{
    background-position: -1666px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellVerticalLarge
{
    background-position: -561px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSplitTableCellVerticalLargeDisabled
{
    background-position: -1122px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heStrikethrough
{
    background-position: -1394px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heStrikethroughDisabled
{
    background-position: -1598px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heStrikethroughLarge
{
    background-position: -1650px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heStrikethroughLargeDisabled
{
    background-position: -1287px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSubscript
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSubscriptDisabled
{
    background-position: -544px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSubscriptLarge
{
    background-position: -1716px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSubscriptLargeDisabled
{
    background-position: -1155px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSuperscript
{
    background-position: -901px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSuperscriptDisabled
{
    background-position: -1785px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heSuperscriptLarge
{
    background-position: -726px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heSuperscriptLargeDisabled
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heUnderline
{
    background-position: -170px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heUnderlineDisabled
{
    background-position: -153px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heUnderlineLarge
{
    background-position: -1980px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heUnderlineLargeDisabled
{
    background-position: -858px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heUndo
{
    background-position: -136px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heUndoDisabled
{
    background-position: -799px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heUndoLarge
{
    background-position: -528px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heUndoLargeDisabled
{
    background-position: -330px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heUnlink
{
    background-position: -1156px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heUnlinkDisabled
{
    background-position: -187px -66px;
    width: 16px;
    height: 16px;
}
.dxWeb_heRibbonGIcons_heUnlinkLarge
{
    background-position: -1320px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heUnlinkLargeDisabled
{
    background-position: -825px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heViewsGroup
{
    background-position: -1551px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_heRibbonGIcons_heViewsGroupDisabled
{
    background-position: -1056px 0px;
    width: 32px;
    height: 32px;
}
