/* ASPxPopupControl */
.dxpcDesignMode,
.dxdpDesignMode {
	display: block !important;
	position: static !important;
	visibility: visible !important;
}

.dxdpDesignMode > tbody > tr > td,
.dxpcDesignMode > tbody > tr > td {
	padding: 0;
}

.dxdpDesignMode .dxpc-contentWrapper,
.dxpcDesignMode .dxpc-contentWrapper {
	height: 100%;
	overflow: hidden;
}
.dxpc-content .dx-vam { /* Q588755 */
    display: inline !important;
}

/* ASPxPager */
.dxpDesignMode {
	display: inline;
}

.dxpDesignMode,
.dxpDesignMode b {
	float: none !important;
}

/* ASPxDataView */
td[align="justify"] .dxpDesignMode .dxp-pageSizeItemCell {
	width: 100%;
}

td[align="justify"] .dxpDesignMode .dxp-pageSizeItemCell > b {
	float: right !important;
}
/* ASPxImageGallery */
.dxigDesignMode .dxig-ti {
	border: 1px solid #c8c8c8;
	background-repeat: no-repeat;
	background-position: center center;
}

.dxigDesignMode td > div {
	overflow: visible !important;
}

/* ASPxTabControl */
.dxtcDesignMode {
	float: none !important;
}

/* ASPxPageControl */
.dxtcDesignMode.dxtc-top .dxtc-content,
.dxtcDesignMode.dxtc-bottom .dxtc-content {
	float: none !important;
}

/* ASPxMenu */
.dxmDesignMode > tbody > tr > td > table {
	width: 100%;
}

.dxmDesignMode > tbody > tr > td,
.dxm-item,
.dxm-spacing {
	padding: 0;
}

.dxm-content {
	font: 12px Tahoma, Geneva, sans-serif;
	float: none !important;
}

.dxmLite_DevEx .dxm-content,
.dxmLite_Office2010Black .dxm-content,
.dxmLite_Office2010Blue .dxm-content,
.dxmLite_Office2010Silver .dxm-content {
	font: 11px Verdana, Geneva, sans-serif;
}

.dxmLite_iOS .dxm-content {
	font: 18px 'Helvetica Neue',Helvetica,Verdana,sans-serif bold !important;
}

.dxmLite_Moderno .dxm-content {
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif !important;
}

/* ASPxRibbon */
.dxrDesignMode .dxr-groupList .dxr-groupSep {
	float: none!important;
}

.dxrDesignMode .dxr-groupList .dxr-group {
	float: none!important;
}

.dxrDesignMode .dxr-block {
	float: none!important;
}

.dxrDesignMode .dxr-groupContent {
	overflow: hidden!important;
}

.dxrDesignMode .dxr-blLrgItems .dxr-item {
	max-width: 44px!important;
}

.dxrDesignMode .dxr-tabContent .dxr-tabWrapper {
	position: static;
}

.dxrDesignMode .dxr-tabContent {
	position: static;
}

.dxrDesignMode .dxr-item .dxr-label .dxr-popOut {
	line-height: 1;
}

.dxrDesignMode .dxtcLite.dxtc-top .dxtc-tab,
.dxrDesignMode .dxtcLite.dxtc-top .dxtc-activeTab,
.dxrDesignMode .dxtcLite.dxtc-top .dxtc-tab.dxr-contextTab,
.dxrDesignMode .dxtcLite.dxtc-top .dxtc-activeTab.dxr-contextTab {
    margin-top: 0px!important;
}

/* ASPxRoundPanel */
.dxrpDesignMode.dxrpControl.dxrpCollapsed .dxrpHLE,
.dxrpDesignMode.dxrpControl.dxrpCollapsed .dxrpHRE,
.dxrpDesignMode.dxrpControl.dxrpCollapsed .dxrpHeader {
	background-position: center !important;
}

*[dir="rtl"].dxrpDesignMode .dxrpHeader {
	white-space: normal !important;
}

/* ASPxImageZoom */
.dxizDesignMode {
	display: block !important;
}
.dxizDesignMode .dxiz-wrapper > img {
	display: inline !important;
	position: static !important;
}
.dxizDesignMode.dxiz-emptyImage .dxiz-wrapper > img {
    padding: 5px;
}
.dxizDesignMode .dxiz-hint {
	top: 0;
	left: 0;
}
.dxizDesignMode .dxiz-hint > span {
	vertical-align: auto !important;
}

/* ASPxImageSlider */
.dxisDesignMode {
}
.dxisDesignMode > tbody > tr > td {
    height: 100%;
}
.dxisDesignMode .dxis-mainLayout,
.dxisDesignMode .dxis-mainLayout .dxis-imageArea,
.dxisDesignMode .dxis-mainLayout .dxis-buttons
 {
	width: 100%;
	height: 100%;
}
.dxisDesignMode .dxis-grayBorder {
	border: 1px solid #adb0b4;
}
.dxisDesignMode .dxis-grayBackground {
	background-color: #eaedf1;
}
.dxisDesignMode .dxis-button {
	background-color: white;
}
.dxisDesignMode .dxis-button.dxis-buttonHorOrientation {
	width: 23px;
	height: 39px;
}
.dxisDesignMode .dxis-button.dxis-buttonVertOrientation {
	width: 39px;
	height: 23px;
}
.dxisDesignMode .dxis-mainLayout .dxis-button.dxis-buttonVertOrientation {
	margin: 0 auto;
}
.dxisDesignMode .dxis-button.dxis-buttonHorOrientation > div {
	width: 15px;
	height: 23px;
	margin: 8px auto 0px;
}
.dxisDesignMode .dxis-button.dxis-buttonVertOrientation > div {
	width: 23px;
	height: 15px;
	margin: 4px auto 0px;
}
.dxisDesignMode .dxis-button.dxis-buttonHorOrientation.dxis-prevButton > div {
	background-position: -1px 0px;
}
.dxisDesignMode .dxis-button.dxis-buttonHorOrientation.dxis-nextButton > div {
	background-position: -18px 0px;
}
.dxisDesignMode .dxis-button.dxis-buttonVertOrientation.dxis-prevButton > div {
	background-position: -61px -5px;
}
.dxisDesignMode .dxis-button.dxis-buttonVertOrientation.dxis-nextButton > div {
	background-position: -35px -5px;
}
.dxisDesignMode .dxis-buttonSpacing {
	width: 100%;
	height: 100%;
}
.dxisDesignMode.dxis-navBarHor .dxis-navBarCell .dxis-navBar {
	width: 100%;
}
.dxisDesignMode.dxis-navBarHor .dxis-thumbnail {
	height: 60px;
}
.dxisDesignMode.dxis-navBarVert .dxis-thumbnail {
	width: 90px;
}
.dxisDesignMode.dxis-navBarVert .dxis-navBarCell .dxis-navBar{
	width: 90px !important;
	height: 100%;
}
.dxisDesignMode.dxis-navBarVert .dxis-navBarCell {
	height: 100%;
    vertical-align: top;
}
.dxisDesignMode .dxis-spacing,
.dxisDesignMode.dxis-navBarHor .dxis-navBar .dxis-itemSpacing {
    padding: 5px 0 0 5px;
	width: 0px;
	height: 0px;
}
.dxisDesignMode.dxis-navBarVert .dxis-navBar .dxis-itemSpacing {
	height: 5px;
}
.dxisDesignMode.dxis-navBarHor .dxis-navBarButtonsWrapper .dxis-button {
	margin-left: 1px;
    margin-right: 1px;
	margin-top: 7px;
}
.dxisDesignMode.dxis-navBarVert .dxis-navBarButtonsWrapper .dxis-button {
	margin-top: 1px;
    margin-bottom: 1px;
}
.dxisDesignMode.dxis-navBarHor.dxis-noImageArea {
	height: auto !important;
}
.dxisDesignMode.dxis-navBarVert.dxis-noImageArea {
	width: auto !important;
}
.dxisDesignMode .dxis-navBarWrapper {
	height: 100%;
    position: relative;
}
.dxisDesignMode .dxis-navBarButtonsWrapper {
    top: 0px;
    width: 100%;
	height: 100%;
    position: absolute;
}
.dxisDesignMode.dxis-navBarVert .dxis-dotsNavBarCell .dxis-navBar {
    width: 18px;
}
.dxisDesignMode.dxis-navBarHor .dxis-dotsNavBarCell .dxis-navBar {
	width: auto;
}
.dxisDesignMode .dxis-dot {
	width: 15px;
    height: 15px;
	background-position: -1px -28px;
}
.dxisDesignMode .dxis-dot.dxis-dotSelected {
	background-position: -18px -28px;
}