.dxwcuic-root {
    border: 1px solid black;
    overflow: hidden;
}

    .dxwcuic-root table.dxwcuic-dt-table {
        width: 100%;
        text-align: center;
    }

    .dxwcuic-root .dxwcuic-dt-content {
        color: #454545;
    }

        .dxwcuic-root .dxwcuic-dt-content .title {
            font-family: 'Segoe UI Light';
            font-size: 26pt;
            padding-bottom: 13px;
        }

        .dxwcuic-root .dxwcuic-dt-content .subtitle {
            font-family: 'Segoe UI';
            font-size: 12pt;
        }

        .dxwcuic-root .dxwcuic-dt-content .description {
            font-family: 'Segoe UI';
            font-size: 10pt;
        }

        .dxwcuic-root .dxwcuic-dt-content .float-row {
            float: left;
            overflow: hidden;
        }

            .dxwcuic-root .dxwcuic-dt-content .float-row .float-column {
                text-align: left;
                border-left: 1px solid;
                border-left-color: #C9C9C9;
                padding-left: 5%;
                margin-left: 10%;
            }

    .dxwcuic-root .warning {
        color: #b80404;
    }

    .dxwcuic-root .centered {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
