.dxcvControl,
.dxcvDisabled
{
    border: 1px Solid #9F9F9F;
    font: 12px Tahoma, Geneva, sans-serif;
    background-color: #F2F2F2;
    color: Black;
    cursor: default;
}
.dxcvDisabled
{
    color: Gray;
}
.dxcvControl a
{
    color: #5555FF;
}
.dxcvDisabled a
{
    color: Gray;
}

.dxcvTable
{
    background-color: White;
    border-width: 0;
    border-collapse: separate!important;
    overflow: hidden;
    padding: 20px;
}
.dxcvTable.dxcvFT 
{
    padding-top: 0;
    padding-left: 0;
}
.dxcvSummaryPanel
{
    background-color: #D7D7D7;
    border-top: 1px solid #9F9F9F;
    padding: 8px 20px;
}

.dxcvCard,
.dxcvFlowCard,
.dxcvEmptyCard
{
    border: 1px solid #9F9F9F;
    background-color: #E7E7E7;
    color: #222222;
    width: 250px;
    height: 180px;
    outline: none;
    vertical-align: top;
}
.dxcvEmptyCard 
{
    text-align: center;
    vertical-align: middle;
}
.dxcvEmptyHiddenCard
{
    border: 1px solid transparent;
    background-color: transparent;
    width: 250px;
    height: 180px;
}
.dxcvFlowCard,
div.dxcvEmptyCard
{
    display: inline-block;
    margin: 20px 0 0 20px;
    overflow: hidden;
}
.dxcvSelectedCard,
.dxcvFocusedCard
{
    border-color: #A0A0A0;
    outline: 3px solid #A0A0A0;
}
.dxcvFocusedCard
{
    background-color: White;
}
.dxcvCardHover
{
    border-color: #B0B0B0;
    outline: 3px solid #CFCFCF;
}

.dxcvCard .dxflCaption,
.dxcvFlowCard .dxflCaption
{
    color: #737373;
}

.dxcvCard .dxflViewFormLayoutSys .dxflCommandItemSys,
.dxcvFlowCard .dxflViewFormLayoutSys .dxflCommandItemSys
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.dxcvHeader
{
    cursor: pointer;
    border: 1px Solid #9F9F9F;
    background-color: #DCDCDC;
    white-space: nowrap;
    padding: 4px 6px;
    overflow: hidden;
    font-weight: normal;
    text-align: left;
}
.dxcvHeader,
.dxcvHeader table
{
    color: Black;
}
.dxcvHeader td
{
    white-space: nowrap;
}
.dxcvHeader a
{
    color: #0d45b7;
}
.dxcvHeader a
{
    margin: 0 3px 0 0;
    color: #0d45b7;
}
.dxcvHeader a:hover
{
    color: #5494ea;
}

.dxcvCustomization,
.dxcvPopupEditForm
{
    padding: 0;
    margin: 0;
}
.dxcvTitlePanel,
.dxcvTable caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    background-color: #ACACAC;
    color: White;
    border-bottom: 1px Solid #9F9F9F;
}

.dxbButton[class~="dxcvCommandItem"]
{
    margin: 0px 2px -1px 2px;
}
.dxbButton[class~="dxcvCommandItem"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxcvSummaryItem
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
.dxcvSearchPanel 
{
    padding: 7px;
    border-bottom: 1px solid #9F9F9F;
}
.dxcvSearchPanel > table 
{
    width: 70%;
    max-width: 450px;
}
.dxcvControl .dxcvSearchPanel .dxbButton 
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxcvControl .dxcvSearchPanel .dxbButton {
    margin-left: 0;
    margin-right: 7px;
}
.dxcvControl .dxcvHL
{
    background: #ffd83a;
    color: #333333;
    font-weight: bold;
    font-style: normal;
}
/* TODO remove (replace to command button style) */
.dxcvControl .dxcvSearchPanel .dxbButton
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}

.dxcvPagerTopPanel,
.dxcvPagerBottomPanel
{
    padding-top: 4px;
    padding-bottom: 4px;
}
.dxcvPagerTopPanel
{
    border-bottom: 1px solid #9F9F9F;
}
.dxcvPagerBottomPanel
{
    border-top: 1px solid #9F9F9F;
}
.dxcvHeaderPanel 
{
    background-color: #EDEDED;
    border-bottom: 1px solid #9F9F9F;
    padding: 2px 20px 8px 20px;
}
div.dxcvHeader
{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}
.dxcvStatusBar
{
    border-top: 1px Solid #9F9F9F;
    background: #F2F2F2;
}
.dxcvStatusBar tr.dxcv
{
    height: 20px;
}
.dxcvStatusBar tr.dxcv > td
{
    padding: 4px;
}

.dxcvFilterBar
{
    border-top: 1px solid #9F9F9F;
    background: #d4d4d4 none;
}
.dxcvFilterBar a
{
    color: #394ea2;
    text-decoration: underline;
}
.dxcvFilterBarCheckBoxCell
{
    padding: 0 7px 0 3px;
}
.dxcvFilterBarImageCell
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxcvFilterBarExpressionCell
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxcvFilterBarClearButtonCell
{
    padding: 5px 6px 8px;
}
.dxcvFilterBuilderMainArea
{
    background: white none;
    padding: 6px 2px;
} 
.dxcvFilterBuilderButtonArea
{
    background: #ededed none;
    border-top: 1px solid #cfcfcf;
    padding: 6px;
    white-space: nowrap;
}

.dxcvControl .dxpLite,
.dxcvDisabled .dxpLite
{
	padding-top: 4px;
}

.dxcvControl .dxcvHFSAC
{
    padding: 9px 0 0 4px;
}
.dxcvControl .dxcvHFSC
{
    padding: 9px 0 6px;
}
.dxcvControl .dxcvHFSC div
{
    height: 1px;
    background: #8b8b8b;
}

.dxcvControl .dxcvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxcvControl .dxcvHFDRC
{
    margin: 15px;
}
.dxcvControl .dxcvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxcvControl .dxcvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxcvControl .dxcvHFDRP[id*="HFTDE"]
{
    margin-bottom: 15px;
}

/* Removes flicking in iOS Safari*/
.dxcvTable
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxcvControl div[id$='DXEPLPC']
{
    height: 45px;
}



/* LoadingPanel */
.dxcvLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background-color: white;
	border: 1px solid #9F9F9F;
}
.dxcvLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxcvLoadingPanel .dxlp-loadingImage,
.dxcvLoadingPanelStatusBar .dxlp-loadingImage
{
	background: url('<%=WebResource("DevExpress.Web.Images.Loading.gif")%>');
	height: 16px;
	width: 16px;
}
.dxcvLoadingPanelStatusBar
{
	background-color: Transparent;
}
.dxcvLoadingPanelStatusBar td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxcvControl .dxcvSeparator,
.dxcvControl .dxcvSeparator div
{
    width: 20px;
    height: 20px;
}


.dxcvControl td.dxcvBatchEditCell
{
    padding: 0;
    outline-width: 0!important;
}
.dxcvControl .dxcvBatchEditModifiedCell
{
    background: #d7f9c7;
    outline-style: solid;
    outline-color: #d7f9c7;
    outline-width: 3px 0 2px 0;
}
.dxcvControl .dxcvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxcvControl .dxcvErrorCell img
{
    margin: -3px 0;
}
.dxcvStatusBar .dxbButton
{
    margin-right: 10px;
}
.dxcvControl td.dxcvBatchEditCell .dxichCellSys 
{
    padding-left: 0;
}

.dxcvControl .dxcvEMBC 
{
    background: white;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
}
.dxcvCardError
{
 	background-color: #FFC8C8;
    border-top: 1px solid #9F9F9F;
	color: #FF0000;
    padding: 6px 13px;
}