.dxCardView_gvCellError,
.dxCardView_gvFilterRowButton,
.dxCardView_gvHeaderFilter,
.dxCardView_gvHeaderFilterActive,
.dxCardView_gvHeaderSortDown,
.dxCardView_gvHeaderSortUp
{
    background-image: url('<%=WebResource("DevExpress.Web.Images.CardView.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxCardView_gvCellError
{
    background-position: 0px -35px;
    width: 14px;
    height: 14px;
}
.dxCardView_gvFilterRowButton
{
    background-position: 0px -50px;
    width: 13px;
    height: 13px;
}
.dxCardView_gvHeaderFilter
{
    background-position: 0px 0px;
    width: 15px;
    height: 17px;
}
.dxCardView_gvHeaderFilterActive
{
    background-position: 0px -18px;
    width: 15px;
    height: 16px;
}
.dxCardView_gvHeaderSortDown
{
    background-position: 0px -75px;
    width: 9px;
    height: 10px;
}
.dxCardView_gvHeaderSortUp
{
    background-position: 0px -64px;
    width: 9px;
    height: 10px;
}
