/* -- WebChartControl -- */
.dxchartsuiLoadingDiv
{
	background-color:Gray;	
	opacity: 0.01;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxchartsuiLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	border: solid 1px #9F9F9F;
	background-color: White;
}
.dxchartsuiLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

/* -- Crosshair -- */
.dxchartsuiCrosshairHLine,
.dxchartsuiCrosshairVLine
{
    background-color: transparent;
    border-color: #de39cd;
}

.dxchartsuiCrosshairLabel,
.dxchartsuiCrosshairHLine,
.dxchartsuiCrosshairVLine
{
    position: absolute;
    z-index: 41998;
}

.dxchartsuiCrosshairLabel
{
    background-color: #de39cd;
    color: White;
	font: 12px Tahoma, Geneva, sans-serif;
	padding: 1px 4px 1px 4px;
    white-space: nowrap;    
}

.dxchartsuiCrosshairHLine
{
    height: 0px;
}

.dxchartsuiCrosshairVLine
{
    width: 0px;
}

/* -- Tooltip -- */
.dxchartsuiTooltip,
.dxchartsuiTooltip_TopLeft,
.dxchartsuiTooltip_TopRight,
.dxchartsuiTooltip_BottomLeft,
.dxchartsuiTooltip_BottomRight
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid rgb(139, 139, 139);
	border: 1px solid rgba(0, 0, 0, 0.35);
	padding: 6px 10px 6px 10px;
    position: absolute;
    cursor: default;
    white-space: nowrap;
    -moz-box-shadow:    0px 2px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    box-shadow:         0px 2px 10px rgba(0, 0, 0, 0.35);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 41999;
}
.dxchartsuiTooltip_TopLeft:before,
.dxchartsuiTooltip_TopRight:before,
.dxchartsuiTooltip_BottomLeft:before,
.dxchartsuiTooltip_BottomRight:before,
.dxchartsuiTooltip_TopLeft:after,
.dxchartsuiTooltip_TopRight:after,
.dxchartsuiTooltip_BottomLeft:after,
.dxchartsuiTooltip_BottomRight:after
{
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}
.dxchartsuiTooltip_TopLeft:before,
.dxchartsuiTooltip_TopRight:before,
.dxchartsuiTooltip_BottomLeft:before,
.dxchartsuiTooltip_BottomRight:before
{
    border-width: 10px 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dxchartsuiTooltip_TopLeft:after,
.dxchartsuiTooltip_TopRight:after,
.dxchartsuiTooltip_BottomLeft:after,
.dxchartsuiTooltip_BottomRight:after
{
    border-width: 8px 4px;
}
.dxchartsuiTooltip_TopLeft:before
{
    border-color: transparent transparent rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35);
    top: -20px;
    left: 10px;
}
.dxchartsuiTooltip_TopLeft:after
{
    border-color: transparent transparent White White;
    top: -16px;
    left: 11px;
}
.dxchartsuiTooltip_TopRight:before
{
    border-color: transparent rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35) transparent;
    top: -20px;
    right: 10px;
}
.dxchartsuiTooltip_TopRight:after
{
    border-color: transparent White White transparent;
    top: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomRight:before
{
    border-color: rgba(139, 139, 139, 0.35) rgba(139, 139, 139, 0.35) transparent transparent;
    bottom: -20px;
    right: 10px;
}
.dxchartsuiTooltip_BottomRight:after
{
    border-color: White White transparent transparent;
    bottom: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomLeft:before
{
    border-color: rgba(139, 139, 139, 0.35) transparent transparent rgba(139, 139, 139, 0.35);
    bottom: -20px;
    left: 10px;
}
.dxchartsuiTooltip_BottomLeft:after
{
    border-color: White transparent transparent White;
    bottom: -16px;
    left: 11px;
}