.dxsplControl_Office2010Black .dxmLiteReportToolbarPane {
    border: 1px solid #6a6a6a;
    background: #a2a1a1 url('<%=WebResource("DevExpress.Web.ASPxThemes.App_Themes.Office2010Black.Web.mItemBack.png")%>') repeat-x left top;
    padding: 0;
}