/* ----------------- Main ----------------- */
/* Loading panel */
.dxheControl
{
    font: 12px Tahoma, Geneva, sans-serif;
    border: Solid 1px #7f7f7f;
}
.dxheLoadingDiv
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background-color: white;
	border: 1px solid #9F9F9F;
}
.dxheLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxheLoadingPanel .dxlp-loadingImage 
{
	background: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.Loading.gif")%>');
	height: 16px;
	width: 16px;
}

/* Area */
.dxheContentArea
{
    padding: 4px;
    padding-bottom: 6px;    
    background-color: #cecece;
}
.dxheErrorFrame
{
    font: 12px Tahoma, Geneva, sans-serif;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheControl .dxheContentArea .dxeMemo .dxheErrorFrame .dxhe,
.dxheControl.dxhe-rtl .dxheContentArea .dxeMemo .dxheErrorFrame .dxhe,
.dxheErrorFrame .dxhe {
    padding: 5px;
}
.dxheControl .dxheContentArea .dxeMemo .dxheErrorFrame .dxhe td,
.dxheControl.dxhe-rtl .dxheContentArea .dxeMemo .dxheErrorFrame .dxhe td,
.dxheErrorFrame .dxhe td {
    padding: 0px;
}
.dxheErrorFrame .dxheErrorFrameCloseButton {
    cursor: pointer;
}
.dxheViewArea
{
    border: Solid 1px #a8a8a8;    
}
.dxheContentArea td.dxheViewArea /*B209529*/
{
	line-height: 0;
}
.dxheContentArea td.dxheViewArea.dxheHtmlViewArea 
{
    line-height: inherit;
}
.dxheDesignViewArea,
.dxhePreviewArea 
{
    background-color: #FFFFFF;
}
.dxheControl .dxheHtmlViewArea,
.dxheHtmlViewArea .CodeMirror,
body.dxheDesignViewArea,
body.dxhePreviewArea 
{
    margin: 0px;
    background-image: none;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}
.dxheControl .dxeMemo.dxheHtmlViewArea .dxeMemoEditArea,
body.dxheDesignViewArea,
body.dxhePreviewArea
{
    padding: 15px 20px 0 20px;
}
.dxheControl .dxheContentArea .dxeMemo td
{
	padding: 0 40px 0 0;
}
.dxheControl.dxhe-rtl .dxheContentArea .dxeMemo td
{
	padding: 0 0 0 40px;
}
.dxheControl .dxeMemo textarea 
{
	resize: none;
}
.dxheControl td.dxheDesignViewArea .dxm-main.dxmtb 
{
    border: 1px solid #9F9F9F;
}
td.dxheDesignViewArea .dxmLite .dxmtb.dxm-horizontal .dxm-spacing {
    min-width: 2px;
    width: 2px;
}
.dxheControl td.dxheDesignViewArea
{
    position: relative;
}
td.dxheDesignViewArea .dxmLite {
    position: absolute;
    right: 0;
    padding-top: 5px;
    padding-right: 22px;
}
td.dxheDesignViewArea .dxmLite.dxm-rtl {
    right: inherit;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 5px;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea table.dxEmptyBorderTable,
body.dxheDesignViewArea table.dxEmptyBorderTable td  {
    border:1px dotted gray;
}
@media print 
{
	body.dxheDesignViewArea table.dxEmptyBorderTable,
	body.dxheDesignViewArea table.dxEmptyBorderTable td  
	{
		border:0px;
	}
}
body.dxheDesignViewArea
{
    word-wrap: inherit;
}
body.dxheDesignViewArea pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}
.dxheViewArea img.dxheAudio
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.dxheAudio.png")%>');
}
.dxheViewArea img.dxheFlash
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.dxheFlash.png")%>');
}
.dxheViewArea img.dxheVideo
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.dxheVideo.png")%>');
}
.dxheViewArea img.dxheYoutube
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.dxheYoutube.png")%>');
}
.dxheViewArea img.dxheNotSupported
{
	background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.dxheNotSupported.png")%>');
}
.dxheViewArea img.dxheAudio,
.dxheViewArea img.dxheFlash,
.dxheViewArea img.dxheVideo,
.dxheViewArea img.dxheYoutube,
.dxheViewArea img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
.dxheViewArea .dxhePlaceholder 
{
    cursor: default;
    white-space: nowrap;
}
.dxheViewArea.dxheDesignViewArea .dxheSelected
{
    background-color: #C0C0C0;
}
.dxhe-insertPlaceholder .dxeListBox.dxeFocused
{
    border: 1px solid #A0A0A0;
}
.dxhe-insertPlaceholder .dxflGroup .dxflGroupBox
{
    padding: 0 0 6px;
}
.dxhe-insertPlaceholder .dxflGroup .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    padding-top: 10px;
}
.dxhe-insertPlaceholder .dxeListBox,
.dxhe-insertPlaceholder .dxeListBox .dxlbd
{
    width: 220px;
    height: 215px;
}
/* CodeMirror */
.dxheHtmlViewArea .CodeMirror-activeline-background 
{
    background: #E5E5E5;
}
.dxheHtmlViewArea .CodeMirror-foldgutter-open::after
{
    content: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.heFoldGutterOpen.png")%>');
}
.dxheHtmlViewArea .CodeMirror-foldgutter-folded::after
{
    content: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.heFoldGutterFolded.png")%>');
}
.dxheHtmlViewArea .CodeMirror-foldmarker::after
{
    content: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.dxheFoldMarker.png")%>');
}
/* Status Bar */
.dxheStatusBar 
{
}
.dxheControl .dxheStatusBar .dxheStatusBarTab .dxtc-link
{
    padding: 3px 12px 5px 11px;
}
.dxheStatusBarActiveTab 
{
}
.dxHtmlEditor_heSizeGrip
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl
{
    cursor: ne-resize;
}
.dxheSizeGripContainer
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -16px;
}
.dxheControl.dxhe-rtl .dxheSizeGripContainer 
{
	text-align: left;
}
/* ----------------- Dialog Forms ----------------- */
.dxpcLite .dxheDlgFooter,
.dxpcLite .dxheCustomDialog .dxhecd-Buttons
{
    background-color: #F3F3F3;
    border-top: Solid 1px #E0E0E0;
	padding: 10px 11px;
	text-align: right;
}
.dxpcLite.dxRtl .dxheDlgFooter,
.dxpcLite.dxRtl .dxheCustomDialog .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite .dxheDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxpcLite.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxpcLite .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
	border: Solid 1px #9F9F9F;
}
.dxpcLite .dxhe-insertPlaceholder .dxflGroupCell .dxflGroupBox.dxflGroupBoxSys
{
	margin-top: 0px;
}
.dxpcLite .dxhe-insertPlaceholder .dxflGroupBox .dxflGroup
{
	padding-top: 0px;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing
{
	height: 1px;
}
.dxtbControl 
{
    color: black;
    background-color: #9d9d9d;
    width: 100%;
    border-bottom: Solid 1px #7f7f7f;
}
.dxtbControl td.dxmMenu
{
	border: 0px;
}
.dxtbComboBoxMenuItem
{
    padding-top: 2px;
}
.dxheControl .dxrControl
{
    background-color: #CECECE;
}
.dxheControl .dxrControl .dxtcLite .dxtc-stripContainer .dxtc-spacer,
.dxheControl .dxrControl .dxtcLite.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxheControl .dxrControl .dxr-tabContent
{
    border-width: 0 0 1px 0;
}
.dxheControl .dxrControl .dxr-minBtn
{
    padding-right: 8px;
}
.dxheControl .dxtbControl.dxtbr,
.dxheControl .dxrControl .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}

/* Toolbars Lightweight Mode */
.dxtbControl .dxmLite .dxm-main 
{
    border-width: 0px;
}
.dxmLite .dxhetipControl img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl { }
.dxtcbColorDiv
{
	width: 16px;
	height: 3px;
	font-size: 0;
	background-color: Transparent;
    margin-top: -3px;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl .dxrpContent,
.dxheRP.dxrpControlGB .dxrpContent
{
	background-color: #F5F5F5;
}
.dxheRP.dxrpControl .dxrpContent
{
    padding: 9px 8px !important;
}
.dxheRP.dxrpControl .dxrpcontent,
.dxheRP.dxrpControlGB .dxrpcontent
{
	border-color: #E2E2E2 !important;
}
/* InsertMediaDialogs */
.dxflFormLayout .dxhe-dialogSettings 
{
    width: 250px;
    padding-left: 16px;
}
.dxflFormLayout.dxhe-mediaDialog 
{
    width: 730px;
}
.dxflFormLayout.dxhe-mediaDialog .dxic-control, 
.dxflFormLayout.dxhe-mediaDialog .dxhe-dialogSettings 
{
    height: 450px;
}
div.dxflFormLayout.dxhe-dialog table.dxhe-dialogLG
{
    padding-left: 32px;
    padding-right: 32px;
}
div.dxflFormLayout.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout.dxhe-dialog .dxhe-dialogButtonsContainer  
{
    padding: 16px;
}
div.dxflFormLayout.dxhe-mediaDialogStyleSettings > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout.dxhe-mediaDialogMainSettings > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 32px;
}
/* tag inspector */
.dxheDesignViewArea .dxhe-tiSelection 
{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #2255FF;
    background-color: #0066FF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}

.dxhe-intelliSenseSysWin .dxeListBox.dxeFocused
{
    border-color: #A0A0A0;
}

div.dxhe-searchQuick div.dxbButton,
div.dxhe-searchQuick div.dxbButton .dxb
{
    background: none !important;
    border: none !important;
}

/*fix image buttons*/
.dxhe-quickSearchSysWin .dxWeb_pPrev, .dxhe-quickSearchSysWin .dxWeb_pNext 
{
    padding-top: 1px;	
}