.dxHtmlEditor_GIcons_heBackColor,
.dxHtmlEditor_GIcons_heBackColorDisabled,
.dxHtmlEditor_GIcons_heBold,
.dxHtmlEditor_GIcons_heBoldDisabled,
.dxHtmlEditor_GIcons_heCenter,
.dxHtmlEditor_GIcons_heCenterDisabled,
.dxHtmlEditor_GIcons_heChangeTableCellDialog,
.dxHtmlEditor_GIcons_heChangeTableCellDialogDisabled,
.dxHtmlEditor_GIcons_heChangeTableColumnDialog,
.dxHtmlEditor_GIcons_heChangeTableColumnDialogDisabled,
.dxHtmlEditor_GIcons_heChangeTableDialog,
.dxHtmlEditor_GIcons_heChangeTableDialogDisabled,
.dxHtmlEditor_GIcons_heChangeTableRowDialog,
.dxHtmlEditor_GIcons_heChangeTableRowDialogDisabled,
.dxHtmlEditor_GIcons_heCheckSpelling,
.dxHtmlEditor_GIcons_heCheckSpellingDisabled,
.dxHtmlEditor_GIcons_heComment,
.dxHtmlEditor_GIcons_heCommentDisabled,
.dxHtmlEditor_GIcons_heCopy,
.dxHtmlEditor_GIcons_heCopyDisabled,
.dxHtmlEditor_GIcons_heCut,
.dxHtmlEditor_GIcons_heCutDisabled,
.dxHtmlEditor_GIcons_heDeleteTable,
.dxHtmlEditor_GIcons_heDeleteTableColumn,
.dxHtmlEditor_GIcons_heDeleteTableColumnDisabled,
.dxHtmlEditor_GIcons_heDeleteTableDisabled,
.dxHtmlEditor_GIcons_heDeleteTableRow,
.dxHtmlEditor_GIcons_heDeleteTableRowDisabled,
.dxHtmlEditor_GIcons_heFindAndReplaceDialog,
.dxHtmlEditor_GIcons_heForeColor,
.dxHtmlEditor_GIcons_heForeColorDisabled,
.dxHtmlEditor_GIcons_heFormatDocument,
.dxHtmlEditor_GIcons_heFormatDocumentDisabled,
.dxHtmlEditor_GIcons_heFullscreen,
.dxHtmlEditor_GIcons_heFullscreenDisabled,
.dxHtmlEditor_GIcons_heIndent,
.dxHtmlEditor_GIcons_heIndentDisabled,
.dxHtmlEditor_GIcons_heInsertAudioDialog,
.dxHtmlEditor_GIcons_heInsertAudioDialogDisabled,
.dxHtmlEditor_GIcons_heInsertFlashDialog,
.dxHtmlEditor_GIcons_heInsertFlashDialogDisabled,
.dxHtmlEditor_GIcons_heInsertImageDialog,
.dxHtmlEditor_GIcons_heInsertImageDialogDisabled,
.dxHtmlEditor_GIcons_heInsertLinkDialog,
.dxHtmlEditor_GIcons_heInsertLinkDialogDisabled,
.dxHtmlEditor_GIcons_heInsertOrderedList,
.dxHtmlEditor_GIcons_heInsertOrderedListDisabled,
.dxHtmlEditor_GIcons_heInsertPlaceholder,
.dxHtmlEditor_GIcons_heInsertPlaceholderDisabled,
.dxHtmlEditor_GIcons_heInsertTableColumnOnLeft,
.dxHtmlEditor_GIcons_heInsertTableColumnOnLeftDisabled,
.dxHtmlEditor_GIcons_heInsertTableColumnOnRight,
.dxHtmlEditor_GIcons_heInsertTableColumnOnRightDisabled,
.dxHtmlEditor_GIcons_heInsertTableDialog,
.dxHtmlEditor_GIcons_heInsertTableDialogDisabled,
.dxHtmlEditor_GIcons_heInsertTableRowAbove,
.dxHtmlEditor_GIcons_heInsertTableRowAboveDisabled,
.dxHtmlEditor_GIcons_heInsertTableRowBelow,
.dxHtmlEditor_GIcons_heInsertTableRowBelowDisabled,
.dxHtmlEditor_GIcons_heInsertUnorderedList,
.dxHtmlEditor_GIcons_heInsertUnorderedListDisabled,
.dxHtmlEditor_GIcons_heInsertVideoDialog,
.dxHtmlEditor_GIcons_heInsertVideoDialogDisabled,
.dxHtmlEditor_GIcons_heInsertYouTubeDialog,
.dxHtmlEditor_GIcons_heInsertYouTubeDialogDisabled,
.dxHtmlEditor_GIcons_heItalic,
.dxHtmlEditor_GIcons_heItalicDisabled,
.dxHtmlEditor_GIcons_heJustifyFull,
.dxHtmlEditor_GIcons_heJustifyFullDisabled,
.dxHtmlEditor_GIcons_heLeft,
.dxHtmlEditor_GIcons_heLeftDisabled,
.dxHtmlEditor_GIcons_heMergeTableCellHorizontal,
.dxHtmlEditor_GIcons_heMergeTableCellHorizontalDisabled,
.dxHtmlEditor_GIcons_heMergeTableCellVertical,
.dxHtmlEditor_GIcons_heMergeTableCellVerticalDisabled,
.dxHtmlEditor_GIcons_heOutdent,
.dxHtmlEditor_GIcons_heOutdentDisabled,
.dxHtmlEditor_GIcons_hePaste,
.dxHtmlEditor_GIcons_hePasteDisabled,
.dxHtmlEditor_GIcons_hePasteFromWord,
.dxHtmlEditor_GIcons_hePasteFromWordDisabled,
.dxHtmlEditor_GIcons_hePasteHtmlMergeFormatting,
.dxHtmlEditor_GIcons_hePasteHtmlMergeFormattingDisabled,
.dxHtmlEditor_GIcons_hePasteHtmlPlainText,
.dxHtmlEditor_GIcons_hePasteHtmlPlainTextDisabled,
.dxHtmlEditor_GIcons_hePasteHtmlSourceFormatting,
.dxHtmlEditor_GIcons_hePasteHtmlSourceFormattingDisabled,
.dxHtmlEditor_GIcons_hePrint,
.dxHtmlEditor_GIcons_hePrintDisabled,
.dxHtmlEditor_GIcons_heRedo,
.dxHtmlEditor_GIcons_heRedoDisabled,
.dxHtmlEditor_GIcons_heRemoveFormat,
.dxHtmlEditor_GIcons_heRemoveFormatDisabled,
.dxHtmlEditor_GIcons_heRight,
.dxHtmlEditor_GIcons_heRightDisabled,
.dxHtmlEditor_GIcons_heSaveAsDocx,
.dxHtmlEditor_GIcons_heSaveAsDocxDisabled,
.dxHtmlEditor_GIcons_heSaveAsMht,
.dxHtmlEditor_GIcons_heSaveAsMhtDisabled,
.dxHtmlEditor_GIcons_heSaveAsOdt,
.dxHtmlEditor_GIcons_heSaveAsOdtDisabled,
.dxHtmlEditor_GIcons_heSaveAsPdf,
.dxHtmlEditor_GIcons_heSaveAsPdfDisabled,
.dxHtmlEditor_GIcons_heSaveAsRtf,
.dxHtmlEditor_GIcons_heSaveAsRtfDisabled,
.dxHtmlEditor_GIcons_heSaveAsTxt,
.dxHtmlEditor_GIcons_heSaveAsTxtDisabled,
.dxHtmlEditor_GIcons_heSelectAll,
.dxHtmlEditor_GIcons_heSelectAllDisabled,
.dxHtmlEditor_GIcons_heSplitTableCellHorizontal,
.dxHtmlEditor_GIcons_heSplitTableCellHorizontalDisabled,
.dxHtmlEditor_GIcons_heSplitTableCellVertical,
.dxHtmlEditor_GIcons_heSplitTableCellVerticalDisabled,
.dxHtmlEditor_GIcons_heStrikethrough,
.dxHtmlEditor_GIcons_heStrikethroughDisabled,
.dxHtmlEditor_GIcons_heSubscript,
.dxHtmlEditor_GIcons_heSubscriptDisabled,
.dxHtmlEditor_GIcons_heSuperscript,
.dxHtmlEditor_GIcons_heSuperscriptDisabled,
.dxHtmlEditor_GIcons_heUncomment,
.dxHtmlEditor_GIcons_heUncommentDisabled,
.dxHtmlEditor_GIcons_heUnderline,
.dxHtmlEditor_GIcons_heUnderlineDisabled,
.dxHtmlEditor_GIcons_heUndo,
.dxHtmlEditor_GIcons_heUndoDisabled,
.dxHtmlEditor_GIcons_heUnlink,
.dxHtmlEditor_GIcons_heUnlinkDisabled
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.GISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_GIcons_heBackColor
{
    background-position: 0px -1632px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heBackColorDisabled
{
    background-position: 0px -901px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heBold
{
    background-position: 0px -697px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heBoldDisabled
{
    background-position: 0px -1785px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCenter
{
    background-position: 0px -1071px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCenterDisabled
{
    background-position: 0px -1564px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableCellDialog
{
    background-position: 0px -1887px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableCellDialogDisabled
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableColumnDialog
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableColumnDialogDisabled
{
    background-position: 0px -1751px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableDialog
{
    background-position: 0px -1377px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableDialogDisabled
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableRowDialog
{
    background-position: 0px -1139px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heChangeTableRowDialogDisabled
{
    background-position: 0px -1700px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCheckSpelling
{
    background-position: 0px -1207px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCheckSpellingDisabled
{
    background-position: 0px -1479px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heComment
{
    background-position: 0px -1224px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCommentDisabled
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCopy
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCopyDisabled
{
    background-position: 0px -629px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCut
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heCutDisabled
{
    background-position: 0px -969px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heDeleteTable
{
    background-position: 0px -1122px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heDeleteTableColumn
{
    background-position: 0px -1598px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heDeleteTableColumnDisabled
{
    background-position: 0px -748px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heDeleteTableDisabled
{
    background-position: 0px -782px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heDeleteTableRow
{
    background-position: 0px -1326px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heDeleteTableRowDisabled
{
    background-position: 0px -1037px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heFindAndReplaceDialog
{
    background-position: 0px -561px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heForeColor
{
    background-position: 0px -2057px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heForeColorDisabled
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heFormatDocument
{
    background-position: 0px -510px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heFormatDocumentDisabled
{
    background-position: 0px -1853px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heFullscreen
{
    background-position: 0px -1343px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heFullscreenDisabled
{
    background-position: 0px -1649px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heIndent
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heIndentDisabled
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertAudioDialog
{
    background-position: 0px -1581px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertAudioDialogDisabled
{
    background-position: 0px -1938px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertFlashDialog
{
    background-position: 0px -595px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertFlashDialogDisabled
{
    background-position: 0px -850px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertImageDialog
{
    background-position: 0px -1173px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertImageDialogDisabled
{
    background-position: 0px -2142px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertLinkDialog
{
    background-position: 0px -663px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertLinkDialogDisabled
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertOrderedList
{
    background-position: 0px -2125px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertOrderedListDisabled
{
    background-position: 0px -833px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertPlaceholder
{
    background-position: 0px -714px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertPlaceholderDisabled
{
    background-position: 0px -731px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableColumnOnLeft
{
    background-position: 0px -680px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableColumnOnLeftDisabled
{
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableColumnOnRight
{
    background-position: 0px -2108px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableColumnOnRightDisabled
{
    background-position: 0px -2040px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableDialog
{
    background-position: 0px -1734px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableDialogDisabled
{
    background-position: 0px -1394px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableRowAbove
{
    background-position: 0px -1496px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableRowAboveDisabled
{
    background-position: 0px -1360px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableRowBelow
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertTableRowBelowDisabled
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertUnorderedList
{
    background-position: 0px -646px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertUnorderedListDisabled
{
    background-position: 0px -799px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertVideoDialog
{
    background-position: 0px -2006px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertVideoDialogDisabled
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertYouTubeDialog
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heInsertYouTubeDialogDisabled
{
    background-position: 0px -765px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heItalic
{
    background-position: 0px -1921px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heItalicDisabled
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heJustifyFull
{
    background-position: 0px -1904px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heJustifyFullDisabled
{
    background-position: 0px -918px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heLeft
{
    background-position: 0px -1870px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heLeftDisabled
{
    background-position: 0px -1955px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heMergeTableCellHorizontal
{
    background-position: 0px -1445px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heMergeTableCellHorizontalDisabled
{
    background-position: 0px -935px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heMergeTableCellVertical
{
    background-position: 0px -1768px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heMergeTableCellVerticalDisabled
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heOutdent
{
    background-position: 0px -1513px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heOutdentDisabled
{
    background-position: 0px -476px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePaste
{
    background-position: 0px -1105px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteDisabled
{
    background-position: 0px -1275px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteFromWord
{
    background-position: 0px -2023px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteFromWordDisabled
{
    background-position: 0px -1802px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteHtmlMergeFormatting
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteHtmlMergeFormattingDisabled
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteHtmlPlainText
{
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteHtmlPlainTextDisabled
{
    background-position: 0px -1989px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteHtmlSourceFormatting
{
    background-position: 0px -1190px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePasteHtmlSourceFormattingDisabled
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePrint
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_hePrintDisabled
{
    background-position: 0px -1972px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heRedo
{
    background-position: 0px -1717px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heRedoDisabled
{
    background-position: 0px -1683px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heRemoveFormat
{
    background-position: 0px -578px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heRemoveFormatDisabled
{
    background-position: 0px -1615px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heRight
{
    background-position: 0px -1530px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heRightDisabled
{
    background-position: 0px -1156px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsDocx
{
    background-position: 0px -1020px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsDocxDisabled
{
    background-position: 0px -1428px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsMht
{
    background-position: 0px -952px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsMhtDisabled
{
    background-position: 0px -459px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsOdt
{
    background-position: 0px -1258px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsOdtDisabled
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsPdf
{
    background-position: 0px -527px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsPdfDisabled
{
    background-position: 0px -1411px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsRtf
{
    background-position: 0px -1666px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsRtfDisabled
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsTxt
{
    background-position: 0px -1088px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSaveAsTxtDisabled
{
    background-position: 0px -884px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSelectAll
{
    background-position: 0px -1819px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSelectAllDisabled
{
    background-position: 0px -1292px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSplitTableCellHorizontal
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSplitTableCellHorizontalDisabled
{
    background-position: 0px -2091px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSplitTableCellVertical
{
    background-position: 0px -1462px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSplitTableCellVerticalDisabled
{
    background-position: 0px -1309px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heStrikethrough
{
    background-position: 0px -1241px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heStrikethroughDisabled
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSubscript
{
    background-position: 0px -1547px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSubscriptDisabled
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSuperscript
{
    background-position: 0px -816px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heSuperscriptDisabled
{
    background-position: 0px -2074px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUncomment
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUncommentDisabled
{
    background-position: 0px -1003px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUnderline
{
    background-position: 0px -1836px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUnderlineDisabled
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUndo
{
    background-position: 0px -986px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUndoDisabled
{
    background-position: 0px -493px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUnlink
{
    background-position: 0px -1054px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heUnlinkDisabled
{
    background-position: 0px -867px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GIcons_heForeColor,
.dxHtmlEditor_GIcons_heBackColor
{
	display:block;
}
.dxHtmlEditor_GIcons_heFindAndReplaceDialogDisabled 
{
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=35);    
}
