.dxHtmlEditor_GWIcons_heBackColor,
.dxHtmlEditor_GWIcons_heBackColorDisabled,
.dxHtmlEditor_GWIcons_heBold,
.dxHtmlEditor_GWIcons_heBoldDisabled,
.dxHtmlEditor_GWIcons_heCenter,
.dxHtmlEditor_GWIcons_heCenterDisabled,
.dxHtmlEditor_GWIcons_heChangeTableCellDialog,
.dxHtmlEditor_GWIcons_heChangeTableCellDialogDisabled,
.dxHtmlEditor_GWIcons_heChangeTableColumnDialog,
.dxHtmlEditor_GWIcons_heChangeTableColumnDialogDisabled,
.dxHtmlEditor_GWIcons_heChangeTableDialog,
.dxHtmlEditor_GWIcons_heChangeTableDialogDisabled,
.dxHtmlEditor_GWIcons_heChangeTableRowDialog,
.dxHtmlEditor_GWIcons_heChangeTableRowDialogDisabled,
.dxHtmlEditor_GWIcons_heCheckSpelling,
.dxHtmlEditor_GWIcons_heCheckSpellingDisabled,
.dxHtmlEditor_GWIcons_heComment,
.dxHtmlEditor_GWIcons_heCommentDisabled,
.dxHtmlEditor_GWIcons_heCopy,
.dxHtmlEditor_GWIcons_heCopyDisabled,
.dxHtmlEditor_GWIcons_heCut,
.dxHtmlEditor_GWIcons_heCutDisabled,
.dxHtmlEditor_GWIcons_heDeleteTable,
.dxHtmlEditor_GWIcons_heDeleteTableColumn,
.dxHtmlEditor_GWIcons_heDeleteTableColumnDisabled,
.dxHtmlEditor_GWIcons_heDeleteTableDisabled,
.dxHtmlEditor_GWIcons_heDeleteTableRow,
.dxHtmlEditor_GWIcons_heDeleteTableRowDisabled,
.dxHtmlEditor_GWIcons_heFindAndReplaceDialog,
.dxHtmlEditor_GWIcons_heForeColor,
.dxHtmlEditor_GWIcons_heForeColorDisabled,
.dxHtmlEditor_GWIcons_heFormatDocument,
.dxHtmlEditor_GWIcons_heFormatDocumentDisabled,
.dxHtmlEditor_GWIcons_heFullscreen,
.dxHtmlEditor_GWIcons_heFullscreenDisabled,
.dxHtmlEditor_GWIcons_heIndent,
.dxHtmlEditor_GWIcons_heIndentDisabled,
.dxHtmlEditor_GWIcons_heInsertAudioDialog,
.dxHtmlEditor_GWIcons_heInsertAudioDialogDisabled,
.dxHtmlEditor_GWIcons_heInsertFlashDialog,
.dxHtmlEditor_GWIcons_heInsertFlashDialogDisabled,
.dxHtmlEditor_GWIcons_heInsertImageDialog,
.dxHtmlEditor_GWIcons_heInsertImageDialogDisabled,
.dxHtmlEditor_GWIcons_heInsertLinkDialog,
.dxHtmlEditor_GWIcons_heInsertLinkDialogDisabled,
.dxHtmlEditor_GWIcons_heInsertOrderedList,
.dxHtmlEditor_GWIcons_heInsertOrderedListDisabled,
.dxHtmlEditor_GWIcons_heInsertPlaceholder,
.dxHtmlEditor_GWIcons_heInsertPlaceholderDisabled,
.dxHtmlEditor_GWIcons_heInsertTableColumnOnLeft,
.dxHtmlEditor_GWIcons_heInsertTableColumnOnLeftDisabled,
.dxHtmlEditor_GWIcons_heInsertTableColumnOnRight,
.dxHtmlEditor_GWIcons_heInsertTableColumnOnRightDisabled,
.dxHtmlEditor_GWIcons_heInsertTableDialog,
.dxHtmlEditor_GWIcons_heInsertTableDialogDisabled,
.dxHtmlEditor_GWIcons_heInsertTableRowAbove,
.dxHtmlEditor_GWIcons_heInsertTableRowAboveDisabled,
.dxHtmlEditor_GWIcons_heInsertTableRowBelow,
.dxHtmlEditor_GWIcons_heInsertTableRowBelowDisabled,
.dxHtmlEditor_GWIcons_heInsertUnorderedList,
.dxHtmlEditor_GWIcons_heInsertUnorderedListDisabled,
.dxHtmlEditor_GWIcons_heInsertVideoDialog,
.dxHtmlEditor_GWIcons_heInsertVideoDialogDisabled,
.dxHtmlEditor_GWIcons_heInsertYouTubeDialog,
.dxHtmlEditor_GWIcons_heInsertYouTubeDialogDisabled,
.dxHtmlEditor_GWIcons_heItalic,
.dxHtmlEditor_GWIcons_heItalicDisabled,
.dxHtmlEditor_GWIcons_heJustifyFull,
.dxHtmlEditor_GWIcons_heJustifyFullDisabled,
.dxHtmlEditor_GWIcons_heLeft,
.dxHtmlEditor_GWIcons_heLeftDisabled,
.dxHtmlEditor_GWIcons_heMergeTableCellHorizontal,
.dxHtmlEditor_GWIcons_heMergeTableCellHorizontalDisabled,
.dxHtmlEditor_GWIcons_heMergeTableCellVertical,
.dxHtmlEditor_GWIcons_heMergeTableCellVerticalDisabled,
.dxHtmlEditor_GWIcons_heOutdent,
.dxHtmlEditor_GWIcons_heOutdentDisabled,
.dxHtmlEditor_GWIcons_hePaste,
.dxHtmlEditor_GWIcons_hePasteDisabled,
.dxHtmlEditor_GWIcons_hePasteFromWord,
.dxHtmlEditor_GWIcons_hePasteFromWordDisabled,
.dxHtmlEditor_GWIcons_hePasteHtmlMergeFormatting,
.dxHtmlEditor_GWIcons_hePasteHtmlMergeFormattingDisabled,
.dxHtmlEditor_GWIcons_hePasteHtmlPlainText,
.dxHtmlEditor_GWIcons_hePasteHtmlPlainTextDisabled,
.dxHtmlEditor_GWIcons_hePasteHtmlSourceFormatting,
.dxHtmlEditor_GWIcons_hePasteHtmlSourceFormattingDisabled,
.dxHtmlEditor_GWIcons_hePrint,
.dxHtmlEditor_GWIcons_hePrintDisabled,
.dxHtmlEditor_GWIcons_heRedo,
.dxHtmlEditor_GWIcons_heRedoDisabled,
.dxHtmlEditor_GWIcons_heRemoveFormat,
.dxHtmlEditor_GWIcons_heRemoveFormatDisabled,
.dxHtmlEditor_GWIcons_heRight,
.dxHtmlEditor_GWIcons_heRightDisabled,
.dxHtmlEditor_GWIcons_heSaveAsDocx,
.dxHtmlEditor_GWIcons_heSaveAsDocxDisabled,
.dxHtmlEditor_GWIcons_heSaveAsMht,
.dxHtmlEditor_GWIcons_heSaveAsMhtDisabled,
.dxHtmlEditor_GWIcons_heSaveAsOdt,
.dxHtmlEditor_GWIcons_heSaveAsOdtDisabled,
.dxHtmlEditor_GWIcons_heSaveAsPdf,
.dxHtmlEditor_GWIcons_heSaveAsPdfDisabled,
.dxHtmlEditor_GWIcons_heSaveAsRtf,
.dxHtmlEditor_GWIcons_heSaveAsRtfDisabled,
.dxHtmlEditor_GWIcons_heSaveAsTxt,
.dxHtmlEditor_GWIcons_heSaveAsTxtDisabled,
.dxHtmlEditor_GWIcons_heSelectAll,
.dxHtmlEditor_GWIcons_heSelectAllDisabled,
.dxHtmlEditor_GWIcons_heSplitTableCellHorizontal,
.dxHtmlEditor_GWIcons_heSplitTableCellHorizontalDisabled,
.dxHtmlEditor_GWIcons_heSplitTableCellVertical,
.dxHtmlEditor_GWIcons_heSplitTableCellVerticalDisabled,
.dxHtmlEditor_GWIcons_heStrikethrough,
.dxHtmlEditor_GWIcons_heStrikethroughDisabled,
.dxHtmlEditor_GWIcons_heSubscript,
.dxHtmlEditor_GWIcons_heSubscriptDisabled,
.dxHtmlEditor_GWIcons_heSuperscript,
.dxHtmlEditor_GWIcons_heSuperscriptDisabled,
.dxHtmlEditor_GWIcons_heUncomment,
.dxHtmlEditor_GWIcons_heUncommentDisabled,
.dxHtmlEditor_GWIcons_heUnderline,
.dxHtmlEditor_GWIcons_heUnderlineDisabled,
.dxHtmlEditor_GWIcons_heUndo,
.dxHtmlEditor_GWIcons_heUndoDisabled,
.dxHtmlEditor_GWIcons_heUnlink,
.dxHtmlEditor_GWIcons_heUnlinkDisabled,
.dxm-hovered .dxHtmlEditor_GWIcons_heBackColor,
.dxm-hovered .dxHtmlEditor_GWIcons_heBold,
.dxm-hovered .dxHtmlEditor_GWIcons_heCenter,
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableCellDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableColumnDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableRowDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heCheckSpelling,
.dxm-hovered .dxHtmlEditor_GWIcons_heComment,
.dxm-hovered .dxHtmlEditor_GWIcons_heCopy,
.dxm-hovered .dxHtmlEditor_GWIcons_heCut,
.dxm-hovered .dxHtmlEditor_GWIcons_heDeleteTable,
.dxm-hovered .dxHtmlEditor_GWIcons_heDeleteTableColumn,
.dxm-hovered .dxHtmlEditor_GWIcons_heDeleteTableRow,
.dxm-hovered .dxHtmlEditor_GWIcons_heFindAndReplaceDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heForeColor,
.dxm-hovered .dxHtmlEditor_GWIcons_heFormatDocument,
.dxm-hovered .dxHtmlEditor_GWIcons_heFullscreen,
.dxm-hovered .dxHtmlEditor_GWIcons_heIndent,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertAudioDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertFlashDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertImageDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertLinkDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertOrderedList,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertPlaceholder,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableColumnOnLeft,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableColumnOnRight,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableRowAbove,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableRowBelow,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertUnorderedList,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertVideoDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertYouTubeDialog,
.dxm-hovered .dxHtmlEditor_GWIcons_heItalic,
.dxm-hovered .dxHtmlEditor_GWIcons_heJustifyFull,
.dxm-hovered .dxHtmlEditor_GWIcons_heLeft,
.dxm-hovered .dxHtmlEditor_GWIcons_heMergeTableCellHorizontal,
.dxm-hovered .dxHtmlEditor_GWIcons_heMergeTableCellVertical,
.dxm-hovered .dxHtmlEditor_GWIcons_heOutdent,
.dxm-hovered .dxHtmlEditor_GWIcons_hePaste,
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteFromWord,
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteHtmlMergeFormatting,
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteHtmlPlainText,
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteHtmlSourceFormatting,
.dxm-hovered .dxHtmlEditor_GWIcons_hePrint,
.dxm-hovered .dxHtmlEditor_GWIcons_heRedo,
.dxm-hovered .dxHtmlEditor_GWIcons_heRemoveFormat,
.dxm-hovered .dxHtmlEditor_GWIcons_heRight,
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsDocx,
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsMht,
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsOdt,
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsPdf,
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsRtf,
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsTxt,
.dxm-hovered .dxHtmlEditor_GWIcons_heSelectAll,
.dxm-hovered .dxHtmlEditor_GWIcons_heSplitTableCellHorizontal,
.dxm-hovered .dxHtmlEditor_GWIcons_heSplitTableCellVertical,
.dxm-hovered .dxHtmlEditor_GWIcons_heStrikethrough,
.dxm-hovered .dxHtmlEditor_GWIcons_heSubscript,
.dxm-hovered .dxHtmlEditor_GWIcons_heSuperscript,
.dxm-hovered .dxHtmlEditor_GWIcons_heUncomment,
.dxm-hovered .dxHtmlEditor_GWIcons_heUnderline,
.dxm-hovered .dxHtmlEditor_GWIcons_heUndo,
.dxm-hovered .dxHtmlEditor_GWIcons_heUnlink
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.GWISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_GWIcons_heBackColor
{
    background-position: 0px -2193px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heBackColorDisabled
{
    background-position: 0px -2771px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heBold
{
    background-position: 0px -1700px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heBoldDisabled
{
    background-position: 0px -2992px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCenter
{
    background-position: 0px -1649px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCenterDisabled
{
    background-position: 0px -765px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableCellDialog
{
    background-position: 0px -1802px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableCellDialogDisabled
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableColumnDialog
{
    background-position: 0px -2669px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableColumnDialogDisabled
{
    background-position: 0px -782px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableDialog
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableDialogDisabled
{
    background-position: 0px -527px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableRowDialog
{
    background-position: 0px -1547px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heChangeTableRowDialogDisabled
{
    background-position: 0px -2040px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCheckSpelling
{
    background-position: 0px -629px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCheckSpellingDisabled
{
    background-position: 0px -2958px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heComment
{
    background-position: 0px -1870px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCommentDisabled
{
    background-position: 0px -1020px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCopy
{
    background-position: 0px -2465px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCopyDisabled
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCut
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heCutDisabled
{
    background-position: 0px -816px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heDeleteTable
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heDeleteTableColumn
{
    background-position: 0px -510px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heDeleteTableColumnDisabled
{
    background-position: 0px -1955px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heDeleteTableDisabled
{
    background-position: 0px -2601px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heDeleteTableRow
{
    background-position: 0px -1071px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heDeleteTableRowDisabled
{
    background-position: 0px -2975px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heFindAndReplaceDialog
{
    background-position: 0px -1275px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heForeColor
{
    background-position: 0px -1411px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heForeColorDisabled
{
    background-position: 0px -1581px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heFormatDocument
{
    background-position: 0px -1768px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heFormatDocumentDisabled
{
    background-position: 0px -2550px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heFullscreen
{
    background-position: 0px -2159px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heFullscreenDisabled
{
    background-position: 0px -697px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heIndent
{
    background-position: 0px -731px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heIndentDisabled
{
    background-position: 0px -3179px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertAudioDialog
{
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertAudioDialogDisabled
{
    background-position: 0px -680px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertFlashDialog
{
    background-position: 0px -952px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertFlashDialogDisabled
{
    background-position: 0px -1394px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertImageDialog
{
    background-position: 0px -2329px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertImageDialogDisabled
{
    background-position: 0px -1972px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertLinkDialog
{
    background-position: 0px -1938px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertLinkDialogDisabled
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertOrderedList
{
    background-position: 0px -2227px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertOrderedListDisabled
{
    background-position: 0px -2261px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertPlaceholder
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertPlaceholderDisabled
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableColumnOnLeft
{
    background-position: 0px -2652px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableColumnOnLeftDisabled
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableColumnOnRight
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableColumnOnRightDisabled
{
    background-position: 0px -833px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableDialog
{
    background-position: 0px -561px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableDialogDisabled
{
    background-position: 0px -1683px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableRowAbove
{
    background-position: 0px -1258px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableRowAboveDisabled
{
    background-position: 0px -2057px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableRowBelow
{
    background-position: 0px -2805px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertTableRowBelowDisabled
{
    background-position: 0px -493px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertUnorderedList
{
    background-position: 0px -2482px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertUnorderedListDisabled
{
    background-position: 0px -986px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertVideoDialog
{
    background-position: 0px -2533px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertVideoDialogDisabled
{
    background-position: 0px -2618px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertYouTubeDialog
{
    background-position: 0px -2363px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heInsertYouTubeDialogDisabled
{
    background-position: 0px -1496px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heItalic
{
    background-position: 0px -3128px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heItalicDisabled
{
    background-position: 0px -646px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heJustifyFull
{
    background-position: 0px -850px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heJustifyFullDisabled
{
    background-position: 0px -1207px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heLeft
{
    background-position: 0px -1292px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heLeftDisabled
{
    background-position: 0px -3213px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heMergeTableCellHorizontal
{
    background-position: 0px -2448px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heMergeTableCellHorizontalDisabled
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heMergeTableCellVertical
{
    background-position: 0px -2567px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heMergeTableCellVerticalDisabled
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heOutdent
{
    background-position: 0px -2414px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heOutdentDisabled
{
    background-position: 0px -1785px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePaste
{
    background-position: 0px -2856px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteDisabled
{
    background-position: 0px -1309px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteFromWord
{
    background-position: 0px -1122px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteFromWordDisabled
{
    background-position: 0px -1632px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteHtmlMergeFormatting
{
    background-position: 0px -2176px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteHtmlMergeFormattingDisabled
{
    background-position: 0px -2278px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteHtmlPlainText
{
    background-position: 0px -2499px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteHtmlPlainTextDisabled
{
    background-position: 0px -1224px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteHtmlSourceFormatting
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePasteHtmlSourceFormattingDisabled
{
    background-position: 0px -2431px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePrint
{
    background-position: 0px -1615px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_hePrintDisabled
{
    background-position: 0px -799px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heRedo
{
    background-position: 0px -1598px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heRedoDisabled
{
    background-position: 0px -1377px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heRemoveFormat
{
    background-position: 0px -1564px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heRemoveFormatDisabled
{
    background-position: 0px -2635px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heRight
{
    background-position: 0px -2873px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heRightDisabled
{
    background-position: 0px -1156px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsDocx
{
    background-position: 0px -1666px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsDocxDisabled
{
    background-position: 0px -1173px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsMht
{
    background-position: 0px -1513px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsMhtDisabled
{
    background-position: 0px -901px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsOdt
{
    background-position: 0px -867px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsOdtDisabled
{
    background-position: 0px -1479px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsPdf
{
    background-position: 0px -2924px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsPdfDisabled
{
    background-position: 0px -2584px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsRtf
{
    background-position: 0px -1326px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsRtfDisabled
{
    background-position: 0px -3230px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsTxt
{
    background-position: 0px -935px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSaveAsTxtDisabled
{
    background-position: 0px -2703px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSelectAll
{
    background-position: 0px -2210px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSelectAllDisabled
{
    background-position: 0px -2941px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSplitTableCellHorizontal
{
    background-position: 0px -3009px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSplitTableCellHorizontalDisabled
{
    background-position: 0px -1037px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSplitTableCellVertical
{
    background-position: 0px -2890px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSplitTableCellVerticalDisabled
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heStrikethrough
{
    background-position: 0px -1105px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heStrikethroughDisabled
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSubscript
{
    background-position: 0px -2822px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSubscriptDisabled
{
    background-position: 0px -3094px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSuperscript
{
    background-position: 0px -3196px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heSuperscriptDisabled
{
    background-position: 0px -3162px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUncomment
{
    background-position: 0px -3077px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUncommentDisabled
{
    background-position: 0px -969px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUnderline
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUnderlineDisabled
{
    background-position: 0px -1360px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUndo
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUndoDisabled
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUnlink
{
    background-position: 0px -1751px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heUnlinkDisabled
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heBackColor
{
    background-position: 0px -2516px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heBold
{
    background-position: 0px -459px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heCenter
{
    background-position: 0px -595px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableCellDialog
{
    background-position: 0px -1428px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableColumnDialog
{
    background-position: 0px -663px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableDialog
{
    background-position: 0px -2244px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heChangeTableRowDialog
{
    background-position: 0px -2686px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heCheckSpelling
{
    background-position: 0px -2788px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heComment
{
    background-position: 0px -3145px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heCopy
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heCut
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heDeleteTable
{
    background-position: 0px -1853px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heDeleteTableColumn
{
    background-position: 0px -2091px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heDeleteTableRow
{
    background-position: 0px -3111px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heFindAndReplaceDialog
{
    background-position: 0px -1139px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heForeColor
{
    background-position: 0px -918px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heFormatDocument
{
    background-position: 0px -1003px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heFullscreen
{
    background-position: 0px -2142px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heIndent
{
    background-position: 0px -2312px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertAudioDialog
{
    background-position: 0px -1190px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertFlashDialog
{
    background-position: 0px -3026px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertImageDialog
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertLinkDialog
{
    background-position: 0px -2754px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertOrderedList
{
    background-position: 0px -1734px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertPlaceholder
{
    background-position: 0px -3043px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableColumnOnLeft
{
    background-position: 0px -1445px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableColumnOnRight
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableDialog
{
    background-position: 0px -1887px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableRowAbove
{
    background-position: 0px -2907px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertTableRowBelow
{
    background-position: 0px -714px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertUnorderedList
{
    background-position: 0px -1343px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertVideoDialog
{
    background-position: 0px -1530px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heInsertYouTubeDialog
{
    background-position: 0px -1921px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heItalic
{
    background-position: 0px -2839px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heJustifyFull
{
    background-position: 0px -1054px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heLeft
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heMergeTableCellHorizontal
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heMergeTableCellVertical
{
    background-position: 0px -1989px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heOutdent
{
    background-position: 0px -1717px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_hePaste
{
    background-position: 0px -1819px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteFromWord
{
    background-position: 0px -2397px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteHtmlMergeFormatting
{
    background-position: 0px -2125px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteHtmlPlainText
{
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_hePasteHtmlSourceFormatting
{
    background-position: 0px -476px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_hePrint
{
    background-position: 0px -1904px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heRedo
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heRemoveFormat
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heRight
{
    background-position: 0px -578px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsDocx
{
    background-position: 0px -748px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsMht
{
    background-position: 0px -2737px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsOdt
{
    background-position: 0px -2295px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsPdf
{
    background-position: 0px -2074px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsRtf
{
    background-position: 0px -3060px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSaveAsTxt
{
    background-position: 0px -2720px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSelectAll
{
    background-position: 0px -2006px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSplitTableCellHorizontal
{
    background-position: 0px -1241px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSplitTableCellVertical
{
    background-position: 0px -1462px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heStrikethrough
{
    background-position: 0px -2108px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSubscript
{
    background-position: 0px -2380px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heSuperscript
{
    background-position: 0px -884px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heUncomment
{
    background-position: 0px -1088px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heUnderline
{
    background-position: 0px -2346px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heUndo
{
    background-position: 0px -1836px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_GWIcons_heUnlink
{
    background-position: 0px -2023px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_GWIcons_heForeColor,
.dxHtmlEditor_GWIcons_heBackColor
{
	display:block;
}
.dxHtmlEditor_GWIcons_heFindAndReplaceDialogDisabled 
{
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=35);    
}
