.dxHtmlEditor_Icons_heBackColor,
.dxHtmlEditor_Icons_heBackColorDisabled,
.dxHtmlEditor_Icons_heBold,
.dxHtmlEditor_Icons_heBoldDisabled,
.dxHtmlEditor_Icons_heCenter,
.dxHtmlEditor_Icons_heCenterDisabled,
.dxHtmlEditor_Icons_heChangeTableCellDialog,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled,
.dxHtmlEditor_Icons_heChangeTableColumnDialog,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled,
.dxHtmlEditor_Icons_heChangeTableDialog,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled,
.dxHtmlEditor_Icons_heChangeTableRowDialog,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled,
.dxHtmlEditor_Icons_heCheckSpelling,
.dxHtmlEditor_Icons_heCheckSpellingDisabled,
.dxHtmlEditor_Icons_heComment,
.dxHtmlEditor_Icons_heCommentDisabled,
.dxHtmlEditor_Icons_heCopy,
.dxHtmlEditor_Icons_heCopyDisabled,
.dxHtmlEditor_Icons_heCut,
.dxHtmlEditor_Icons_heCutDisabled,
.dxHtmlEditor_Icons_heDeleteTable,
.dxHtmlEditor_Icons_heDeleteTableColumn,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled,
.dxHtmlEditor_Icons_heDeleteTableDisabled,
.dxHtmlEditor_Icons_heDeleteTableRow,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled,
.dxHtmlEditor_Icons_heFindAndReplaceDialog,
.dxHtmlEditor_Icons_heForeColor,
.dxHtmlEditor_Icons_heForeColorDisabled,
.dxHtmlEditor_Icons_heFormatDocument,
.dxHtmlEditor_Icons_heFormatDocumentDisabled,
.dxHtmlEditor_Icons_heFullscreen,
.dxHtmlEditor_Icons_heFullscreenDisabled,
.dxHtmlEditor_Icons_heIndent,
.dxHtmlEditor_Icons_heIndentDisabled,
.dxHtmlEditor_Icons_heInsertAudioDialog,
.dxHtmlEditor_Icons_heInsertAudioDialogDisabled,
.dxHtmlEditor_Icons_heInsertFlashDialog,
.dxHtmlEditor_Icons_heInsertFlashDialogDisabled,
.dxHtmlEditor_Icons_heInsertImageDialog,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled,
.dxHtmlEditor_Icons_heInsertLinkDialog,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled,
.dxHtmlEditor_Icons_heInsertOrderedList,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled,
.dxHtmlEditor_Icons_heInsertPlaceholder,
.dxHtmlEditor_Icons_heInsertPlaceholderDisabled,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled,
.dxHtmlEditor_Icons_heInsertTableDialog,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled,
.dxHtmlEditor_Icons_heInsertTableRowAbove,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled,
.dxHtmlEditor_Icons_heInsertTableRowBelow,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled,
.dxHtmlEditor_Icons_heInsertUnorderedList,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled,
.dxHtmlEditor_Icons_heInsertVideoDialog,
.dxHtmlEditor_Icons_heInsertVideoDialogDisabled,
.dxHtmlEditor_Icons_heInsertYouTubeDialog,
.dxHtmlEditor_Icons_heInsertYouTubeDialogDisabled,
.dxHtmlEditor_Icons_heItalic,
.dxHtmlEditor_Icons_heItalicDisabled,
.dxHtmlEditor_Icons_heJustifyFull,
.dxHtmlEditor_Icons_heJustifyFullDisabled,
.dxHtmlEditor_Icons_heLeft,
.dxHtmlEditor_Icons_heLeftDisabled,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled,
.dxHtmlEditor_Icons_heMergeTableCellVertical,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled,
.dxHtmlEditor_Icons_heOutdent,
.dxHtmlEditor_Icons_heOutdentDisabled,
.dxHtmlEditor_Icons_hePaste,
.dxHtmlEditor_Icons_hePasteDisabled,
.dxHtmlEditor_Icons_hePasteFromWord,
.dxHtmlEditor_Icons_hePasteFromWordDisabled,
.dxHtmlEditor_Icons_hePasteHtmlMergeFormatting,
.dxHtmlEditor_Icons_hePasteHtmlMergeFormattingDisabled,
.dxHtmlEditor_Icons_hePasteHtmlPlainText,
.dxHtmlEditor_Icons_hePasteHtmlPlainTextDisabled,
.dxHtmlEditor_Icons_hePasteHtmlSourceFormatting,
.dxHtmlEditor_Icons_hePasteHtmlSourceFormattingDisabled,
.dxHtmlEditor_Icons_hePrint,
.dxHtmlEditor_Icons_hePrintDisabled,
.dxHtmlEditor_Icons_heRedo,
.dxHtmlEditor_Icons_heRedoDisabled,
.dxHtmlEditor_Icons_heRemoveFormat,
.dxHtmlEditor_Icons_heRemoveFormatDisabled,
.dxHtmlEditor_Icons_heRight,
.dxHtmlEditor_Icons_heRightDisabled,
.dxHtmlEditor_Icons_heSaveAsDocx,
.dxHtmlEditor_Icons_heSaveAsDocxDisabled,
.dxHtmlEditor_Icons_heSaveAsMht,
.dxHtmlEditor_Icons_heSaveAsMhtDisabled,
.dxHtmlEditor_Icons_heSaveAsOdt,
.dxHtmlEditor_Icons_heSaveAsOdtDisabled,
.dxHtmlEditor_Icons_heSaveAsPdf,
.dxHtmlEditor_Icons_heSaveAsPdfDisabled,
.dxHtmlEditor_Icons_heSaveAsRtf,
.dxHtmlEditor_Icons_heSaveAsRtfDisabled,
.dxHtmlEditor_Icons_heSaveAsTxt,
.dxHtmlEditor_Icons_heSaveAsTxtDisabled,
.dxHtmlEditor_Icons_heSelectAll,
.dxHtmlEditor_Icons_heSelectAllDisabled,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled,
.dxHtmlEditor_Icons_heSplitTableCellVertical,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled,
.dxHtmlEditor_Icons_heStrikethrough,
.dxHtmlEditor_Icons_heStrikethroughDisabled,
.dxHtmlEditor_Icons_heSubscript,
.dxHtmlEditor_Icons_heSubscriptDisabled,
.dxHtmlEditor_Icons_heSuperscript,
.dxHtmlEditor_Icons_heSuperscriptDisabled,
.dxHtmlEditor_Icons_heUncomment,
.dxHtmlEditor_Icons_heUncommentDisabled,
.dxHtmlEditor_Icons_heUnderline,
.dxHtmlEditor_Icons_heUnderlineDisabled,
.dxHtmlEditor_Icons_heUndo,
.dxHtmlEditor_Icons_heUndoDisabled,
.dxHtmlEditor_Icons_heUnlink,
.dxHtmlEditor_Icons_heUnlinkDisabled
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.ISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_Icons_heBackColor
{
    background-position: 0px -1632px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBackColorDisabled
{
    background-position: 0px -901px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBold
{
    background-position: 0px -697px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBoldDisabled
{
    background-position: 0px -1785px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenter
{
    background-position: 0px -1071px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenterDisabled
{
    background-position: 0px -1564px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialog
{
    background-position: 0px -1887px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialog
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled
{
    background-position: 0px -1751px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialog
{
    background-position: 0px -1377px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialogDisabled
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialog
{
    background-position: 0px -1139px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled
{
    background-position: 0px -1700px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpelling
{
    background-position: 0px -1207px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpellingDisabled
{
    background-position: 0px -1479px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heComment
{
    background-position: 0px -1224px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCommentDisabled
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopy
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopyDisabled
{
    background-position: 0px -629px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCut
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCutDisabled
{
    background-position: 0px -969px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTable
{
    background-position: 0px -1122px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumn
{
    background-position: 0px -1598px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled
{
    background-position: 0px -748px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableDisabled
{
    background-position: 0px -782px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRow
{
    background-position: 0px -1326px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRowDisabled
{
    background-position: 0px -1037px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFindAndReplaceDialog
{
    background-position: 0px -561px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColor
{
    background-position: 0px -2057px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColorDisabled
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFormatDocument
{
    background-position: 0px -510px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFormatDocumentDisabled
{
    background-position: 0px -1853px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreen
{
    background-position: 0px -1343px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled
{
    background-position: 0px -1649px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndent
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndentDisabled
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertAudioDialog
{
    background-position: 0px -1581px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertAudioDialogDisabled
{
    background-position: 0px -1938px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertFlashDialog
{
    background-position: 0px -595px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertFlashDialogDisabled
{
    background-position: 0px -850px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialog
{
    background-position: 0px -1173px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialogDisabled
{
    background-position: 0px -2142px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialog
{
    background-position: 0px -663px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedList
{
    background-position: 0px -2125px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedListDisabled
{
    background-position: 0px -833px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertPlaceholder
{
    background-position: 0px -714px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertPlaceholderDisabled
{
    background-position: 0px -731px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft
{
    background-position: 0px -680px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled
{
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRight
{
    background-position: 0px -2108px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled
{
    background-position: 0px -2040px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialog
{
    background-position: 0px -1734px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialogDisabled
{
    background-position: 0px -1394px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAbove
{
    background-position: 0px -1496px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled
{
    background-position: 0px -1360px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelow
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedList
{
    background-position: 0px -646px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled
{
    background-position: 0px -799px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertVideoDialog
{
    background-position: 0px -2006px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertVideoDialogDisabled
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertYouTubeDialog
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertYouTubeDialogDisabled
{
    background-position: 0px -765px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalic
{
    background-position: 0px -1921px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalicDisabled
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFull
{
    background-position: 0px -1904px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFullDisabled
{
    background-position: 0px -918px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeft
{
    background-position: 0px -1870px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeftDisabled
{
    background-position: 0px -1955px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontal
{
    background-position: 0px -1445px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled
{
    background-position: 0px -935px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVertical
{
    background-position: 0px -1768px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdent
{
    background-position: 0px -1513px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdentDisabled
{
    background-position: 0px -476px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePaste
{
    background-position: 0px -1105px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteDisabled
{
    background-position: 0px -1275px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWord
{
    background-position: 0px -2023px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWordDisabled
{
    background-position: 0px -1802px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlMergeFormatting
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlMergeFormattingDisabled
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlPlainText
{
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlPlainTextDisabled
{
    background-position: 0px -1989px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlSourceFormatting
{
    background-position: 0px -1190px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlSourceFormattingDisabled
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrint
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrintDisabled
{
    background-position: 0px -1972px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedo
{
    background-position: 0px -1717px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedoDisabled
{
    background-position: 0px -1683px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormat
{
    background-position: 0px -578px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormatDisabled
{
    background-position: 0px -1615px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRight
{
    background-position: 0px -1530px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRightDisabled
{
    background-position: 0px -1156px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocx
{
    background-position: 0px -1020px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocxDisabled
{
    background-position: 0px -1428px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMht
{
    background-position: 0px -952px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMhtDisabled
{
    background-position: 0px -459px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdt
{
    background-position: 0px -1258px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdtDisabled
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdf
{
    background-position: 0px -527px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdfDisabled
{
    background-position: 0px -1411px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtf
{
    background-position: 0px -1666px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtfDisabled
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxt
{
    background-position: 0px -1088px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxtDisabled
{
    background-position: 0px -884px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSelectAll
{
    background-position: 0px -1819px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSelectAllDisabled
{
    background-position: 0px -1292px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontal
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled
{
    background-position: 0px -2091px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVertical
{
    background-position: 0px -1462px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled
{
    background-position: 0px -1309px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethrough
{
    background-position: 0px -1241px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethroughDisabled
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscript
{
    background-position: 0px -1547px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscriptDisabled
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscript
{
    background-position: 0px -816px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscriptDisabled
{
    background-position: 0px -2074px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUncomment
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUncommentDisabled
{
    background-position: 0px -1003px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderline
{
    background-position: 0px -1836px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderlineDisabled
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndo
{
    background-position: 0px -986px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndoDisabled
{
    background-position: 0px -493px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlink
{
    background-position: 0px -1054px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlinkDisabled
{
    background-position: 0px -867px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColor,
.dxHtmlEditor_Icons_heBackColor
{
	display:block;
}
.dxHtmlEditor_Icons_heFindAndReplaceDialogDisabled 
{
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=35);    
}