.dxHtmlEditor_heConstrainProportionsBottom,
.dxHtmlEditor_heConstrainProportionsBottomRtl,
.dxHtmlEditor_heConstrainProportionsMiddleOff,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl,
.dxHtmlEditor_heConstrainProportionsMiddleOn,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl,
.dxHtmlEditor_heConstrainProportionsTop,
.dxHtmlEditor_heConstrainProportionsTopRtl,
.dxHtmlEditor_heEnumIcon,
.dxHtmlEditor_heErrorFrameCloseButton,
.dxHtmlEditor_heEventIcon,
.dxHtmlEditor_heFieldIcon,
.dxHtmlEditor_heReset,
.dxHtmlEditor_heSizeGrip,
.dxHtmlEditor_heSizeGripRtl,
.dxHtmlEditor_heTagInspectorChangeButton,
.dxHtmlEditor_heTagInspectorRemoveButton,
.dxHtmlEditor_heTagInspectorSeparator,
.dxHtmlEditor_heToolbarPopOut,
.dxHtmlEditor_heXmlItemIcon,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner,
.dxHtmlEditor_RoundPanel_herpTopRightCorner
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_heConstrainProportionsBottom
{
    background-position: -104px -31px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsBottomRtl
{
    background-position: 0px -38px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOff
{
    background-position: -73px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl
{
    background-position: -61px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn
{
    background-position: -85px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl
{
    background-position: -97px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsTop
{
    background-position: -24px -38px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heConstrainProportionsTopRtl
{
    background-position: -12px -38px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heEnumIcon
{
    background-position: -68px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heErrorFrameCloseButton
{
    background-position: -102px -21px;
    width: 13px;
    height: 9px;
}
.dxHtmlEditor_heEventIcon
{
    background-position: -34px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heFieldIcon
{
    background-position: -51px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heReset
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}
.dxHtmlEditor_heSizeGrip
{
    background-position: -85px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heSizeGripRtl
{
    background-position: -17px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heTagInspectorChangeButton
{
    background-position: -21px 0px;
    width: 19px;
    height: 19px;
}
.dxHtmlEditor_heTagInspectorRemoveButton
{
    background-position: -41px 0px;
    width: 19px;
    height: 19px;
}
.dxHtmlEditor_heTagInspectorSeparator
{
    background-position: -109px 0px;
    width: 4px;
    height: 7px;
}
.dxHtmlEditor_heToolbarPopOut
{
    background-position: -84px -38px;
    width: 5px;
    height: 3px;
}
.dxHtmlEditor_heXmlItemIcon
{
    background-position: 0px -21px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner
{
    background-position: -60px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpBottomRightCorner
{
    background-position: -48px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner
{
    background-position: -36px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner
{
    background-position: -110px -15px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner
{
    background-position: -109px -9px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner
{
    background-position: -42px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner
{
    background-position: -66px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner
{
    background-position: -72px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpTopLeftCorner
{
    background-position: -54px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_RoundPanel_herpTopRightCorner
{
    background-position: -78px -38px;
    width: 5px;
    height: 5px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn,
.dxHtmlEditor_heConstrainProportionsMiddleOff,
.dxHtmlEditor_heConstrainProportionsBottom,
.dxHtmlEditor_heConstrainProportionsTop,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner,
.dxHtmlEditor_RoundPanel_herpTopRightCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner
{
	display:block;
}