.dxhe-searchHI > span 
{
    display: none;
}
.dxhe-searchContainer .dxhe-searchHI 
{
    position: relative;
    z-index: 0;
    background-color: transparent;
    text-decoration: inherit;
}
.dxhe-searchContainer .dxhe-searchHI > span
{
    display: block;
    position: absolute;
    background-color: #fc0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=35);
}
.dxhe-searchContainer .dxhe-searchCurrent.dxhe-searchHI > span
{
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=100);
}