.dxWeb_heRibbonGWIcons_heFindAndReplaceLargeDisabled,
.dxWeb_heRibbonGWIcons_heFindAndReplaceDisabled,
.dxWeb_heRibbonIcons_heFindAndReplaceLargeDisabled,
.dxWeb_heRibbonIcons_heFindAndReplaceDisabled,
.dxWeb_heRibbonGIcons_heFindAndReplaceLargeDisabled,
.dxWeb_heRibbonGIcons_heFindAndReplaceDisabled
{
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=35);    
}

.dxhecd-Content
{
	padding: 11px;
}
.dxRtl .dxhecd-Content
{
	text-align: right;
}
.dxhecd-Cancel
{
	margin-left: 10px;
}
.dxRtl .dxhecd-Cancel
{
	margin-left: 0px;
	margin-right: 10px;
}

/* PasteFromWord Form */
.dxheDlgPasteFromWordForm .dxheDlgPasteContainer
{
	width: 450px;
	height: 300px;
	border: none;
	background-color: white;
}
.dxhe-coverDiv 
{
    overflow: hidden; 
    position: fixed; 
    background-color: White; 
    z-index: 10000; 
    width: 10000px; 
    height: 10000px; 
    top: 0; 
    left: 0;
}
/* Media Dialogs */
.dxhe-dialogPreparing > div:first-child,
.dxhe-dialogPreparing > .dxhe-dialogLoadingPanel 
{
    display: table !important;
    margin: 0 auto;
    position: relative !important;
}
.dxhe-dialogPreparing > .dxhe-dialogWrapperPanel 
{
    overflow: hidden;
    width: 0px;
    height: 0px;
    position: absolute;
}
.dxhe-dialog,
.dxhe-mediaDialog .dxic-control 
{
    width: 100%;
    height: 100%;
}
div.dxhe-mediaDialogStyleSettings.dxhe-dialog div.dxhe-dialogLGB > table.dxhe-dialogLG,
.dxhe-dialog.dxhe-mediaDialog > table.dxhe-dialogLG > tbody > tr > .dxhe-dialogLGC > .dxhe-dialogLGB > .dxhe-dialogLG > tbody > tr > .dxhe-dialogLGC,
.dxhe-dialog div.dxtc-content 
{
    padding: 0px;
}
.dxhe-mediaDialog .dxichCellSys
{
    vertical-align: top;
}
/* Dialogs */
.dxhe-tableDialogNullText .dxeEditAreaSys 
{
    color: transparent !important;
}
.dxhe-tableDialogCEMultiColor.dxhe-tableDialogNullText .dxeEditAreaSys 
{
    color: #000 !important;
}
.dxhe-tableDialogBGColor .dxeEditAreaSys 
{
    width: 100px !important;
}
.dxhe-dialogLGC 
{
    width: initial !important;
}
.dxhe-dialogLGC.dxhe-minimizedTD 
{
    width: 1px !important;
}
.dxhe-tableColumnDialog 
{
    width: 400px;
}
.dxhe-minimizedTD 
{
    width: 1px;
}
.dxhe-dialog .dxhe-dialogControlsWrapper .dxichTextCellSys > label
{
    white-space: nowrap;
}
.dxhe-tableColumnDialog .dxhe-dialogLINC .dxhe-dialogControlsWrapper,
.dxhe-insertTableDialog .dxhe-dialogLINC .dxhe-dialogControlsWrapper
{
    width: 0px;
}
.dxhe-tableColumnDialog .dxhe-dialogLINC .dxhe-dialogControlsWrapper > tbody > tr > td,
.dxhe-insertTableDialog .dxhe-dialogLINC .dxhe-dialogControlsWrapper > tbody > tr > td
{
    padding-right: 5px;
}
.dxhe-dialogControlsWrapper,
.dxhe-dialog .dxhe-dialogControlsWrapper > tbody > tr > td:first-child 
{
    width: 100%;
}
.dxhe-dialog .dxhe-dialogControlsWrapper.dxhe-dcw2Col > tbody > tr > td:first-child 
{
    text-align: right;
}
.dxhe-dialog .dxhe-dialogSmallEditor,
.dxhe-dialog .dxhe-dialogSmallEditor .dxeEditAreaSys
{
    width: 30px;
}
.dxhe-dialog .dxhe-dialogMiddleEditor,
.dxhe-dialog .dxhe-dialogMiddleEditor .dxeEditAreaSys
{
    width: 70px;
}
.dxhe-dialog .dxhe-dialogLargeEditor,
.dxhe-dialog .dxhe-dialogLargeEditor .dxeEditAreaSys
{
    width: 110px;
}


.dxhe-dialog.dxhe-mediaDialogStyleSettings span.dxhe-dialogLGBC 
{
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.dxhe-selectDocFileManager .dxflGroupSys,
.dxhe-selectDocFileManager .dxflGroupSys td,
.dxhe-selectDocFileManager .dxflCustomItemSys, 
.dxhe-dialog table.dxhe-dialogLG,
.dxhe-dialog td.dxhe-dialogLGC:first-child,
.dxhe-dialog table.dxhe-dialogLG.dxflGroupSys.dxhe-dialogContentGroup,
div.dxhe-dialog tr:first-child > td.dxhe-dialogLGC > div.dxhe-dialogFirstLGB
{
    padding: 0px;
}
.dxhe-mediaDialog .dxhe-dialogContentGroup tr > td.dxhe-dialogLGC:first-child 
{
    width: 100% !important;
}
div.dxhe-dialog div.dxhe-dialogLI.dxhe-dialogButtonsContainer,
div.dxhe-dialog .dxhe-insertImageSizeGroup 
{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}
.dxhe-dialog td.dxhe-dialogLGC 
{
    padding-right: 0px;
}
.dxhe-dialog .dxhe-dialogLGB > .dxhe-dialogLG tr:first-child > .dxhe-dialogLGC > .dxhe-dialogLI,
.dxhe-dialog .dxhe-dialogLGB > .dxhe-dialogLG > .dxflChildInFirstRowSys > .dxhe-dialogLGC > .dxhe-dialogLI,
.dxhe-dialog > .dxhe-dialogLG tr:first-child > .dxhe-dialogLGC > .dxhe-dialogLGB > .dxhe-dialogLG
{
    padding-top: 0px;
}
.dxhe-dialog .dxflRadioButtonListItemSys td.dxe
{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}
.dxhe-mediaDialogStyleSettings span.dxhe-dialogLGBC 
{
    background-color: transparent !important;
}
.dxhe-dialog .dxic-fileManager > table 
{
    border: none;
}
/* InsertLinkDialog */
.dxhe-selectDocFileManagerDiv 
{
    width: 700px !important;
    height: 500px !important;
}
.dxhe-selectDocFileManager .dxflCaptionCellSys 
{
    display: none;
}
/*dxflCaptionCell*/ 
.dxhe-insertLinkDialog 
{
    min-width: 480px;
}
/* TagInspector */
div.dxhe-tiDeleteButton,
div.dxhe-tiPropertyButton 
{
    background-position: right;
    box-shadow: none;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: none;
    width: 19px;
    height: 19px;
    padding: 0px;
}
.dxhe-tiWrapper
{
    min-height: 21px;
    background-color:rgb(241, 241, 241);
    padding: 4px 10px;
    border-bottom: 1px solid #d8d8d8;
}
.dxhe-tiControlsWrapper 
{
    border: 1px solid  rgb(196, 196, 196);
    background-color: rgb(225, 225, 225);
    border-radius:50px;
    padding: 0px 6px 0px 10px;
}
.dxhe-tiSeparator 
{
    background-position: center center;
    padding: 0px 6px 3px 6px;
    background-repeat: no-repeat;
}
.dxhe-tiTagWrapper a 
{
    text-decoration: none;
}
.dxhe-tagsContainer,
.dxhe-tiControlsWrapper,
.dxhe-tiTagWrapper 
{
    display: inline-block;
}
.dxhe-tagsContainer 
{
    line-height: normal;
}
.dxhe-tiSeparator,
.dxhe-tiTagName 
{
    color: #121;
}
.dxhe-tiWrapper .dxb
{
    padding: 0px !important;
    border: none !important;
}
span.dxhe-tiSelected.dxhe-tiTagName 
{
    padding-right: 13px;
}
.dxhe-tiSelected.dxhe-tiTagName 
{
    text-decoration: none;
    cursor: default;
}
.dxhe-tiTagWrapper a.dxhe-tiTagName:hover,
div.dxhe-tagEllipsis:hover
{
    text-decoration: underline;
}
.dxhe-tagEllipsis 
{
    cursor: pointer;
    display: inline-block;
}
/* MISC */
.dxhe-hideNullText.dxhe-nullText .dxeEditAreaSys
{
    color: transparent !important;
}
.dxhe-emptyBorder 
{
     border: none !important;
     box-shadow: none !important;
     outline: none !important;
}
.dxhe-right-align
{
    text-align : right !important;
}
.dxhe-emptyPaddings  
{
    padding: 0px !important;
}
.dxhe-dialogHelpItem 
{
    white-space: nowrap;
}
.dxhe-unselectablePopup .dxpc-header,
.dxhe-dialog
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dxhe-hidden 
{
    display: none !important;
}
/* search forms */
.dxhe-advancedSearchSysWin td.dxhe-srchCountWarning 
{
    background-color: #FFF2C0;
    color: inherit;
}
.dxhe-quickSearchSysWin .dxpc-shadow 
{
    -moz-box-shadow: none;
	 -webkit-box-shadow: none;
	 box-shadow: none;
}
.dxhe-quickSearchSysWin .dxpc-header 
{
    cursor: default !important;
}
.dxeButtonEditSys.dxhe-SearchField 
{
    width: 200px;
}
div.dxhe-searchQuick div.dxbButtonSys,
div.dxhe-searchQuick div.dxbButtonSys .dxb,
.dxhe-advancedSearchSysWin div.dxpc-content 
{
    padding: 0px;
}
div.dxhe-searchQuick 
{
    cursor: default;
}
div.dxhe-searchQuick  .dxhe-searchdialogLGC 
{
    padding-right: 0px !important;
}
div.dxhe-quickSearchSysWin div.dxpc-header
{
    padding: 5px !important;
    border: none;
}
div.dxhe-searchQuick .dxhe-flItem2 
{
    padding-left: 3px !important;
}
.dxhe-searchAdvancedButtons > table.dxhe-searchdialogLG,
.dxhe-searchWarning 
{
    padding: 8px;
}
.dxhe-searchWarning 
{
    background-color: #FFF2C0;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.dxhe-advancedSearchSysWin div.dxhe-searchAdvancedButtons td.dxhe-flItem0,
.dxhe-advancedSearchSysWin div.dxhe-searchAdvancedButtons td.dxhe-flItem3
{
    padding-right: 0px;
}
.dxhe-searchAdvanced .dxhe-searchdialogLG 
{
    padding: 16px;
}

span.dxhe-searchCMHI
{
    background-color: #FFEDA6;
}
span.dxhe-searchCurrent.dxhe-searchCMHI 
{
    background-color: #FFCC00;
}

.dxhe-searchdialog 
{
    width: 100%;
}
.dxhe-searchAdvanced .dxhe-searchEntryCount 
{
    float: right;
}

table.dxhe-SearchField td.dxic
{
    position: relative;
}
table.dxhe-SearchField td.dxic > span 
{
    position: absolute;
    top: 0;
    right: 0;
    padding:0px 5px;
}
table.dxhe-SearchField td.dxic > span,
.dxhe-searchEntryCount 
{
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=50);
}
table.dxhe-SearchField[dir~=rtl] td.dxic > span {
    right: auto !important;
    left:0;
}
*[dir="rtl"] .dxhe-searchEntryCount{
        padding: 0px 0px 0px 5px;
}
.dxheContentAreaSys 
{
    width: 100%;
    position: relative;
}
.dxhe-advancedSearchButtonSpacer 
{
    min-width: 50px;
}

/*CodeMirror*/
.dxheSourceEditorSys .CodeMirror-focused .CodeMirror-selected 
{ 
    background: #76a7fa;
    opacity: 0.50;
}
.dxheSourceEditorSys .CodeMirror-activeline-background 
{
    margin-left: -35px;
}
.dxheSourceEditorSys .CodeMirror-scroll 
{
    padding-bottom: 17px;
}
.dxheSourceEditorSys .CodeMirror-sizer 
{
    margin-top: 11px;
    padding-left: 16px;
}
.dxheSourceEditorSys .CodeMirror-gutter-elt 
{
    margin-left: -16px;
}
.dxheSourceEditorSys .CodeMirror-gutters 
{
    border-right: 0px;
    background-color: inherit;
}
.dxheSourceEditorSys .CodeMirror-gutter.CodeMirror-linenumbers 
{
    border-right: 1px solid #D8D8D8;
    background-color: #F1F1F1;
    padding-right: 5px;
}
.dxheSourceEditorSys .CodeMirror-linenumber 
{
    min-width: 17px;
}
.dxheSourceEditorSys .CodeMirror-gutter.CodeMirror-foldgutter
{
    margin-left: 5px;
    width: 13px;
}
.dxheSourceEditorSys .CodeMirror-foldgutter-open,
.dxheSourceEditorSys .CodeMirror-foldgutter-folded 
{
  cursor: pointer;
}
.dxheSourceEditorSys .CodeMirror-matchingtag 
{ 
    background: #FFEBA6; 
}
.dxheSourceEditorSys pre.CodeMirror-line
{ 
    word-break: break-all;
    white-space: pre-wrap; 
}

.dxhe-intelliSenseSysWin .dxeI img
{ 
    vertical-align: bottom; 
}
.dxhe-intelliSenseSysWin 
{
    width: 150px !important;
}
.dxhe-intelliSenseSysWin,
.dxhe-intelliSenseSysWin .dxpc-mainDiv 
{
    border: none !important;
}
.dxhe-intelliSenseSysWin .dxpc-content 
{
    padding: 0px !important;
}
.dxhe-intelliSenseLB,
.dxhe-intelliSenseLB .dxlbd 
{
    width: 100% !important;
}