.dxHtmlEditor_WIcons_heBackColor,
.dxHtmlEditor_WIcons_heBackColorDisabled,
.dxHtmlEditor_WIcons_heBold,
.dxHtmlEditor_WIcons_heBoldDisabled,
.dxHtmlEditor_WIcons_heCenter,
.dxHtmlEditor_WIcons_heCenterDisabled,
.dxHtmlEditor_WIcons_heChangeTableCellDialog,
.dxHtmlEditor_WIcons_heChangeTableCellDialogDisabled,
.dxHtmlEditor_WIcons_heChangeTableColumnDialog,
.dxHtmlEditor_WIcons_heChangeTableColumnDialogDisabled,
.dxHtmlEditor_WIcons_heChangeTableDialog,
.dxHtmlEditor_WIcons_heChangeTableDialogDisabled,
.dxHtmlEditor_WIcons_heChangeTableRowDialog,
.dxHtmlEditor_WIcons_heChangeTableRowDialogDisabled,
.dxHtmlEditor_WIcons_heCheckSpelling,
.dxHtmlEditor_WIcons_heCheckSpellingDisabled,
.dxHtmlEditor_WIcons_heComment,
.dxHtmlEditor_WIcons_heCommentDisabled,
.dxHtmlEditor_WIcons_heCopy,
.dxHtmlEditor_WIcons_heCopyDisabled,
.dxHtmlEditor_WIcons_heCut,
.dxHtmlEditor_WIcons_heCutDisabled,
.dxHtmlEditor_WIcons_heDeleteTable,
.dxHtmlEditor_WIcons_heDeleteTableColumn,
.dxHtmlEditor_WIcons_heDeleteTableColumnDisabled,
.dxHtmlEditor_WIcons_heDeleteTableDisabled,
.dxHtmlEditor_WIcons_heDeleteTableRow,
.dxHtmlEditor_WIcons_heDeleteTableRowDisabled,
.dxHtmlEditor_WIcons_heFindAndReplaceDialog,
.dxHtmlEditor_WIcons_heForeColor,
.dxHtmlEditor_WIcons_heForeColorDisabled,
.dxHtmlEditor_WIcons_heFormatDocument,
.dxHtmlEditor_WIcons_heFormatDocumentDisabled,
.dxHtmlEditor_WIcons_heFullscreen,
.dxHtmlEditor_WIcons_heFullscreenDisabled,
.dxHtmlEditor_WIcons_heIndent,
.dxHtmlEditor_WIcons_heIndentDisabled,
.dxHtmlEditor_WIcons_heInsertAudioDialog,
.dxHtmlEditor_WIcons_heInsertAudioDialogDisabled,
.dxHtmlEditor_WIcons_heInsertFlashDialog,
.dxHtmlEditor_WIcons_heInsertFlashDialogDisabled,
.dxHtmlEditor_WIcons_heInsertImageDialog,
.dxHtmlEditor_WIcons_heInsertImageDialogDisabled,
.dxHtmlEditor_WIcons_heInsertLinkDialog,
.dxHtmlEditor_WIcons_heInsertLinkDialogDisabled,
.dxHtmlEditor_WIcons_heInsertOrderedList,
.dxHtmlEditor_WIcons_heInsertOrderedListDisabled,
.dxHtmlEditor_WIcons_heInsertPlaceholder,
.dxHtmlEditor_WIcons_heInsertPlaceholderDisabled,
.dxHtmlEditor_WIcons_heInsertTableColumnOnLeft,
.dxHtmlEditor_WIcons_heInsertTableColumnOnLeftDisabled,
.dxHtmlEditor_WIcons_heInsertTableColumnOnRight,
.dxHtmlEditor_WIcons_heInsertTableColumnOnRightDisabled,
.dxHtmlEditor_WIcons_heInsertTableDialog,
.dxHtmlEditor_WIcons_heInsertTableDialogDisabled,
.dxHtmlEditor_WIcons_heInsertTableRowAbove,
.dxHtmlEditor_WIcons_heInsertTableRowAboveDisabled,
.dxHtmlEditor_WIcons_heInsertTableRowBelow,
.dxHtmlEditor_WIcons_heInsertTableRowBelowDisabled,
.dxHtmlEditor_WIcons_heInsertUnorderedList,
.dxHtmlEditor_WIcons_heInsertUnorderedListDisabled,
.dxHtmlEditor_WIcons_heInsertVideoDialog,
.dxHtmlEditor_WIcons_heInsertVideoDialogDisabled,
.dxHtmlEditor_WIcons_heInsertYouTubeDialog,
.dxHtmlEditor_WIcons_heInsertYouTubeDialogDisabled,
.dxHtmlEditor_WIcons_heItalic,
.dxHtmlEditor_WIcons_heItalicDisabled,
.dxHtmlEditor_WIcons_heJustifyFull,
.dxHtmlEditor_WIcons_heJustifyFullDisabled,
.dxHtmlEditor_WIcons_heLeft,
.dxHtmlEditor_WIcons_heLeftDisabled,
.dxHtmlEditor_WIcons_heMergeTableCellHorizontal,
.dxHtmlEditor_WIcons_heMergeTableCellHorizontalDisabled,
.dxHtmlEditor_WIcons_heMergeTableCellVertical,
.dxHtmlEditor_WIcons_heMergeTableCellVerticalDisabled,
.dxHtmlEditor_WIcons_heOutdent,
.dxHtmlEditor_WIcons_heOutdentDisabled,
.dxHtmlEditor_WIcons_hePaste,
.dxHtmlEditor_WIcons_hePasteDisabled,
.dxHtmlEditor_WIcons_hePasteFromWord,
.dxHtmlEditor_WIcons_hePasteFromWordDisabled,
.dxHtmlEditor_WIcons_hePasteHtmlMergeFormatting,
.dxHtmlEditor_WIcons_hePasteHtmlMergeFormattingDisabled,
.dxHtmlEditor_WIcons_hePasteHtmlPlainText,
.dxHtmlEditor_WIcons_hePasteHtmlPlainTextDisabled,
.dxHtmlEditor_WIcons_hePasteHtmlSourceFormatting,
.dxHtmlEditor_WIcons_hePasteHtmlSourceFormattingDisabled,
.dxHtmlEditor_WIcons_hePrint,
.dxHtmlEditor_WIcons_hePrintDisabled,
.dxHtmlEditor_WIcons_heRedo,
.dxHtmlEditor_WIcons_heRedoDisabled,
.dxHtmlEditor_WIcons_heRemoveFormat,
.dxHtmlEditor_WIcons_heRemoveFormatDisabled,
.dxHtmlEditor_WIcons_heRight,
.dxHtmlEditor_WIcons_heRightDisabled,
.dxHtmlEditor_WIcons_heSaveAsDocx,
.dxHtmlEditor_WIcons_heSaveAsDocxDisabled,
.dxHtmlEditor_WIcons_heSaveAsMht,
.dxHtmlEditor_WIcons_heSaveAsMhtDisabled,
.dxHtmlEditor_WIcons_heSaveAsOdt,
.dxHtmlEditor_WIcons_heSaveAsOdtDisabled,
.dxHtmlEditor_WIcons_heSaveAsPdf,
.dxHtmlEditor_WIcons_heSaveAsPdfDisabled,
.dxHtmlEditor_WIcons_heSaveAsRtf,
.dxHtmlEditor_WIcons_heSaveAsRtfDisabled,
.dxHtmlEditor_WIcons_heSaveAsTxt,
.dxHtmlEditor_WIcons_heSaveAsTxtDisabled,
.dxHtmlEditor_WIcons_heSelectAll,
.dxHtmlEditor_WIcons_heSelectAllDisabled,
.dxHtmlEditor_WIcons_heSplitTableCellHorizontal,
.dxHtmlEditor_WIcons_heSplitTableCellHorizontalDisabled,
.dxHtmlEditor_WIcons_heSplitTableCellVertical,
.dxHtmlEditor_WIcons_heSplitTableCellVerticalDisabled,
.dxHtmlEditor_WIcons_heStrikethrough,
.dxHtmlEditor_WIcons_heStrikethroughDisabled,
.dxHtmlEditor_WIcons_heSubscript,
.dxHtmlEditor_WIcons_heSubscriptDisabled,
.dxHtmlEditor_WIcons_heSuperscript,
.dxHtmlEditor_WIcons_heSuperscriptDisabled,
.dxHtmlEditor_WIcons_heUncomment,
.dxHtmlEditor_WIcons_heUncommentDisabled,
.dxHtmlEditor_WIcons_heUnderline,
.dxHtmlEditor_WIcons_heUnderlineDisabled,
.dxHtmlEditor_WIcons_heUndo,
.dxHtmlEditor_WIcons_heUndoDisabled,
.dxHtmlEditor_WIcons_heUnlink,
.dxHtmlEditor_WIcons_heUnlinkDisabled
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxHtmlEditor.Images.WISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_WIcons_heBackColor
{
    background-position: 0px -1632px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heBackColorDisabled
{
    background-position: 0px -901px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heBold
{
    background-position: 0px -697px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heBoldDisabled
{
    background-position: 0px -1785px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCenter
{
    background-position: 0px -1071px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCenterDisabled
{
    background-position: 0px -1564px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableCellDialog
{
    background-position: 0px -1887px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableCellDialogDisabled
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableColumnDialog
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableColumnDialogDisabled
{
    background-position: 0px -1751px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableDialog
{
    background-position: 0px -1377px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableDialogDisabled
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableRowDialog
{
    background-position: 0px -1139px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heChangeTableRowDialogDisabled
{
    background-position: 0px -1700px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCheckSpelling
{
    background-position: 0px -1207px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCheckSpellingDisabled
{
    background-position: 0px -1479px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heComment
{
    background-position: 0px -1224px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCommentDisabled
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCopy
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCopyDisabled
{
    background-position: 0px -629px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCut
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heCutDisabled
{
    background-position: 0px -969px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heDeleteTable
{
    background-position: 0px -1122px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heDeleteTableColumn
{
    background-position: 0px -1598px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heDeleteTableColumnDisabled
{
    background-position: 0px -748px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heDeleteTableDisabled
{
    background-position: 0px -782px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heDeleteTableRow
{
    background-position: 0px -1326px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heDeleteTableRowDisabled
{
    background-position: 0px -1037px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heFindAndReplaceDialog
{
    background-position: 0px -561px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heForeColor
{
    background-position: 0px -2057px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heForeColorDisabled
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heFormatDocument
{
    background-position: 0px -510px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heFormatDocumentDisabled
{
    background-position: 0px -1853px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heFullscreen
{
    background-position: 0px -1343px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heFullscreenDisabled
{
    background-position: 0px -1649px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heIndent
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heIndentDisabled
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertAudioDialog
{
    background-position: 0px -1581px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertAudioDialogDisabled
{
    background-position: 0px -1938px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertFlashDialog
{
    background-position: 0px -595px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertFlashDialogDisabled
{
    background-position: 0px -850px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertImageDialog
{
    background-position: 0px -1173px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertImageDialogDisabled
{
    background-position: 0px -2142px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertLinkDialog
{
    background-position: 0px -663px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertLinkDialogDisabled
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertOrderedList
{
    background-position: 0px -2125px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertOrderedListDisabled
{
    background-position: 0px -833px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertPlaceholder
{
    background-position: 0px -714px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertPlaceholderDisabled
{
    background-position: 0px -731px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableColumnOnLeft
{
    background-position: 0px -680px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableColumnOnLeftDisabled
{
    background-position: 0px -544px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableColumnOnRight
{
    background-position: 0px -2108px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableColumnOnRightDisabled
{
    background-position: 0px -2040px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableDialog
{
    background-position: 0px -1734px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableDialogDisabled
{
    background-position: 0px -1394px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableRowAbove
{
    background-position: 0px -1496px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableRowAboveDisabled
{
    background-position: 0px -1360px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableRowBelow
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertTableRowBelowDisabled
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertUnorderedList
{
    background-position: 0px -646px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertUnorderedListDisabled
{
    background-position: 0px -799px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertVideoDialog
{
    background-position: 0px -2006px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertVideoDialogDisabled
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertYouTubeDialog
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heInsertYouTubeDialogDisabled
{
    background-position: 0px -765px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heItalic
{
    background-position: 0px -1921px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heItalicDisabled
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heJustifyFull
{
    background-position: 0px -1904px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heJustifyFullDisabled
{
    background-position: 0px -918px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heLeft
{
    background-position: 0px -1870px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heLeftDisabled
{
    background-position: 0px -1955px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heMergeTableCellHorizontal
{
    background-position: 0px -1445px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heMergeTableCellHorizontalDisabled
{
    background-position: 0px -935px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heMergeTableCellVertical
{
    background-position: 0px -1768px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heMergeTableCellVerticalDisabled
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heOutdent
{
    background-position: 0px -1513px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heOutdentDisabled
{
    background-position: 0px -476px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePaste
{
    background-position: 0px -1105px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteDisabled
{
    background-position: 0px -1275px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteFromWord
{
    background-position: 0px -2023px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteFromWordDisabled
{
    background-position: 0px -1802px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteHtmlMergeFormatting
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteHtmlMergeFormattingDisabled
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteHtmlPlainText
{
    background-position: 0px -612px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteHtmlPlainTextDisabled
{
    background-position: 0px -1989px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteHtmlSourceFormatting
{
    background-position: 0px -1190px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePasteHtmlSourceFormattingDisabled
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePrint
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_hePrintDisabled
{
    background-position: 0px -1972px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heRedo
{
    background-position: 0px -1717px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heRedoDisabled
{
    background-position: 0px -1683px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heRemoveFormat
{
    background-position: 0px -578px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heRemoveFormatDisabled
{
    background-position: 0px -1615px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heRight
{
    background-position: 0px -1530px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heRightDisabled
{
    background-position: 0px -1156px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsDocx
{
    background-position: 0px -1020px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsDocxDisabled
{
    background-position: 0px -1428px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsMht
{
    background-position: 0px -952px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsMhtDisabled
{
    background-position: 0px -459px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsOdt
{
    background-position: 0px -1258px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsOdtDisabled
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsPdf
{
    background-position: 0px -527px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsPdfDisabled
{
    background-position: 0px -1411px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsRtf
{
    background-position: 0px -1666px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsRtfDisabled
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsTxt
{
    background-position: 0px -1088px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSaveAsTxtDisabled
{
    background-position: 0px -884px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSelectAll
{
    background-position: 0px -1819px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSelectAllDisabled
{
    background-position: 0px -1292px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSplitTableCellHorizontal
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSplitTableCellHorizontalDisabled
{
    background-position: 0px -2091px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSplitTableCellVertical
{
    background-position: 0px -1462px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSplitTableCellVerticalDisabled
{
    background-position: 0px -1309px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heStrikethrough
{
    background-position: 0px -1241px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heStrikethroughDisabled
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSubscript
{
    background-position: 0px -1547px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSubscriptDisabled
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSuperscript
{
    background-position: 0px -816px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heSuperscriptDisabled
{
    background-position: 0px -2074px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUncomment
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUncommentDisabled
{
    background-position: 0px -1003px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUnderline
{
    background-position: 0px -1836px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUnderlineDisabled
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUndo
{
    background-position: 0px -986px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUndoDisabled
{
    background-position: 0px -493px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUnlink
{
    background-position: 0px -1054px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heUnlinkDisabled
{
    background-position: 0px -867px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_WIcons_heForeColor,
.dxHtmlEditor_WIcons_heBackColor
{
	display:block;
}

.dxHtmlEditor_WIcons_heFindAndReplaceDialogDisabled 
{
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=35);    
}