.dxreControl 
{
	border-style: solid;
	border-width: 1px;
	border-color: #a7a7a7;
	font: 12px Tahoma, Geneva, sans-serif;
}
.dxreControl .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #e0e0e0;
}
.dxreControl .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl .dxre-ruler .dxre-rulerDivisions,
.dxreControl .dxre-ruler .dxre-rulerDivisions div,
.dxreControl .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl .dxre-ruler .dxre-columnHandle,
.dxreControl .dxre-ruler .dxre-columnHandle > div {
	height: 12px;
}
.dxreControl .dxre-ruler .dxre-rulerDivisions,
.dxreControl .dxre-rulerWrapper .dxre-rulertabAlignBox > div {
    background-color: #fff;
}
.dxreControl .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl .dxre-ruler .dxre-columnHandle,
.dxreControl .dxre-rulerWrapper .dxre-rulertabAlignBox {
    background-color: #d3d3d3;
}
.dxreControl .dxre-ruler .dxre-rulerDivisions .dxre-rulerMinorDivision,
.dxreControl .dxre-ruler .dxre-rulerDivisions .dxre-rulerMajorDivision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl .dxre-ruler .dxre-rulerDivisions .dxre-rulerNumberDivision {
	color: #4e4e4e;
}
.dxreControl .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl .dxre-leftIdentDragHandleBody {
    background-color: #fff;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
}
.dxreControl .dxrControl .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl .dxrControl .dxtcLite
{
	background-color: #cecece;
}
.dxreControl .dxrControl .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxreControl .dxrControl .dxtcLite .dxtc-leftIndent
{
	width: 3px;
}
.dxreControl .dxre-page {
    border: 1px solid #808080;
}
.dxreControl .dxre-view {
	background: #E0E0E0;
}
.dxreControl .dxre-bar {
	background-color: #F2F2F2;
	border-top: 1px solid #a7a7a7;
    height: 22px;
}
.dxreControl .dxre-bar .dxre-loadingPanel {
    float: right;
    margin: 3px 4px 0 0;
    color: #666666;
}
.dxreControl .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 16px;
    height: 16px;
    background: url('<%=WebResource("DevExpress.Web.ASPxRichEdit.Images.reLoadingOnStatusBar.gif")%>');
}

/*Dialogs Style*/
.dxreControl .dxreDlgParagraphForm .dxtc-content {
    width: 387px;
    height: 290px;
}
.dxreControl .dxreDlgParagraphForm .dxre-dialogControlsWrapper > tbody > tr > td:first-child {
    text-align: left;
}
.dxreControl .dxreDlgPageSetupForm .dxtc-content {
    width: 320px;
    height: 145px;
}
.dxreControl .dxreDlgTablePropertiesForm .dxtc-content {
    width: 385px;
    height: 380px;
}
.dxreControl .dxreDlgTablePropertiesForm .dxre-dialogCellBlock {
    width: 68px;
    background-color: #E0E0E0;
    border: dashed 1px #818181;
}
.dxreControl .dxreDlgTablePropertiesForm .dxre-dialogCellMargins td.dxre-dialogLGC {
    padding-left: 2px;
}
.dxreControl .dxreDlgTablePropertiesForm .dxre-dialogCellNavigation {
    width: auto;
}
.dxreControl .dxreDlgTablePropertiesForm .dxre-dialogCellNavigation td.dxre-dialogLGC {
    padding: 0px;
}
.dxreControl .dxreTableBorderPreview {
    position: absolute;
    width: 130px;
    left: 290px;
    top: 85px;
}
.dxreControl .dxreDlgBorderShadingForm .dxtc-content {
    width: 410px;
    height: 260px;
}
.dxreControl .dxreBorderButton div.dxb {
    padding: 0px !important;
}
.dxreControl .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl .dxreDlgColumnsForm .dxreDlgColumnsEditorMainTable > tbody > tr > td {
    padding: 2px 4px;
}
.dxreControl .dxreDlgColumnsForm .dxreDlgColumnsEditor {
    height: 100px;
}
.dxreControl .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgTextBox {
    width: 40px;
}
.dxreControl .dxreDlgColumnsForm .dxreDlgColumnsEditor .dxreDlgSpinEdit {
    width: 90px;
}
.dxreControl .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl .dxreDlgSaveFileForm {
    width: 380px;
}
.dxreControl .dxreDlgInsertMergeFieldForm {
    width: 300px;
}
.dxreControl .dxreDlgInsertMergeFieldForm .dxeListBox {
    height: 250px;
}
.dxreControl .dxreDlgBookmarksForm {
    width: 300px;
}
.dxreControl .dxreDlgOpenFileForm {
    width: 800px;
    height: 500px;
}
.dxreControl .dxreDlgOpenFileForm .dxre-dialogContentGroup,
.dxreControl .dxreDlgOpenFileForm .dxre-dialogContentGroup .dxflItem {
    padding: 0px !important;
}
.dxreControl .dxre-dialogShortEditor {
    width: 70px;
}
.dxreControl .dxre-dialogEditor {
    width: 110px;
}
.dxreControl .dxre-dialogLongEditor {
    width: 170px;
}
.dxreControl .dxre-EmptyLine {
    height: 10px;
}
.dxreControl .dxre-Separator {
    height: 0px;
    margin: 5px 0;
    border-top: 1px solid #808080;
}
.dxreControl .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl table.dxre-dialogLG.dxflGroupSys.dxre-dialogContentGroup {
    padding: 11px;
}
.dxreControl .dxre-dialogFooter {
    width: auto;
	padding: 11px;
    background-color: #F3F3F3;
    border-top: Solid 1px #E0E0E0;
}
.dxreControl .dxreDlgInsertImageForm .dxreDlgImagePreview {
    margin-top: 10px;
    width: 100%;
    height: 170px;
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align:center;
}
.dxreControl .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 350px;
}
.dxreControl .dxreDlgNumberingListForm .dxreDlgMainContainer {
    width: 520px;
    height: 220px;
}
.dxreControl .dxreDlgHyperlinkForm {
    width: 420px;
}
.dxreControl .dxreDlgHyperlinkForm .dxflCaptionCellSys {
    width: 64px !important;
}
.dxreControl .dxreDlgTabsForm {
    width: 380px;
}
.dxreControl .dxreDlgTabsForm .dxreDlgTabsList {
    height: 70px;
}
.dxreControl .dxre-dialog .dxrpControl.dxrp-noCollapsing > tbody > tr.dxrpCR > .dxrpcontent {
    padding: 15px;
}
.dxreControl .dxre-dialog .dxrpControlGB > tbody > tr.dxrpCR > .dxrpcontent {
    padding: 6px 10px 10px 10px;
}
.dxreControl .dxreMultiLevelNumberingListBoxLayout,
.dxreControl .dxreMultiLevelNumberingListBoxLayout .dxlbd {
    width: 30px;
    height: 100% !important;
}
.dxreControl .dxreDlgMultiLevelNumberingListForm .dxre-dialogContentGroup td.dxre-dialogLGC:first-child {
    padding-left: 8px;
}
.dxreControl .dxreDlgMultiLevelNumberingListForm .dxflFullHeightItemCellSys {
    padding-left: 0px !important;
}
.dxreControl .dxreDlgBulletedListForm .dxreDlgBulletPresetBtn {
    width: 45px;
    margin: 8px 0px 12px 5px;
}
.dxreControl .dxreDlgNumberingListForm .dxreDlgNumberingListPreview {
    padding: 10px;
    width: 90px;
    height: 90px;
}
.dxreControl .dxreDlgFontForm .dxreCheckBoxContainer .dxflGroup {
    padding: 0px 0px 0px 30px;
}
.dxreControl .dxreDlgFontForm .dxreCheckBoxContainer .dxflItem {
    padding: 0px;
}
.dxreControl .dxreDlgListBox {
    padding: 1px;
}
.dxreControl .dxreDlgSymbolsForm .dxreDlgSymbolsList {
    width: 500px;
    height: 250px;
    border: 1px solid #808080;
}
.dxreControl .dxreDlgListBox > div {
    border: 1px solid #808080;
    margin: 1px;
}
.dxreControl .dxreDlgSymbolsForm .dxreDlgListBox > div {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.dxreControl .dxreDlgNumberingListForm .dxreDlgListBox > div {
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.dxreControl .dxreDlgListBox .dxreDlgListHover {
    background-color: #F0F0F0;
}
.dxreControl .dxreDlgListBox .dxreDlgListSelected {
    background-color: #E0E0E0;
}
.dxreControl .dxre-dialogLayoutWhithPaddings tr td:first-child .dxflItemSys {
    padding-left: 5px;
}
.dxreControl .dxre-dialogLayoutWhithPaddings tr td:first-child .dxflTextItemSys {
    padding-left: 0px;
}