.dxRichEdit_GIcons_AlignBottomCenter,
.dxRichEdit_GIcons_AlignBottomLeft,
.dxRichEdit_GIcons_AlignBottomRight,
.dxRichEdit_GIcons_AlignMiddleCenter,
.dxRichEdit_GIcons_AlignMiddleLeft,
.dxRichEdit_GIcons_AlignMiddleRight,
.dxRichEdit_GIcons_AlignTopCenter,
.dxRichEdit_GIcons_AlignTopLeft,
.dxRichEdit_GIcons_AlignTopRight,
.dxRichEdit_GIcons_Bookmark,
.dxRichEdit_GIcons_BorderBottom,
.dxRichEdit_GIcons_BorderInsideHorizontal,
.dxRichEdit_GIcons_BorderInsideVertical,
.dxRichEdit_GIcons_BorderLeft,
.dxRichEdit_GIcons_BorderRight,
.dxRichEdit_GIcons_BordersAll,
.dxRichEdit_GIcons_BordersBox,
.dxRichEdit_GIcons_BordersCustom,
.dxRichEdit_GIcons_BordersGrid,
.dxRichEdit_GIcons_BordersNone,
.dxRichEdit_GIcons_BorderTop,
.dxRichEdit_GIcons_ContinueNumberingList,
.dxRichEdit_GIcons_Copy,
.dxRichEdit_GIcons_Cut,
.dxRichEdit_GIcons_Delete_Hyperlink,
.dxRichEdit_GIcons_FloatingObjectBringForward,
.dxRichEdit_GIcons_FloatingObjectBringInFrontOfText,
.dxRichEdit_GIcons_FloatingObjectBringToFront,
.dxRichEdit_GIcons_FloatingObjectBringToFrontOfText,
.dxRichEdit_GIcons_FloatingObjectLayoutOptions,
.dxRichEdit_GIcons_FloatingObjectSendBackward,
.dxRichEdit_GIcons_FloatingObjectSendBehindText,
.dxRichEdit_GIcons_FloatingObjectSendToBack,
.dxRichEdit_GIcons_Font,
.dxRichEdit_GIcons_Hyperlink,
.dxRichEdit_GIcons_IndentDecrease,
.dxRichEdit_GIcons_IndentIncrease,
.dxRichEdit_GIcons_InsertTableCells,
.dxRichEdit_GIcons_InsertTableColumnsToTheLeft,
.dxRichEdit_GIcons_InsertTableColumnsToTheRight,
.dxRichEdit_GIcons_InsertTableRowsAbove,
.dxRichEdit_GIcons_InsertTableRowsBelow,
.dxRichEdit_GIcons_LeftColumns,
.dxRichEdit_GIcons_ListBullets,
.dxRichEdit_GIcons_MergeTableCells,
.dxRichEdit_GIcons_OneColumn,
.dxRichEdit_GIcons_Paragraph,
.dxRichEdit_GIcons_Paste,
.dxRichEdit_GIcons_RestartNumberingList,
.dxRichEdit_GIcons_RightColumns,
.dxRichEdit_GIcons_SelectAll,
.dxRichEdit_GIcons_SplitTableCells,
.dxRichEdit_GIcons_TableAutoFitContents,
.dxRichEdit_GIcons_TableAutoFitWindow,
.dxRichEdit_GIcons_TableFixedColumnWidth,
.dxRichEdit_GIcons_TableProperties,
.dxRichEdit_GIcons_TextWrapBehind,
.dxRichEdit_GIcons_TextWrapInFrontOfText,
.dxRichEdit_GIcons_TextWrapSquare,
.dxRichEdit_GIcons_TextWrapThrough,
.dxRichEdit_GIcons_TextWrapTight,
.dxRichEdit_GIcons_TextWrapTopAndBottom,
.dxRichEdit_GIcons_ThreeColumns,
.dxRichEdit_GIcons_ToggleFieldCodes,
.dxRichEdit_GIcons_TwoColumns,
.dxRichEdit_GIcons_UpdateField
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxRichEdit.Images.GISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_GIcons_AlignBottomCenter
{
    background-position: -51px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignBottomLeft
{
    background-position: -221px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignBottomRight
{
    background-position: -170px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignMiddleCenter
{
    background-position: 0px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignMiddleLeft
{
    background-position: -102px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignMiddleRight
{
    background-position: -85px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignTopCenter
{
    background-position: -306px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignTopLeft
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_AlignTopRight
{
    background-position: -17px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Bookmark
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_BorderBottom
{
    background-position: -51px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_BorderInsideHorizontal
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_BorderInsideVertical
{
    background-position: -238px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_BorderLeft
{
    background-position: -221px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_BorderRight
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_BordersAll
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_BordersBox
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_BordersCustom
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_BordersGrid
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_BordersNone
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_BorderTop
{
    background-position: -136px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_ContinueNumberingList
{
    background-position: -255px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Copy
{
    background-position: -289px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Cut
{
    background-position: -68px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Delete_Hyperlink
{
    background-position: -204px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectBringForward
{
    background-position: -102px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectBringInFrontOfText
{
    background-position: -204px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectBringToFront
{
    background-position: -85px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectBringToFrontOfText
{
    background-position: -238px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectLayoutOptions
{
    background-position: -17px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectSendBackward
{
    background-position: -187px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectSendBehindText
{
    background-position: -34px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_FloatingObjectSendToBack
{
    background-position: -221px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Font
{
    background-position: -187px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Hyperlink
{
    background-position: -153px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_IndentDecrease
{
    background-position: -272px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_IndentIncrease
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_InsertTableCells
{
    background-position: -238px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_InsertTableColumnsToTheLeft
{
    background-position: -289px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_InsertTableColumnsToTheRight
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_InsertTableRowsAbove
{
    background-position: -255px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_InsertTableRowsBelow
{
    background-position: -187px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_LeftColumns
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_ListBullets
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_MergeTableCells
{
    background-position: -68px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_OneColumn
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_Paragraph
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_Paste
{
    background-position: -34px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_RestartNumberingList
{
    background-position: -119px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_RightColumns
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_SelectAll
{
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_SplitTableCells
{
    background-position: -119px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TableAutoFitContents
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TableAutoFitWindow
{
    background-position: -136px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TableFixedColumnWidth
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TableProperties
{
    background-position: -272px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TextWrapBehind
{
    background-position: -306px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TextWrapInFrontOfText
{
    background-position: -272px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TextWrapSquare
{
    background-position: -170px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TextWrapThrough
{
    background-position: -153px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TextWrapTight
{
    background-position: -204px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TextWrapTopAndBottom
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_ThreeColumns
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_ToggleFieldCodes
{
    background-position: -289px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GIcons_TwoColumns
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GIcons_UpdateField
{
    background-position: -255px -33px;
    width: 16px;
    height: 16px;
}
