.dxm-hovered .dxRichEdit_GWIcons_AlignBottomCenter,
.dxm-hovered .dxRichEdit_GWIcons_AlignBottomLeft,
.dxm-hovered .dxRichEdit_GWIcons_AlignBottomRight,
.dxm-hovered .dxRichEdit_GWIcons_AlignMiddleCenter,
.dxm-hovered .dxRichEdit_GWIcons_AlignMiddleLeft,
.dxm-hovered .dxRichEdit_GWIcons_AlignMiddleRight,
.dxm-hovered .dxRichEdit_GWIcons_AlignTopCenter,
.dxm-hovered .dxRichEdit_GWIcons_AlignTopLeft,
.dxm-hovered .dxRichEdit_GWIcons_AlignTopRight,
.dxm-hovered .dxRichEdit_GWIcons_Bookmark,
.dxm-hovered .dxRichEdit_GWIcons_BorderBottom,
.dxm-hovered .dxRichEdit_GWIcons_BorderInsideHorizontal,
.dxm-hovered .dxRichEdit_GWIcons_BorderInsideVertical,
.dxm-hovered .dxRichEdit_GWIcons_BorderLeft,
.dxm-hovered .dxRichEdit_GWIcons_BorderRight,
.dxm-hovered .dxRichEdit_GWIcons_BordersAll,
.dxm-hovered .dxRichEdit_GWIcons_BordersBox,
.dxm-hovered .dxRichEdit_GWIcons_BordersCustom,
.dxm-hovered .dxRichEdit_GWIcons_BordersGrid,
.dxm-hovered .dxRichEdit_GWIcons_BordersNone,
.dxm-hovered .dxRichEdit_GWIcons_BorderTop,
.dxm-hovered .dxRichEdit_GWIcons_ContinueNumberingList,
.dxm-hovered .dxRichEdit_GWIcons_Copy,
.dxm-hovered .dxRichEdit_GWIcons_Cut,
.dxm-hovered .dxRichEdit_GWIcons_Delete_Hyperlink,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringForward,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringInFrontOfText,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringToFront,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringToFrontOfText,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectLayoutOptions,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectSendBackward,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectSendBehindText,
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectSendToBack,
.dxm-hovered .dxRichEdit_GWIcons_Font,
.dxm-hovered .dxRichEdit_GWIcons_Hyperlink,
.dxm-hovered .dxRichEdit_GWIcons_IndentDecrease,
.dxm-hovered .dxRichEdit_GWIcons_IndentIncrease,
.dxm-hovered .dxRichEdit_GWIcons_InsertTableCells,
.dxm-hovered .dxRichEdit_GWIcons_InsertTableColumnsToTheLeft,
.dxm-hovered .dxRichEdit_GWIcons_InsertTableColumnsToTheRight,
.dxm-hovered .dxRichEdit_GWIcons_InsertTableRowsAbove,
.dxm-hovered .dxRichEdit_GWIcons_InsertTableRowsBelow,
.dxm-hovered .dxRichEdit_GWIcons_LeftColumns,
.dxm-hovered .dxRichEdit_GWIcons_ListBullets,
.dxm-hovered .dxRichEdit_GWIcons_MergeTableCells,
.dxm-hovered .dxRichEdit_GWIcons_OneColumn,
.dxm-hovered .dxRichEdit_GWIcons_Paragraph,
.dxm-hovered .dxRichEdit_GWIcons_Paste,
.dxm-hovered .dxRichEdit_GWIcons_RestartNumberingList,
.dxm-hovered .dxRichEdit_GWIcons_RightColumns,
.dxm-hovered .dxRichEdit_GWIcons_SelectAll,
.dxm-hovered .dxRichEdit_GWIcons_SplitTableCells,
.dxm-hovered .dxRichEdit_GWIcons_TableAutoFitContents,
.dxm-hovered .dxRichEdit_GWIcons_TableAutoFitWindow,
.dxm-hovered .dxRichEdit_GWIcons_TableFixedColumnWidth,
.dxm-hovered .dxRichEdit_GWIcons_TableProperties,
.dxm-hovered .dxRichEdit_GWIcons_TextWrapBehind,
.dxm-hovered .dxRichEdit_GWIcons_TextWrapInFrontOfText,
.dxm-hovered .dxRichEdit_GWIcons_TextWrapSquare,
.dxm-hovered .dxRichEdit_GWIcons_TextWrapThrough,
.dxm-hovered .dxRichEdit_GWIcons_TextWrapTight,
.dxm-hovered .dxRichEdit_GWIcons_TextWrapTopAndBottom,
.dxm-hovered .dxRichEdit_GWIcons_ThreeColumns,
.dxm-hovered .dxRichEdit_GWIcons_ToggleFieldCodes,
.dxm-hovered .dxRichEdit_GWIcons_TwoColumns,
.dxm-hovered .dxRichEdit_GWIcons_UpdateField,
.dxRichEdit_GWIcons_AlignBottomCenter,
.dxRichEdit_GWIcons_AlignBottomLeft,
.dxRichEdit_GWIcons_AlignBottomRight,
.dxRichEdit_GWIcons_AlignMiddleCenter,
.dxRichEdit_GWIcons_AlignMiddleLeft,
.dxRichEdit_GWIcons_AlignMiddleRight,
.dxRichEdit_GWIcons_AlignTopCenter,
.dxRichEdit_GWIcons_AlignTopLeft,
.dxRichEdit_GWIcons_AlignTopRight,
.dxRichEdit_GWIcons_Bookmark,
.dxRichEdit_GWIcons_BorderBottom,
.dxRichEdit_GWIcons_BorderInsideHorizontal,
.dxRichEdit_GWIcons_BorderInsideVertical,
.dxRichEdit_GWIcons_BorderLeft,
.dxRichEdit_GWIcons_BorderRight,
.dxRichEdit_GWIcons_BordersAll,
.dxRichEdit_GWIcons_BordersBox,
.dxRichEdit_GWIcons_BordersCustom,
.dxRichEdit_GWIcons_BordersGrid,
.dxRichEdit_GWIcons_BordersNone,
.dxRichEdit_GWIcons_BorderTop,
.dxRichEdit_GWIcons_ContinueNumberingList,
.dxRichEdit_GWIcons_Copy,
.dxRichEdit_GWIcons_Cut,
.dxRichEdit_GWIcons_Delete_Hyperlink,
.dxRichEdit_GWIcons_FloatingObjectBringForward,
.dxRichEdit_GWIcons_FloatingObjectBringInFrontOfText,
.dxRichEdit_GWIcons_FloatingObjectBringToFront,
.dxRichEdit_GWIcons_FloatingObjectBringToFrontOfText,
.dxRichEdit_GWIcons_FloatingObjectLayoutOptions,
.dxRichEdit_GWIcons_FloatingObjectSendBackward,
.dxRichEdit_GWIcons_FloatingObjectSendBehindText,
.dxRichEdit_GWIcons_FloatingObjectSendToBack,
.dxRichEdit_GWIcons_Font,
.dxRichEdit_GWIcons_Hyperlink,
.dxRichEdit_GWIcons_IndentDecrease,
.dxRichEdit_GWIcons_IndentIncrease,
.dxRichEdit_GWIcons_InsertTableCells,
.dxRichEdit_GWIcons_InsertTableColumnsToTheLeft,
.dxRichEdit_GWIcons_InsertTableColumnsToTheRight,
.dxRichEdit_GWIcons_InsertTableRowsAbove,
.dxRichEdit_GWIcons_InsertTableRowsBelow,
.dxRichEdit_GWIcons_LeftColumns,
.dxRichEdit_GWIcons_ListBullets,
.dxRichEdit_GWIcons_MergeTableCells,
.dxRichEdit_GWIcons_OneColumn,
.dxRichEdit_GWIcons_Paragraph,
.dxRichEdit_GWIcons_Paste,
.dxRichEdit_GWIcons_RestartNumberingList,
.dxRichEdit_GWIcons_RightColumns,
.dxRichEdit_GWIcons_SelectAll,
.dxRichEdit_GWIcons_SplitTableCells,
.dxRichEdit_GWIcons_TableAutoFitContents,
.dxRichEdit_GWIcons_TableAutoFitWindow,
.dxRichEdit_GWIcons_TableFixedColumnWidth,
.dxRichEdit_GWIcons_TableProperties,
.dxRichEdit_GWIcons_TextWrapBehind,
.dxRichEdit_GWIcons_TextWrapInFrontOfText,
.dxRichEdit_GWIcons_TextWrapSquare,
.dxRichEdit_GWIcons_TextWrapThrough,
.dxRichEdit_GWIcons_TextWrapTight,
.dxRichEdit_GWIcons_TextWrapTopAndBottom,
.dxRichEdit_GWIcons_ThreeColumns,
.dxRichEdit_GWIcons_ToggleFieldCodes,
.dxRichEdit_GWIcons_TwoColumns,
.dxRichEdit_GWIcons_UpdateField
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxRichEdit.Images.GWISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignBottomCenter
{
    background-position: -374px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignBottomLeft
{
    background-position: -51px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignBottomRight
{
    background-position: -476px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignMiddleCenter
{
    background-position: -374px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignMiddleLeft
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignMiddleRight
{
    background-position: -442px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignTopCenter
{
    background-position: -408px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignTopLeft
{
    background-position: -119px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_AlignTopRight
{
    background-position: -136px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Bookmark
{
    background-position: -204px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_BorderBottom
{
    background-position: -476px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_BorderInsideHorizontal
{
    background-position: -323px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_BorderInsideVertical
{
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_BorderLeft
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_BorderRight
{
    background-position: -425px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_BordersAll
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_BordersBox
{
    background-position: -561px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_BordersCustom
{
    background-position: -330px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_BordersGrid
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_BordersNone
{
    background-position: -462px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_BorderTop
{
    background-position: -510px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_ContinueNumberingList
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Copy
{
    background-position: -221px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Cut
{
    background-position: -51px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Delete_Hyperlink
{
    background-position: -527px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringForward
{
    background-position: -102px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringInFrontOfText
{
    background-position: -374px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringToFront
{
    background-position: -85px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectBringToFrontOfText
{
    background-position: -255px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectLayoutOptions
{
    background-position: -272px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectSendBackward
{
    background-position: -527px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectSendBehindText
{
    background-position: -34px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_FloatingObjectSendToBack
{
    background-position: -544px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Font
{
    background-position: -459px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Hyperlink
{
    background-position: -136px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_IndentDecrease
{
    background-position: -238px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_IndentIncrease
{
    background-position: -595px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_InsertTableCells
{
    background-position: -425px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_InsertTableColumnsToTheLeft
{
    background-position: -85px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_InsertTableColumnsToTheRight
{
    background-position: -119px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_InsertTableRowsAbove
{
    background-position: -561px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_InsertTableRowsBelow
{
    background-position: -459px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_LeftColumns
{
    background-position: -594px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_ListBullets
{
    background-position: -102px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_MergeTableCells
{
    background-position: -306px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_OneColumn
{
    background-position: -528px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_Paragraph
{
    background-position: -578px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_Paste
{
    background-position: -629px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_RestartNumberingList
{
    background-position: -187px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_RightColumns
{
    background-position: -627px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_SelectAll
{
    background-position: -306px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_SplitTableCells
{
    background-position: -34px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TableAutoFitContents
{
    background-position: -544px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TableAutoFitWindow
{
    background-position: -221px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TableFixedColumnWidth
{
    background-position: -408px -67px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TableProperties
{
    background-position: -612px -50px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TextWrapBehind
{
    background-position: -425px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TextWrapInFrontOfText
{
    background-position: -561px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TextWrapSquare
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TextWrapThrough
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TextWrapTight
{
    background-position: -595px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TextWrapTopAndBottom
{
    background-position: -578px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_ThreeColumns
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_ToggleFieldCodes
{
    background-position: -238px -33px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxRichEdit_GWIcons_TwoColumns
{
    background-position: -396px 0px;
    width: 32px;
    height: 32px;
}
.dxm-hovered .dxRichEdit_GWIcons_UpdateField
{
    background-position: -391px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignBottomCenter
{
    background-position: -68px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignBottomLeft
{
    background-position: -340px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignBottomRight
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignMiddleCenter
{
    background-position: -323px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignMiddleLeft
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignMiddleRight
{
    background-position: -510px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignTopCenter
{
    background-position: -629px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignTopLeft
{
    background-position: -476px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_AlignTopRight
{
    background-position: -68px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Bookmark
{
    background-position: -221px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_BorderBottom
{
    background-position: -170px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_BorderInsideHorizontal
{
    background-position: -272px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_BorderInsideVertical
{
    background-position: -17px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_BorderLeft
{
    background-position: -578px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_BorderRight
{
    background-position: -527px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_BordersAll
{
    background-position: -363px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_BordersBox
{
    background-position: -429px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_BordersCustom
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_BordersGrid
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_BordersNone
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_BorderTop
{
    background-position: -204px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_ContinueNumberingList
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Copy
{
    background-position: -595px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Cut
{
    background-position: -357px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Delete_Hyperlink
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectBringForward
{
    background-position: -561px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectBringInFrontOfText
{
    background-position: -323px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectBringToFront
{
    background-position: -357px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectBringToFrontOfText
{
    background-position: -442px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectLayoutOptions
{
    background-position: -272px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectSendBackward
{
    background-position: -255px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectSendBehindText
{
    background-position: -612px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_FloatingObjectSendToBack
{
    background-position: 0px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Font
{
    background-position: -153px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Hyperlink
{
    background-position: -391px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_IndentDecrease
{
    background-position: -340px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_IndentIncrease
{
    background-position: -289px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_InsertTableCells
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_InsertTableColumnsToTheLeft
{
    background-position: -289px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_InsertTableColumnsToTheRight
{
    background-position: -153px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_InsertTableRowsAbove
{
    background-position: -408px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_InsertTableRowsBelow
{
    background-position: -306px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_LeftColumns
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_ListBullets
{
    background-position: -391px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_MergeTableCells
{
    background-position: -493px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_OneColumn
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_Paragraph
{
    background-position: -510px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_Paste
{
    background-position: -17px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_RestartNumberingList
{
    background-position: -187px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_RightColumns
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_SelectAll
{
    background-position: -493px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_SplitTableCells
{
    background-position: -357px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TableAutoFitContents
{
    background-position: -340px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TableAutoFitWindow
{
    background-position: -493px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TableFixedColumnWidth
{
    background-position: -442px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TableProperties
{
    background-position: -204px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TextWrapBehind
{
    background-position: -170px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TextWrapInFrontOfText
{
    background-position: -255px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TextWrapSquare
{
    background-position: -187px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TextWrapThrough
{
    background-position: -544px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TextWrapTight
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TextWrapTopAndBottom
{
    background-position: -238px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_ThreeColumns
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_ToggleFieldCodes
{
    background-position: -289px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_GWIcons_TwoColumns
{
    background-position: -495px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_GWIcons_UpdateField
{
    background-position: -459px -33px;
    width: 16px;
    height: 16px;
}
