.dxRichEdit_Icons_AlignBottomCenter,
.dxRichEdit_Icons_AlignBottomLeft,
.dxRichEdit_Icons_AlignBottomRight,
.dxRichEdit_Icons_AlignMiddleCenter,
.dxRichEdit_Icons_AlignMiddleLeft,
.dxRichEdit_Icons_AlignMiddleRight,
.dxRichEdit_Icons_AlignTopCenter,
.dxRichEdit_Icons_AlignTopLeft,
.dxRichEdit_Icons_AlignTopRight,
.dxRichEdit_Icons_Bookmark,
.dxRichEdit_Icons_BorderBottom,
.dxRichEdit_Icons_BorderInsideHorizontal,
.dxRichEdit_Icons_BorderInsideVertical,
.dxRichEdit_Icons_BorderLeft,
.dxRichEdit_Icons_BorderRight,
.dxRichEdit_Icons_BordersAll,
.dxRichEdit_Icons_BordersBox,
.dxRichEdit_Icons_BordersCustom,
.dxRichEdit_Icons_BordersGrid,
.dxRichEdit_Icons_BordersNone,
.dxRichEdit_Icons_BorderTop,
.dxRichEdit_Icons_ContinueNumberingList,
.dxRichEdit_Icons_Copy,
.dxRichEdit_Icons_Cut,
.dxRichEdit_Icons_Delete_Hyperlink,
.dxRichEdit_Icons_FloatingObjectBringForward,
.dxRichEdit_Icons_FloatingObjectBringInFrontOfText,
.dxRichEdit_Icons_FloatingObjectBringToFront,
.dxRichEdit_Icons_FloatingObjectBringToFrontOfText,
.dxRichEdit_Icons_FloatingObjectLayoutOptions,
.dxRichEdit_Icons_FloatingObjectSendBackward,
.dxRichEdit_Icons_FloatingObjectSendBehindText,
.dxRichEdit_Icons_FloatingObjectSendToBack,
.dxRichEdit_Icons_Font,
.dxRichEdit_Icons_Hyperlink,
.dxRichEdit_Icons_IndentDecrease,
.dxRichEdit_Icons_IndentIncrease,
.dxRichEdit_Icons_InsertTableCells,
.dxRichEdit_Icons_InsertTableColumnsToTheLeft,
.dxRichEdit_Icons_InsertTableColumnsToTheRight,
.dxRichEdit_Icons_InsertTableRowsAbove,
.dxRichEdit_Icons_InsertTableRowsBelow,
.dxRichEdit_Icons_LeftColumns,
.dxRichEdit_Icons_ListBullets,
.dxRichEdit_Icons_MergeTableCells,
.dxRichEdit_Icons_OneColumn,
.dxRichEdit_Icons_Paragraph,
.dxRichEdit_Icons_Paste,
.dxRichEdit_Icons_RestartNumberingList,
.dxRichEdit_Icons_RightColumns,
.dxRichEdit_Icons_SelectAll,
.dxRichEdit_Icons_SplitTableCells,
.dxRichEdit_Icons_TableAutoFitContents,
.dxRichEdit_Icons_TableAutoFitWindow,
.dxRichEdit_Icons_TableFixedColumnWidth,
.dxRichEdit_Icons_TableProperties,
.dxRichEdit_Icons_TextWrapBehind,
.dxRichEdit_Icons_TextWrapInFrontOfText,
.dxRichEdit_Icons_TextWrapSquare,
.dxRichEdit_Icons_TextWrapThrough,
.dxRichEdit_Icons_TextWrapTight,
.dxRichEdit_Icons_TextWrapTopAndBottom,
.dxRichEdit_Icons_ThreeColumns,
.dxRichEdit_Icons_ToggleFieldCodes,
.dxRichEdit_Icons_TwoColumns,
.dxRichEdit_Icons_UpdateField
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxRichEdit.Images.ISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_Icons_AlignBottomCenter
{
    background-position: -51px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignBottomLeft
{
    background-position: -221px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignBottomRight
{
    background-position: -170px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignMiddleCenter
{
    background-position: 0px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignMiddleLeft
{
    background-position: -102px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignMiddleRight
{
    background-position: -85px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignTopCenter
{
    background-position: -306px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignTopLeft
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_AlignTopRight
{
    background-position: -17px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Bookmark
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_BorderBottom
{
    background-position: -51px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_BorderInsideHorizontal
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_BorderInsideVertical
{
    background-position: -238px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_BorderLeft
{
    background-position: -221px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_BorderRight
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_BordersAll
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_BordersBox
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_BordersCustom
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_BordersGrid
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_BordersNone
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_BorderTop
{
    background-position: -136px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_ContinueNumberingList
{
    background-position: -255px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Copy
{
    background-position: -289px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Cut
{
    background-position: -68px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Delete_Hyperlink
{
    background-position: -204px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectBringForward
{
    background-position: -102px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectBringInFrontOfText
{
    background-position: -204px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectBringToFront
{
    background-position: -85px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectBringToFrontOfText
{
    background-position: -238px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectLayoutOptions
{
    background-position: -17px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectSendBackward
{
    background-position: -187px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectSendBehindText
{
    background-position: -34px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_FloatingObjectSendToBack
{
    background-position: -221px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Font
{
    background-position: -187px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Hyperlink
{
    background-position: -153px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_IndentDecrease
{
    background-position: -272px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_IndentIncrease
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_InsertTableCells
{
    background-position: -238px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_InsertTableColumnsToTheLeft
{
    background-position: -289px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_InsertTableColumnsToTheRight
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_InsertTableRowsAbove
{
    background-position: -255px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_InsertTableRowsBelow
{
    background-position: -187px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_LeftColumns
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_ListBullets
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_MergeTableCells
{
    background-position: -68px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_OneColumn
{
    background-position: -264px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_Paragraph
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_Paste
{
    background-position: -34px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_RestartNumberingList
{
    background-position: -119px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_RightColumns
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_SelectAll
{
    background-position: 0px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_SplitTableCells
{
    background-position: -119px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TableAutoFitContents
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TableAutoFitWindow
{
    background-position: -136px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TableFixedColumnWidth
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TableProperties
{
    background-position: -272px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TextWrapBehind
{
    background-position: -306px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TextWrapInFrontOfText
{
    background-position: -272px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TextWrapSquare
{
    background-position: -170px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TextWrapThrough
{
    background-position: -153px -50px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TextWrapTight
{
    background-position: -204px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TextWrapTopAndBottom
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_ThreeColumns
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_ToggleFieldCodes
{
    background-position: -289px -67px;
    width: 16px;
    height: 16px;
}
.dxRichEdit_Icons_TwoColumns
{
    background-position: -297px 0px;
    width: 32px;
    height: 32px;
}
.dxRichEdit_Icons_UpdateField
{
    background-position: -255px -33px;
    width: 16px;
    height: 16px;
}
