.dxRichEdit_CenterTabDragHandle,
.dxRichEdit_DecimalTabDragHandle,
.dxRichEdit_FirstLineIdentDragHandle,
.dxRichEdit_LeftIdentDragHandle,
.dxRichEdit_LeftTabDragHandle,
.dxRichEdit_RightIdentDragHandle,
.dxRichEdit_RightTabDragHandle
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxRichEdit.Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxRichEdit_CenterTabDragHandle
{
    background-position: 0px -34px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_DecimalTabDragHandle
{
    background-position: 0px -27px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle
{
    background-position: 0px -9px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle
{
    background-position: 0px -18px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle
{
    background-position: 0px -48px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_RightIdentDragHandle
{
    background-position: 0px 0px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle
{
    background-position: 0px -41px;
    width: 6px;
    height: 6px;
}
