.dxXtraReports_PageBorder_t,
.dxXtraReports_PageBorder_l,
.dxXtraReports_PageBorder_r,
.dxXtraReports_PageBorder_b {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t {
    background-image: url('<%=WebResource("DevExpress.XtraReports.Web.Images.pageTopBorder.png")%>');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l {
    background-image: url('<%=WebResource("DevExpress.XtraReports.Web.Images.pageLeftBorder.png")%>');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r {
    background-image: url('<%=WebResource("DevExpress.XtraReports.Web.Images.pageRightBorder.png")%>');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b {
    background-image: url('<%=WebResource("DevExpress.XtraReports.Web.Images.pageBottomBorder.png")%>');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}
