.dxssControl 
{
	border-style: solid;
	border-width: 1px;
	border-color: #a7a7a7;
	font: 12px Tahoma, Geneva, sans-serif;
}
/*Loading Panel*/
.dxssLoadingDiv
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel
{
	font: 12px Tahoma, Geneva, sans-serif;
	color: #303030;
	background-color: white;
	border: 1px solid #a7a7a7;
}
.dxssLoadingPanel td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}
.dxssLoadingPanel .dxlp-loadingImage 
{
	background: url('<%=WebResource("DevExpress.Web.ASPxSpreadsheet.Images.Loading.gif")%>');
	height: 16px;
	width: 16px;
}
.dxssControl .dxrControl .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxssControl .dxtcLite,
.dxssControl .dxrControl .dxtcLite
{
	background-color: #cecece;
}
.dxssControl .dxrControl .dxtcLite .dxtc-leftIndent
{
	width: 3px;
}
.dxssControl .dxtcLite .dxtc-leftIndent
{
	width: 8px;
}
.dxssControl .dxtcLite
{
	padding-bottom: 6px;
}
.dxssControl .dxrControl .dxtcLite
{
	padding-bottom: 0px;
}
.dxssControl .dxrControl .dxr-minBtn 
{
	padding-right: 7px;
}
.dxssControl .dxss-tre
{
	background: url('<%=WebResource("DevExpress.Web.ASPxSpreadsheet.Images.TouchResize.png")%>');
}
.dxssControl .dxss-ddp,
.dxssControl .dxss-ddb
{
    border: 1px solid #A0A0A0;
}
.dxssControl .dxss-ddp tr:hover
{
    background-color: #cfcfcf;
}
/* --------------Dialogs----------------- */
.dxpcLite .dxssDlgFooter
{
    background-color: #F3F3F3;
    border-top: Solid 1px #E0E0E0;
}
.dxpcLite .dxssDlgInsertImageForm .dxssDlgImagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
}
/*---------Change-Chart-Style-Dialog-------*/
.dxssModifyChartStyleContenPanel .dxbButtonHover
{
	color: #000000;
	background: #F2F2F2 none;
	border: 1px solid #606060;
}
.dxssModifyChartStyleContenPanel .dxbButtonChecked
{
	color: #FFFFFF;
	background: #e1e1e1 none;
}
.dxssModifyChartStyleContenPanel .dxbButtonPressed
{
	color: #000000;
	background: #D5D5D5 none;
}
/* DX Spreadsheet Cell Editor Element, Formula Bar, IntelliSense elements */
.dxssControl .dxss-ctve {
	border: 2px solid #7493C0; /*the same -dxss-cfe */
}
.dxssControl .dxss-fb {
    padding: 10px;
    border-bottom: 1px solid #a7a7a7;
}
.dxssControl .dxmLite .dxss-fbMenu {
    height: 21px;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.dxssControl .dxss-fbMenu .dxm-content {
    padding-top: 1px!important;
}
.dxssControl .dxss-Hint {
    border: 1px solid #A8A8A8;
    background-color: white;
    padding: 3px 8px 4px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.dxssControl .dxss-Hint.dxss-funcInfo {
    margin-left: 10px;
    margin-right: 10px;
}