.dxSpreadsheet_GIcons_AutoFilter_Ascending,
.dxSpreadsheet_GIcons_AutoFilter_Descending,
.dxSpreadsheet_GIcons_AutoFilter_Filtered,
.dxSpreadsheet_GIcons_AutoFilter_FilteredAndAscending,
.dxSpreadsheet_GIcons_AutoFilter_FilteredAndDescending,
.dxSpreadsheet_GIcons_ChartAxesGroup,
.dxSpreadsheet_GIcons_ChartGroupArea,
.dxSpreadsheet_GIcons_ChartGroupBar,
.dxSpreadsheet_GIcons_ChartGroupColumn,
.dxSpreadsheet_GIcons_ChartGroupLine,
.dxSpreadsheet_GIcons_ChartGroupOther,
.dxSpreadsheet_GIcons_ChartGroupPie,
.dxSpreadsheet_GIcons_ChartGroupScatter,
.dxSpreadsheet_GIcons_ChartPresetArea01,
.dxSpreadsheet_GIcons_ChartPresetArea02,
.dxSpreadsheet_GIcons_ChartPresetArea03,
.dxSpreadsheet_GIcons_ChartPresetArea04,
.dxSpreadsheet_GIcons_ChartPresetArea05,
.dxSpreadsheet_GIcons_ChartPresetArea06,
.dxSpreadsheet_GIcons_ChartPresetArea07,
.dxSpreadsheet_GIcons_ChartPresetArea08,
.dxSpreadsheet_GIcons_ChartPresetBarClustered01,
.dxSpreadsheet_GIcons_ChartPresetBarClustered02,
.dxSpreadsheet_GIcons_ChartPresetBarClustered03,
.dxSpreadsheet_GIcons_ChartPresetBarClustered04,
.dxSpreadsheet_GIcons_ChartPresetBarClustered05,
.dxSpreadsheet_GIcons_ChartPresetBarClustered06,
.dxSpreadsheet_GIcons_ChartPresetBarClustered07,
.dxSpreadsheet_GIcons_ChartPresetBarClustered08,
.dxSpreadsheet_GIcons_ChartPresetBarClustered09,
.dxSpreadsheet_GIcons_ChartPresetBarClustered10,
.dxSpreadsheet_GIcons_ChartPresetBarStacked01,
.dxSpreadsheet_GIcons_ChartPresetBarStacked02,
.dxSpreadsheet_GIcons_ChartPresetBarStacked03,
.dxSpreadsheet_GIcons_ChartPresetBarStacked04,
.dxSpreadsheet_GIcons_ChartPresetBarStacked05,
.dxSpreadsheet_GIcons_ChartPresetBarStacked06,
.dxSpreadsheet_GIcons_ChartPresetBarStacked07,
.dxSpreadsheet_GIcons_ChartPresetBarStacked08,
.dxSpreadsheet_GIcons_ChartPresetBarStacked09,
.dxSpreadsheet_GIcons_ChartPresetBarStacked10,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered01,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered02,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered03,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered04,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered05,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered06,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered07,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered08,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered09,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered10,
.dxSpreadsheet_GIcons_ChartPresetColumnClustered11,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked01,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked02,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked03,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked04,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked05,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked06,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked07,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked08,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked09,
.dxSpreadsheet_GIcons_ChartPresetColumnStacked10,
.dxSpreadsheet_GIcons_ChartPresetDoughnut01,
.dxSpreadsheet_GIcons_ChartPresetDoughnut02,
.dxSpreadsheet_GIcons_ChartPresetDoughnut03,
.dxSpreadsheet_GIcons_ChartPresetDoughnut04,
.dxSpreadsheet_GIcons_ChartPresetDoughnut05,
.dxSpreadsheet_GIcons_ChartPresetDoughnut06,
.dxSpreadsheet_GIcons_ChartPresetDoughnut07,
.dxSpreadsheet_GIcons_ChartPresetLine01,
.dxSpreadsheet_GIcons_ChartPresetLine02,
.dxSpreadsheet_GIcons_ChartPresetLine03,
.dxSpreadsheet_GIcons_ChartPresetLine04,
.dxSpreadsheet_GIcons_ChartPresetLine05,
.dxSpreadsheet_GIcons_ChartPresetLine06,
.dxSpreadsheet_GIcons_ChartPresetLine07,
.dxSpreadsheet_GIcons_ChartPresetLine08,
.dxSpreadsheet_GIcons_ChartPresetLine09,
.dxSpreadsheet_GIcons_ChartPresetLine10,
.dxSpreadsheet_GIcons_ChartPresetLine11,
.dxSpreadsheet_GIcons_ChartPresetLine12,
.dxSpreadsheet_GIcons_ChartPresetPie01,
.dxSpreadsheet_GIcons_ChartPresetPie02,
.dxSpreadsheet_GIcons_ChartPresetPie03,
.dxSpreadsheet_GIcons_ChartPresetPie04,
.dxSpreadsheet_GIcons_ChartPresetPie05,
.dxSpreadsheet_GIcons_ChartPresetPie06,
.dxSpreadsheet_GIcons_ChartPresetPie07,
.dxSpreadsheet_GIcons_ChartPresetRadar01,
.dxSpreadsheet_GIcons_ChartPresetRadar02,
.dxSpreadsheet_GIcons_ChartPresetRadar03,
.dxSpreadsheet_GIcons_ChartPresetRadar04,
.dxSpreadsheet_GIcons_ChartPresetScatter01,
.dxSpreadsheet_GIcons_ChartPresetScatter02,
.dxSpreadsheet_GIcons_ChartPresetScatter03,
.dxSpreadsheet_GIcons_ChartPresetScatter04,
.dxSpreadsheet_GIcons_ChartPresetScatter05,
.dxSpreadsheet_GIcons_ChartPresetScatter06,
.dxSpreadsheet_GIcons_ChartPresetScatter07,
.dxSpreadsheet_GIcons_ChartPresetScatter08,
.dxSpreadsheet_GIcons_ChartPresetScatter09,
.dxSpreadsheet_GIcons_ChartPresetScatter10,
.dxSpreadsheet_GIcons_ChartPresetScatter11,
.dxSpreadsheet_GIcons_ChartPresetStock01,
.dxSpreadsheet_GIcons_ChartPresetStock02,
.dxSpreadsheet_GIcons_ChartPresetStock03,
.dxSpreadsheet_GIcons_ChartPresetStock04,
.dxSpreadsheet_GIcons_ChartPresetStock05,
.dxSpreadsheet_GIcons_ChartPresetStock06,
.dxSpreadsheet_GIcons_ChartPresetStock07,
.dxSpreadsheet_GIcons_ChartSelectData,
.dxSpreadsheet_GIcons_ClearFilter,
.dxSpreadsheet_GIcons_Copy,
.dxSpreadsheet_GIcons_CreateArea3DChart,
.dxSpreadsheet_GIcons_CreateArea3DChartLarge,
.dxSpreadsheet_GIcons_CreateAreaChart,
.dxSpreadsheet_GIcons_CreateAreaChartLarge,
.dxSpreadsheet_GIcons_CreateBar3DChart,
.dxSpreadsheet_GIcons_CreateBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateBarChart,
.dxSpreadsheet_GIcons_CreateBarChartLarge,
.dxSpreadsheet_GIcons_CreateBubble3DChart,
.dxSpreadsheet_GIcons_CreateBubble3DChartLarge,
.dxSpreadsheet_GIcons_CreateBubbleChart,
.dxSpreadsheet_GIcons_CreateBubbleChartLarge,
.dxSpreadsheet_GIcons_CreateConeBar3DChart,
.dxSpreadsheet_GIcons_CreateConeBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateConeFullStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateConeFullStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateConeManhattanBarChart,
.dxSpreadsheet_GIcons_CreateConeManhattanBarChartLarge,
.dxSpreadsheet_GIcons_CreateConeStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateConeStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateCylinderBar3DChart,
.dxSpreadsheet_GIcons_CreateCylinderBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateCylinderFullStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateCylinderFullStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateCylinderManhattanBarChart,
.dxSpreadsheet_GIcons_CreateCylinderManhattanBarChartLarge,
.dxSpreadsheet_GIcons_CreateCylinderStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateCylinderStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateDoughnutChart,
.dxSpreadsheet_GIcons_CreateDoughnutChartLarge,
.dxSpreadsheet_GIcons_CreateExplodedDoughnutChart,
.dxSpreadsheet_GIcons_CreateExplodedDoughnutChartLarge,
.dxSpreadsheet_GIcons_CreateExplodedPie3DChart,
.dxSpreadsheet_GIcons_CreateExplodedPie3DChartLarge,
.dxSpreadsheet_GIcons_CreateExplodedPieChart,
.dxSpreadsheet_GIcons_CreateExplodedPieChartLarge,
.dxSpreadsheet_GIcons_CreateFullStackedArea3DChart,
.dxSpreadsheet_GIcons_CreateFullStackedArea3DChartLarge,
.dxSpreadsheet_GIcons_CreateFullStackedAreaChart,
.dxSpreadsheet_GIcons_CreateFullStackedAreaChartLarge,
.dxSpreadsheet_GIcons_CreateFullStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateFullStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateFullStackedBarChart,
.dxSpreadsheet_GIcons_CreateFullStackedBarChartLarge,
.dxSpreadsheet_GIcons_CreateFullStackedLineChart,
.dxSpreadsheet_GIcons_CreateFullStackedLineChartLarge,
.dxSpreadsheet_GIcons_CreateFullStackedLineChartNoMarkers,
.dxSpreadsheet_GIcons_CreateFullStackedLineChartNoMarkersLarge,
.dxSpreadsheet_GIcons_CreateLine3DChart,
.dxSpreadsheet_GIcons_CreateLine3DChartLarge,
.dxSpreadsheet_GIcons_CreateLineChart,
.dxSpreadsheet_GIcons_CreateLineChartLarge,
.dxSpreadsheet_GIcons_CreateLineChartNoMarkers,
.dxSpreadsheet_GIcons_CreateLineChartNoMarkersLarge,
.dxSpreadsheet_GIcons_CreateManhattanBarChart,
.dxSpreadsheet_GIcons_CreateManhattanBarChartLarge,
.dxSpreadsheet_GIcons_CreatePie3DChart,
.dxSpreadsheet_GIcons_CreatePie3DChartLarge,
.dxSpreadsheet_GIcons_CreatePieChart,
.dxSpreadsheet_GIcons_CreatePieChartLarge,
.dxSpreadsheet_GIcons_CreatePyramidBar3DChart,
.dxSpreadsheet_GIcons_CreatePyramidBar3DChartLarge,
.dxSpreadsheet_GIcons_CreatePyramidFullStackedBar3DChart,
.dxSpreadsheet_GIcons_CreatePyramidFullStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreatePyramidManhattanBarChart,
.dxSpreadsheet_GIcons_CreatePyramidManhattanBarChartLarge,
.dxSpreadsheet_GIcons_CreatePyramidStackedBar3DChart,
.dxSpreadsheet_GIcons_CreatePyramidStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRadarLineChart,
.dxSpreadsheet_GIcons_CreateRadarLineChartFilled,
.dxSpreadsheet_GIcons_CreateRadarLineChartFilledLarge,
.dxSpreadsheet_GIcons_CreateRadarLineChartLarge,
.dxSpreadsheet_GIcons_CreateRadarLineChartNoMarkers,
.dxSpreadsheet_GIcons_CreateRadarLineChartNoMarkersLarge,
.dxSpreadsheet_GIcons_CreateRotatedBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedBarChart,
.dxSpreadsheet_GIcons_CreateRotatedBarChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedConeBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedConeBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedCylinderBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedCylinderBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBarChart,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBarChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedConeBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedConeBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedCylinderBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedCylinderBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedPyramidBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedFullStackedPyramidBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedPyramidBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedPyramidBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedStackedBarChart,
.dxSpreadsheet_GIcons_CreateRotatedStackedBarChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedStackedConeBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedStackedConeBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedStackedCylinderBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedStackedCylinderBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateRotatedStackedPyramidBar3DChart,
.dxSpreadsheet_GIcons_CreateRotatedStackedPyramidBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateScatterChartLines,
.dxSpreadsheet_GIcons_CreateScatterChartLinesAndMarkers,
.dxSpreadsheet_GIcons_CreateScatterChartLinesAndMarkersLarge,
.dxSpreadsheet_GIcons_CreateScatterChartLinesLarge,
.dxSpreadsheet_GIcons_CreateScatterChartMarkersOnly,
.dxSpreadsheet_GIcons_CreateScatterChartMarkersOnlyLarge,
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLines,
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLinesAndMarkers,
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLinesAndMarkersLarge,
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLinesLarge,
.dxSpreadsheet_GIcons_CreateStackedArea3DChart,
.dxSpreadsheet_GIcons_CreateStackedArea3DChartLarge,
.dxSpreadsheet_GIcons_CreateStackedAreaChart,
.dxSpreadsheet_GIcons_CreateStackedAreaChartLarge,
.dxSpreadsheet_GIcons_CreateStackedBar3DChart,
.dxSpreadsheet_GIcons_CreateStackedBar3DChartLarge,
.dxSpreadsheet_GIcons_CreateStackedBarChart,
.dxSpreadsheet_GIcons_CreateStackedBarChartLarge,
.dxSpreadsheet_GIcons_CreateStackedLineChart,
.dxSpreadsheet_GIcons_CreateStackedLineChartLarge,
.dxSpreadsheet_GIcons_CreateStackedLineChartNoMarkers,
.dxSpreadsheet_GIcons_CreateStackedLineChartNoMarkersLarge,
.dxSpreadsheet_GIcons_CreateStockChart,
.dxSpreadsheet_GIcons_CreateStockChartHighLowClose,
.dxSpreadsheet_GIcons_CreateStockChartHighLowCloseLarge,
.dxSpreadsheet_GIcons_CreateStockChartLarge,
.dxSpreadsheet_GIcons_CreateStockChartOpenHighLowClose,
.dxSpreadsheet_GIcons_CreateStockChartOpenHighLowCloseLarge,
.dxSpreadsheet_GIcons_Cut,
.dxSpreadsheet_GIcons_Delete_Hyperlink,
.dxSpreadsheet_GIcons_DropDownButton,
.dxSpreadsheet_GIcons_FloatingObjectBringForward,
.dxSpreadsheet_GIcons_FloatingObjectBringToFront,
.dxSpreadsheet_GIcons_FloatingObjectSendBackward,
.dxSpreadsheet_GIcons_FloatingObjectSendToBack,
.dxSpreadsheet_GIcons_FormulaBarCancelButton,
.dxSpreadsheet_GIcons_FormulaBarCancelButtonDisabled,
.dxSpreadsheet_GIcons_FormulaBarEnterButton,
.dxSpreadsheet_GIcons_FormulaBarEnterButtonDisabled,
.dxSpreadsheet_GIcons_Hyperlink,
.dxSpreadsheet_GIcons_InsertSheet,
.dxSpreadsheet_GIcons_Paste,
.dxSpreadsheet_GIcons_RemoveSheet,
.dxSpreadsheet_GIcons_SortAsc,
.dxSpreadsheet_GIcons_SortDesc
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxSpreadsheet.Images.GISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_GIcons_AutoFilter_Ascending
{
    background-position: -643px -129px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_GIcons_AutoFilter_Descending
{
    background-position: -637px -49px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_GIcons_AutoFilter_Filtered
{
    background-position: -637px 0px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_GIcons_AutoFilter_FilteredAndAscending
{
    background-position: -637px -98px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_GIcons_AutoFilter_FilteredAndDescending
{
    background-position: -643px -31px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_GIcons_ChartAxesGroup
{
    background-position: -272px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupArea
{
    background-position: -221px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupBar
{
    background-position: -68px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupColumn
{
    background-position: -561px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupLine
{
    background-position: -170px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupOther
{
    background-position: -408px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupPie
{
    background-position: -546px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartGroupScatter
{
    background-position: -391px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ChartPresetArea01
{
    background-position: -294px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea02
{
    background-position: -588px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea03
{
    background-position: -392px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea04
{
    background-position: -490px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea05
{
    background-position: 0px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea06
{
    background-position: -49px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea07
{
    background-position: -98px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetArea08
{
    background-position: -441px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered01
{
    background-position: -245px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered02
{
    background-position: 0px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered03
{
    background-position: -441px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered04
{
    background-position: -392px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered05
{
    background-position: -539px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered06
{
    background-position: -245px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered07
{
    background-position: -147px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered08
{
    background-position: -539px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered09
{
    background-position: -196px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarClustered10
{
    background-position: -392px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked01
{
    background-position: -490px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked02
{
    background-position: -98px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked03
{
    background-position: -49px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked04
{
    background-position: -147px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked05
{
    background-position: -343px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked06
{
    background-position: -490px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked07
{
    background-position: -441px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked08
{
    background-position: -539px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked09
{
    background-position: -49px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetBarStacked10
{
    background-position: -343px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered01
{
    background-position: -441px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered02
{
    background-position: 0px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered03
{
    background-position: -588px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered04
{
    background-position: 0px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered05
{
    background-position: -343px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered06
{
    background-position: -588px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered07
{
    background-position: -392px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered08
{
    background-position: -392px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered09
{
    background-position: -196px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered10
{
    background-position: -196px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnClustered11
{
    background-position: -490px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked01
{
    background-position: -343px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked02
{
    background-position: -147px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked03
{
    background-position: -294px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked04
{
    background-position: -245px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked05
{
    background-position: -392px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked06
{
    background-position: -490px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked07
{
    background-position: -343px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked08
{
    background-position: -245px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked09
{
    background-position: -245px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetColumnStacked10
{
    background-position: -98px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut01
{
    background-position: -245px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut02
{
    background-position: -147px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut03
{
    background-position: -294px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut04
{
    background-position: -196px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut05
{
    background-position: -539px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut06
{
    background-position: -147px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetDoughnut07
{
    background-position: -147px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine01
{
    background-position: -343px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine02
{
    background-position: -147px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine03
{
    background-position: -392px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine04
{
    background-position: 0px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine05
{
    background-position: -539px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine06
{
    background-position: -196px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine07
{
    background-position: -147px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine08
{
    background-position: -245px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine09
{
    background-position: -49px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine10
{
    background-position: -588px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine11
{
    background-position: -441px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetLine12
{
    background-position: -441px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie01
{
    background-position: -49px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie02
{
    background-position: -588px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie03
{
    background-position: -343px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie04
{
    background-position: -98px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie05
{
    background-position: -294px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie06
{
    background-position: -49px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetPie07
{
    background-position: -49px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetRadar01
{
    background-position: 0px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetRadar02
{
    background-position: -196px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetRadar03
{
    background-position: -98px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetRadar04
{
    background-position: -294px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter01
{
    background-position: -196px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter02
{
    background-position: -490px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter03
{
    background-position: -196px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter04
{
    background-position: -441px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter05
{
    background-position: -539px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter06
{
    background-position: -98px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter07
{
    background-position: -98px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter08
{
    background-position: -98px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter09
{
    background-position: -294px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter10
{
    background-position: -245px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetScatter11
{
    background-position: 0px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock01
{
    background-position: -539px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock02
{
    background-position: -49px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock03
{
    background-position: 0px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock04
{
    background-position: -490px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock05
{
    background-position: -294px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock06
{
    background-position: -588px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartPresetStock07
{
    background-position: -588px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_GIcons_ChartSelectData
{
    background-position: -637px -147px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_ClearFilter
{
    background-position: -357px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_Copy
{
    background-position: -612px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateArea3DChart
{
    background-position: -459px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateArea3DChartLarge
{
    background-position: -594px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateAreaChart
{
    background-position: -644px -326px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateAreaChartLarge
{
    background-position: -429px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateBar3DChart
{
    background-position: -391px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateBar3DChartLarge
{
    background-position: -360px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateBarChart
{
    background-position: -563px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateBarChartLarge
{
    background-position: -231px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateBubble3DChart
{
    background-position: -255px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateBubble3DChartLarge
{
    background-position: -561px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateBubbleChart
{
    background-position: -597px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateBubbleChartLarge
{
    background-position: -330px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateConeBar3DChart
{
    background-position: -644px -277px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateConeBar3DChartLarge
{
    background-position: -294px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateConeFullStackedBar3DChart
{
    background-position: -637px -245px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateConeFullStackedBar3DChartLarge
{
    background-position: -396px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateConeManhattanBarChart
{
    background-position: -631px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateConeManhattanBarChartLarge
{
    background-position: -462px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateConeStackedBar3DChart
{
    background-position: -493px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateConeStackedBar3DChartLarge
{
    background-position: -495px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateCylinderBar3DChart
{
    background-position: -614px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateCylinderBar3DChartLarge
{
    background-position: -132px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateCylinderFullStackedBar3DChart
{
    background-position: -527px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateCylinderFullStackedBar3DChartLarge
{
    background-position: -33px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateCylinderManhattanBarChart
{
    background-position: -644px -179px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateCylinderManhattanBarChartLarge
{
    background-position: -165px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateCylinderStackedBar3DChart
{
    background-position: -510px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateCylinderStackedBar3DChartLarge
{
    background-position: -327px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateDoughnutChart
{
    background-position: -51px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateDoughnutChartLarge
{
    background-position: -591px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateExplodedDoughnutChart
{
    background-position: -34px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateExplodedDoughnutChartLarge
{
    background-position: -624px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateExplodedPie3DChart
{
    background-position: -17px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateExplodedPie3DChartLarge
{
    background-position: -198px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateExplodedPieChart
{
    background-position: -644px -228px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateExplodedPieChartLarge
{
    background-position: -66px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateFullStackedArea3DChart
{
    background-position: -170px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateFullStackedArea3DChartLarge
{
    background-position: -297px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateFullStackedAreaChart
{
    background-position: 0px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateFullStackedAreaChartLarge
{
    background-position: -396px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateFullStackedBar3DChart
{
    background-position: -495px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateFullStackedBar3DChartLarge
{
    background-position: -165px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateFullStackedBarChart
{
    background-position: -476px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateFullStackedBarChartLarge
{
    background-position: -198px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateFullStackedLineChart
{
    background-position: -323px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateFullStackedLineChartLarge
{
    background-position: -492px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateFullStackedLineChartNoMarkers
{
    background-position: -187px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateFullStackedLineChartNoMarkersLarge
{
    background-position: -297px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateLine3DChart
{
    background-position: -204px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateLine3DChartLarge
{
    background-position: -558px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateLineChart
{
    background-position: -221px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateLineChartLarge
{
    background-position: -231px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateLineChartNoMarkers
{
    background-position: -119px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateLineChartNoMarkersLarge
{
    background-position: -495px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateManhattanBarChart
{
    background-position: -580px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateManhattanBarChartLarge
{
    background-position: -33px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreatePie3DChart
{
    background-position: -340px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreatePie3DChartLarge
{
    background-position: -231px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreatePieChart
{
    background-position: -561px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreatePieChartLarge
{
    background-position: -462px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreatePyramidBar3DChart
{
    background-position: -442px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreatePyramidBar3DChartLarge
{
    background-position: -99px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreatePyramidFullStackedBar3DChart
{
    background-position: -629px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreatePyramidFullStackedBar3DChartLarge
{
    background-position: 0px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreatePyramidManhattanBarChart
{
    background-position: -629px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreatePyramidManhattanBarChartLarge
{
    background-position: -132px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreatePyramidStackedBar3DChart
{
    background-position: -17px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreatePyramidStackedBar3DChartLarge
{
    background-position: -459px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRadarLineChart
{
    background-position: 0px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRadarLineChartFilled
{
    background-position: -102px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRadarLineChartFilledLarge
{
    background-position: -264px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRadarLineChartLarge
{
    background-position: -627px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRadarLineChartNoMarkers
{
    background-position: -595px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRadarLineChartNoMarkersLarge
{
    background-position: -165px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedBar3DChart
{
    background-position: -374px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedBar3DChartLarge
{
    background-position: -99px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedBarChart
{
    background-position: -408px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedBarChartLarge
{
    background-position: -330px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedConeBar3DChart
{
    background-position: -512px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedConeBar3DChartLarge
{
    background-position: -132px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedCylinderBar3DChart
{
    background-position: -34px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedCylinderBar3DChartLarge
{
    background-position: -393px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBar3DChart
{
    background-position: -637px -294px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBar3DChartLarge
{
    background-position: -561px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBarChart
{
    background-position: -425px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedBarChartLarge
{
    background-position: -396px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedConeBar3DChart
{
    background-position: -238px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedConeBar3DChartLarge
{
    background-position: -528px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedCylinderBar3DChart
{
    background-position: -289px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedCylinderBar3DChartLarge
{
    background-position: 0px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedPyramidBar3DChart
{
    background-position: -136px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedFullStackedPyramidBar3DChartLarge
{
    background-position: -363px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedPyramidBar3DChart
{
    background-position: -510px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedPyramidBar3DChartLarge
{
    background-position: -528px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedBar3DChart
{
    background-position: -425px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedBar3DChartLarge
{
    background-position: -66px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedBarChart
{
    background-position: -357px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedBarChartLarge
{
    background-position: -627px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedConeBar3DChart
{
    background-position: -187px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedConeBar3DChartLarge
{
    background-position: -363px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedCylinderBar3DChart
{
    background-position: -459px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedCylinderBar3DChartLarge
{
    background-position: -594px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedPyramidBar3DChart
{
    background-position: -153px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateRotatedStackedPyramidBar3DChartLarge
{
    background-position: -297px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateScatterChartLines
{
    background-position: -255px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateScatterChartLinesAndMarkers
{
    background-position: -544px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateScatterChartLinesAndMarkersLarge
{
    background-position: -462px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateScatterChartLinesLarge
{
    background-position: -264px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateScatterChartMarkersOnly
{
    background-position: -374px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateScatterChartMarkersOnlyLarge
{
    background-position: -426px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLines
{
    background-position: -306px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLinesAndMarkers
{
    background-position: -578px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLinesAndMarkersLarge
{
    background-position: -198px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateScatterChartSmoothLinesLarge
{
    background-position: 0px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStackedArea3DChart
{
    background-position: -85px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStackedArea3DChartLarge
{
    background-position: -264px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStackedAreaChart
{
    background-position: -153px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStackedAreaChartLarge
{
    background-position: -330px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStackedBar3DChart
{
    background-position: -323px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStackedBar3DChartLarge
{
    background-position: -429px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStackedBarChart
{
    background-position: -442px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStackedBarChartLarge
{
    background-position: -363px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStackedLineChart
{
    background-position: -289px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStackedLineChartLarge
{
    background-position: -66px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStackedLineChartNoMarkers
{
    background-position: -272px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStackedLineChartNoMarkersLarge
{
    background-position: -99px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStockChart
{
    background-position: -85px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStockChartHighLowClose
{
    background-position: -637px -196px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStockChartHighLowCloseLarge
{
    background-position: -525px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStockChartLarge
{
    background-position: -429px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_CreateStockChartOpenHighLowClose
{
    background-position: -544px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_CreateStockChartOpenHighLowCloseLarge
{
    background-position: -33px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_GIcons_Cut
{
    background-position: -51px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_Delete_Hyperlink
{
    background-position: -136px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_DropDownButton
{
    background-position: -643px -80px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_GIcons_FloatingObjectBringForward
{
    background-position: -204px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FloatingObjectBringToFront
{
    background-position: -238px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FloatingObjectSendBackward
{
    background-position: -68px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FloatingObjectSendToBack
{
    background-position: -340px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FormulaBarCancelButton
{
    background-position: -119px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FormulaBarCancelButtonDisabled
{
    background-position: -476px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FormulaBarEnterButton
{
    background-position: -493px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_FormulaBarEnterButtonDisabled
{
    background-position: -612px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_Hyperlink
{
    background-position: -306px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_InsertSheet
{
    background-position: -102px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_Paste
{
    background-position: -529px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_RemoveSheet
{
    background-position: -578px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_SortAsc
{
    background-position: -595px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_GIcons_SortDesc
{
    background-position: -527px -491px;
    width: 16px;
    height: 16px;
}
