.dxSpreadsheet_Icons_AutoFilter_Ascending,
.dxSpreadsheet_Icons_AutoFilter_Descending,
.dxSpreadsheet_Icons_AutoFilter_Filtered,
.dxSpreadsheet_Icons_AutoFilter_FilteredAndAscending,
.dxSpreadsheet_Icons_AutoFilter_FilteredAndDescending,
.dxSpreadsheet_Icons_ChartGroupArea,
.dxSpreadsheet_Icons_ChartGroupBar,
.dxSpreadsheet_Icons_ChartGroupColumn,
.dxSpreadsheet_Icons_ChartGroupLine,
.dxSpreadsheet_Icons_ChartGroupOther,
.dxSpreadsheet_Icons_ChartGroupPie,
.dxSpreadsheet_Icons_ChartGroupScatter,
.dxSpreadsheet_Icons_ChartPresetArea01,
.dxSpreadsheet_Icons_ChartPresetArea02,
.dxSpreadsheet_Icons_ChartPresetArea03,
.dxSpreadsheet_Icons_ChartPresetArea04,
.dxSpreadsheet_Icons_ChartPresetArea05,
.dxSpreadsheet_Icons_ChartPresetArea06,
.dxSpreadsheet_Icons_ChartPresetArea07,
.dxSpreadsheet_Icons_ChartPresetArea08,
.dxSpreadsheet_Icons_ChartPresetBarClustered01,
.dxSpreadsheet_Icons_ChartPresetBarClustered02,
.dxSpreadsheet_Icons_ChartPresetBarClustered03,
.dxSpreadsheet_Icons_ChartPresetBarClustered04,
.dxSpreadsheet_Icons_ChartPresetBarClustered05,
.dxSpreadsheet_Icons_ChartPresetBarClustered06,
.dxSpreadsheet_Icons_ChartPresetBarClustered07,
.dxSpreadsheet_Icons_ChartPresetBarClustered08,
.dxSpreadsheet_Icons_ChartPresetBarClustered09,
.dxSpreadsheet_Icons_ChartPresetBarClustered10,
.dxSpreadsheet_Icons_ChartPresetBarStacked01,
.dxSpreadsheet_Icons_ChartPresetBarStacked02,
.dxSpreadsheet_Icons_ChartPresetBarStacked03,
.dxSpreadsheet_Icons_ChartPresetBarStacked04,
.dxSpreadsheet_Icons_ChartPresetBarStacked05,
.dxSpreadsheet_Icons_ChartPresetBarStacked06,
.dxSpreadsheet_Icons_ChartPresetBarStacked07,
.dxSpreadsheet_Icons_ChartPresetBarStacked08,
.dxSpreadsheet_Icons_ChartPresetBarStacked09,
.dxSpreadsheet_Icons_ChartPresetBarStacked10,
.dxSpreadsheet_Icons_ChartPresetColumnClustered01,
.dxSpreadsheet_Icons_ChartPresetColumnClustered02,
.dxSpreadsheet_Icons_ChartPresetColumnClustered03,
.dxSpreadsheet_Icons_ChartPresetColumnClustered04,
.dxSpreadsheet_Icons_ChartPresetColumnClustered05,
.dxSpreadsheet_Icons_ChartPresetColumnClustered06,
.dxSpreadsheet_Icons_ChartPresetColumnClustered07,
.dxSpreadsheet_Icons_ChartPresetColumnClustered08,
.dxSpreadsheet_Icons_ChartPresetColumnClustered09,
.dxSpreadsheet_Icons_ChartPresetColumnClustered10,
.dxSpreadsheet_Icons_ChartPresetColumnClustered11,
.dxSpreadsheet_Icons_ChartPresetColumnStacked01,
.dxSpreadsheet_Icons_ChartPresetColumnStacked02,
.dxSpreadsheet_Icons_ChartPresetColumnStacked03,
.dxSpreadsheet_Icons_ChartPresetColumnStacked04,
.dxSpreadsheet_Icons_ChartPresetColumnStacked05,
.dxSpreadsheet_Icons_ChartPresetColumnStacked06,
.dxSpreadsheet_Icons_ChartPresetColumnStacked07,
.dxSpreadsheet_Icons_ChartPresetColumnStacked08,
.dxSpreadsheet_Icons_ChartPresetColumnStacked09,
.dxSpreadsheet_Icons_ChartPresetColumnStacked10,
.dxSpreadsheet_Icons_ChartPresetDoughnut01,
.dxSpreadsheet_Icons_ChartPresetDoughnut02,
.dxSpreadsheet_Icons_ChartPresetDoughnut03,
.dxSpreadsheet_Icons_ChartPresetDoughnut04,
.dxSpreadsheet_Icons_ChartPresetDoughnut05,
.dxSpreadsheet_Icons_ChartPresetDoughnut06,
.dxSpreadsheet_Icons_ChartPresetDoughnut07,
.dxSpreadsheet_Icons_ChartPresetLine01,
.dxSpreadsheet_Icons_ChartPresetLine02,
.dxSpreadsheet_Icons_ChartPresetLine03,
.dxSpreadsheet_Icons_ChartPresetLine04,
.dxSpreadsheet_Icons_ChartPresetLine05,
.dxSpreadsheet_Icons_ChartPresetLine06,
.dxSpreadsheet_Icons_ChartPresetLine07,
.dxSpreadsheet_Icons_ChartPresetLine08,
.dxSpreadsheet_Icons_ChartPresetLine09,
.dxSpreadsheet_Icons_ChartPresetLine10,
.dxSpreadsheet_Icons_ChartPresetLine11,
.dxSpreadsheet_Icons_ChartPresetLine12,
.dxSpreadsheet_Icons_ChartPresetPie01,
.dxSpreadsheet_Icons_ChartPresetPie02,
.dxSpreadsheet_Icons_ChartPresetPie03,
.dxSpreadsheet_Icons_ChartPresetPie04,
.dxSpreadsheet_Icons_ChartPresetPie05,
.dxSpreadsheet_Icons_ChartPresetPie06,
.dxSpreadsheet_Icons_ChartPresetPie07,
.dxSpreadsheet_Icons_ChartPresetRadar01,
.dxSpreadsheet_Icons_ChartPresetRadar02,
.dxSpreadsheet_Icons_ChartPresetRadar03,
.dxSpreadsheet_Icons_ChartPresetRadar04,
.dxSpreadsheet_Icons_ChartPresetScatter01,
.dxSpreadsheet_Icons_ChartPresetScatter02,
.dxSpreadsheet_Icons_ChartPresetScatter03,
.dxSpreadsheet_Icons_ChartPresetScatter04,
.dxSpreadsheet_Icons_ChartPresetScatter05,
.dxSpreadsheet_Icons_ChartPresetScatter06,
.dxSpreadsheet_Icons_ChartPresetScatter07,
.dxSpreadsheet_Icons_ChartPresetScatter08,
.dxSpreadsheet_Icons_ChartPresetScatter09,
.dxSpreadsheet_Icons_ChartPresetScatter10,
.dxSpreadsheet_Icons_ChartPresetScatter11,
.dxSpreadsheet_Icons_ChartPresetStock01,
.dxSpreadsheet_Icons_ChartPresetStock02,
.dxSpreadsheet_Icons_ChartPresetStock03,
.dxSpreadsheet_Icons_ChartPresetStock04,
.dxSpreadsheet_Icons_ChartPresetStock05,
.dxSpreadsheet_Icons_ChartPresetStock06,
.dxSpreadsheet_Icons_ChartPresetStock07,
.dxSpreadsheet_Icons_ChartSelectData,
.dxSpreadsheet_Icons_ClearFilter,
.dxSpreadsheet_Icons_Copy,
.dxSpreadsheet_Icons_CreateArea3DChart,
.dxSpreadsheet_Icons_CreateArea3DChartLarge,
.dxSpreadsheet_Icons_CreateAreaChart,
.dxSpreadsheet_Icons_CreateAreaChartLarge,
.dxSpreadsheet_Icons_CreateBar3DChart,
.dxSpreadsheet_Icons_CreateBar3DChartLarge,
.dxSpreadsheet_Icons_CreateBarChart,
.dxSpreadsheet_Icons_CreateBarChartLarge,
.dxSpreadsheet_Icons_CreateBubble3DChart,
.dxSpreadsheet_Icons_CreateBubble3DChartLarge,
.dxSpreadsheet_Icons_CreateBubbleChart,
.dxSpreadsheet_Icons_CreateBubbleChartLarge,
.dxSpreadsheet_Icons_CreateConeBar3DChart,
.dxSpreadsheet_Icons_CreateConeBar3DChartLarge,
.dxSpreadsheet_Icons_CreateConeFullStackedBar3DChart,
.dxSpreadsheet_Icons_CreateConeFullStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateConeManhattanBarChart,
.dxSpreadsheet_Icons_CreateConeManhattanBarChartLarge,
.dxSpreadsheet_Icons_CreateConeStackedBar3DChart,
.dxSpreadsheet_Icons_CreateConeStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateCylinderBar3DChart,
.dxSpreadsheet_Icons_CreateCylinderBar3DChartLarge,
.dxSpreadsheet_Icons_CreateCylinderFullStackedBar3DChart,
.dxSpreadsheet_Icons_CreateCylinderFullStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateCylinderManhattanBarChart,
.dxSpreadsheet_Icons_CreateCylinderManhattanBarChartLarge,
.dxSpreadsheet_Icons_CreateCylinderStackedBar3DChart,
.dxSpreadsheet_Icons_CreateCylinderStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateDoughnutChart,
.dxSpreadsheet_Icons_CreateDoughnutChartLarge,
.dxSpreadsheet_Icons_CreateExplodedDoughnutChart,
.dxSpreadsheet_Icons_CreateExplodedDoughnutChartLarge,
.dxSpreadsheet_Icons_CreateExplodedPie3DChart,
.dxSpreadsheet_Icons_CreateExplodedPie3DChartLarge,
.dxSpreadsheet_Icons_CreateExplodedPieChart,
.dxSpreadsheet_Icons_CreateExplodedPieChartLarge,
.dxSpreadsheet_Icons_CreateFullStackedArea3DChart,
.dxSpreadsheet_Icons_CreateFullStackedArea3DChartLarge,
.dxSpreadsheet_Icons_CreateFullStackedAreaChart,
.dxSpreadsheet_Icons_CreateFullStackedAreaChartLarge,
.dxSpreadsheet_Icons_CreateFullStackedBar3DChart,
.dxSpreadsheet_Icons_CreateFullStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateFullStackedBarChart,
.dxSpreadsheet_Icons_CreateFullStackedBarChartLarge,
.dxSpreadsheet_Icons_CreateFullStackedLineChart,
.dxSpreadsheet_Icons_CreateFullStackedLineChartLarge,
.dxSpreadsheet_Icons_CreateFullStackedLineChartNoMarkers,
.dxSpreadsheet_Icons_CreateFullStackedLineChartNoMarkersLarge,
.dxSpreadsheet_Icons_CreateLine3DChart,
.dxSpreadsheet_Icons_CreateLine3DChartLarge,
.dxSpreadsheet_Icons_CreateLineChart,
.dxSpreadsheet_Icons_CreateLineChartLarge,
.dxSpreadsheet_Icons_CreateLineChartNoMarkers,
.dxSpreadsheet_Icons_CreateLineChartNoMarkersLarge,
.dxSpreadsheet_Icons_CreateManhattanBarChart,
.dxSpreadsheet_Icons_CreateManhattanBarChartLarge,
.dxSpreadsheet_Icons_CreatePie3DChart,
.dxSpreadsheet_Icons_CreatePie3DChartLarge,
.dxSpreadsheet_Icons_CreatePieChart,
.dxSpreadsheet_Icons_CreatePieChartLarge,
.dxSpreadsheet_Icons_CreatePyramidBar3DChart,
.dxSpreadsheet_Icons_CreatePyramidBar3DChartLarge,
.dxSpreadsheet_Icons_CreatePyramidFullStackedBar3DChart,
.dxSpreadsheet_Icons_CreatePyramidFullStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreatePyramidManhattanBarChart,
.dxSpreadsheet_Icons_CreatePyramidManhattanBarChartLarge,
.dxSpreadsheet_Icons_CreatePyramidStackedBar3DChart,
.dxSpreadsheet_Icons_CreatePyramidStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRadarLineChart,
.dxSpreadsheet_Icons_CreateRadarLineChartFilled,
.dxSpreadsheet_Icons_CreateRadarLineChartFilledLarge,
.dxSpreadsheet_Icons_CreateRadarLineChartLarge,
.dxSpreadsheet_Icons_CreateRadarLineChartNoMarkers,
.dxSpreadsheet_Icons_CreateRadarLineChartNoMarkersLarge,
.dxSpreadsheet_Icons_CreateRotatedBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedBarChart,
.dxSpreadsheet_Icons_CreateRotatedBarChartLarge,
.dxSpreadsheet_Icons_CreateRotatedConeBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedConeBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedCylinderBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedCylinderBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedFullStackedBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedFullStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedFullStackedBarChart,
.dxSpreadsheet_Icons_CreateRotatedFullStackedBarChartLarge,
.dxSpreadsheet_Icons_CreateRotatedFullStackedConeBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedFullStackedConeBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedFullStackedCylinderBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedFullStackedCylinderBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedFullStackedPyramidBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedFullStackedPyramidBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedPyramidBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedPyramidBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedStackedBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedStackedBarChart,
.dxSpreadsheet_Icons_CreateRotatedStackedBarChartLarge,
.dxSpreadsheet_Icons_CreateRotatedStackedConeBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedStackedConeBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedStackedCylinderBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedStackedCylinderBar3DChartLarge,
.dxSpreadsheet_Icons_CreateRotatedStackedPyramidBar3DChart,
.dxSpreadsheet_Icons_CreateRotatedStackedPyramidBar3DChartLarge,
.dxSpreadsheet_Icons_CreateScatterChartLines,
.dxSpreadsheet_Icons_CreateScatterChartLinesAndMarkers,
.dxSpreadsheet_Icons_CreateScatterChartLinesAndMarkersLarge,
.dxSpreadsheet_Icons_CreateScatterChartLinesLarge,
.dxSpreadsheet_Icons_CreateScatterChartMarkersOnly,
.dxSpreadsheet_Icons_CreateScatterChartMarkersOnlyLarge,
.dxSpreadsheet_Icons_CreateScatterChartSmoothLines,
.dxSpreadsheet_Icons_CreateScatterChartSmoothLinesAndMarkers,
.dxSpreadsheet_Icons_CreateScatterChartSmoothLinesAndMarkersLarge,
.dxSpreadsheet_Icons_CreateScatterChartSmoothLinesLarge,
.dxSpreadsheet_Icons_CreateStackedArea3DChart,
.dxSpreadsheet_Icons_CreateStackedArea3DChartLarge,
.dxSpreadsheet_Icons_CreateStackedAreaChart,
.dxSpreadsheet_Icons_CreateStackedAreaChartLarge,
.dxSpreadsheet_Icons_CreateStackedBar3DChart,
.dxSpreadsheet_Icons_CreateStackedBar3DChartLarge,
.dxSpreadsheet_Icons_CreateStackedBarChart,
.dxSpreadsheet_Icons_CreateStackedBarChartLarge,
.dxSpreadsheet_Icons_CreateStackedLineChart,
.dxSpreadsheet_Icons_CreateStackedLineChartLarge,
.dxSpreadsheet_Icons_CreateStackedLineChartNoMarkers,
.dxSpreadsheet_Icons_CreateStackedLineChartNoMarkersLarge,
.dxSpreadsheet_Icons_CreateStockChart,
.dxSpreadsheet_Icons_CreateStockChartHighLowClose,
.dxSpreadsheet_Icons_CreateStockChartHighLowCloseLarge,
.dxSpreadsheet_Icons_CreateStockChartLarge,
.dxSpreadsheet_Icons_CreateStockChartOpenHighLowClose,
.dxSpreadsheet_Icons_CreateStockChartOpenHighLowCloseLarge,
.dxSpreadsheet_Icons_Cut,
.dxSpreadsheet_Icons_Delete_Hyperlink,
.dxSpreadsheet_Icons_DropDownButton,
.dxSpreadsheet_Icons_FloatingObjectBringForward,
.dxSpreadsheet_Icons_FloatingObjectBringToFront,
.dxSpreadsheet_Icons_FloatingObjectSendBackward,
.dxSpreadsheet_Icons_FloatingObjectSendToBack,
.dxSpreadsheet_Icons_FormulaBarCancelButton,
.dxSpreadsheet_Icons_FormulaBarCancelButtonDisabled,
.dxSpreadsheet_Icons_FormulaBarEnterButton,
.dxSpreadsheet_Icons_FormulaBarEnterButtonDisabled,
.dxSpreadsheet_Icons_Hyperlink,
.dxSpreadsheet_Icons_InsertSheet,
.dxSpreadsheet_Icons_Paste,
.dxSpreadsheet_Icons_RemoveSheet,
.dxSpreadsheet_Icons_SortAsc,
.dxSpreadsheet_Icons_SortDesc
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxSpreadsheet.Images.ISprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_Icons_AutoFilter_Ascending
{
    background-position: -637px -196px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_Icons_AutoFilter_Descending
{
    background-position: -637px -98px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_Icons_AutoFilter_Filtered
{
    background-position: -643px -129px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_Icons_AutoFilter_FilteredAndAscending
{
    background-position: -643px -227px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_Icons_AutoFilter_FilteredAndDescending
{
    background-position: -643px -178px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_Icons_ChartGroupArea
{
    background-position: -637px -294px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartGroupBar
{
    background-position: -442px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartGroupColumn
{
    background-position: -595px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartGroupLine
{
    background-position: -187px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartGroupOther
{
    background-position: -529px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartGroupPie
{
    background-position: -631px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartGroupScatter
{
    background-position: -476px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ChartPresetArea01
{
    background-position: -294px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea02
{
    background-position: -343px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea03
{
    background-position: -490px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea04
{
    background-position: -245px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea05
{
    background-position: -343px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea06
{
    background-position: -294px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea07
{
    background-position: -441px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetArea08
{
    background-position: -196px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered01
{
    background-position: -441px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered02
{
    background-position: -49px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered03
{
    background-position: -588px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered04
{
    background-position: 0px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered05
{
    background-position: -49px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered06
{
    background-position: -392px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered07
{
    background-position: -196px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered08
{
    background-position: -539px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered09
{
    background-position: -539px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarClustered10
{
    background-position: -539px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked01
{
    background-position: -343px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked02
{
    background-position: -196px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked03
{
    background-position: -245px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked04
{
    background-position: 0px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked05
{
    background-position: -490px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked06
{
    background-position: -196px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked07
{
    background-position: -588px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked08
{
    background-position: 0px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked09
{
    background-position: -147px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetBarStacked10
{
    background-position: -392px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered01
{
    background-position: -441px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered02
{
    background-position: -441px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered03
{
    background-position: -245px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered04
{
    background-position: -49px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered05
{
    background-position: -392px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered06
{
    background-position: -539px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered07
{
    background-position: -294px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered08
{
    background-position: -392px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered09
{
    background-position: -441px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered10
{
    background-position: -98px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnClustered11
{
    background-position: -98px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked01
{
    background-position: -343px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked02
{
    background-position: -98px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked03
{
    background-position: -49px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked04
{
    background-position: -539px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked05
{
    background-position: -294px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked06
{
    background-position: -196px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked07
{
    background-position: -294px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked08
{
    background-position: -147px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked09
{
    background-position: 0px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetColumnStacked10
{
    background-position: -588px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut01
{
    background-position: -588px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut02
{
    background-position: -147px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut03
{
    background-position: 0px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut04
{
    background-position: -294px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut05
{
    background-position: -392px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut06
{
    background-position: -343px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetDoughnut07
{
    background-position: -245px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine01
{
    background-position: -147px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine02
{
    background-position: -147px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine03
{
    background-position: -392px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine04
{
    background-position: -147px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine05
{
    background-position: -343px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine06
{
    background-position: -98px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine07
{
    background-position: -98px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine08
{
    background-position: 0px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine09
{
    background-position: 0px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine10
{
    background-position: -196px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine11
{
    background-position: -392px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetLine12
{
    background-position: -49px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie01
{
    background-position: -196px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie02
{
    background-position: -98px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie03
{
    background-position: -343px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie04
{
    background-position: -49px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie05
{
    background-position: -588px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie06
{
    background-position: -539px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetPie07
{
    background-position: -147px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetRadar01
{
    background-position: -196px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetRadar02
{
    background-position: -245px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetRadar03
{
    background-position: -245px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetRadar04
{
    background-position: -294px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter01
{
    background-position: -441px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter02
{
    background-position: -49px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter03
{
    background-position: -441px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter04
{
    background-position: -490px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter05
{
    background-position: -539px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter06
{
    background-position: -490px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter07
{
    background-position: -490px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter08
{
    background-position: -49px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter09
{
    background-position: -490px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter10
{
    background-position: -588px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetScatter11
{
    background-position: -245px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock01
{
    background-position: -147px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock02
{
    background-position: -588px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock03
{
    background-position: -98px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock04
{
    background-position: 0px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock05
{
    background-position: -490px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock06
{
    background-position: -98px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartPresetStock07
{
    background-position: -245px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_Icons_ChartSelectData
{
    background-position: -153px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_ClearFilter
{
    background-position: -136px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_Copy
{
    background-position: -68px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateArea3DChart
{
    background-position: -51px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateArea3DChartLarge
{
    background-position: -429px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateAreaChart
{
    background-position: -85px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateAreaChartLarge
{
    background-position: 0px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateBar3DChart
{
    background-position: -238px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateBar3DChartLarge
{
    background-position: -33px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateBarChart
{
    background-position: -578px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateBarChartLarge
{
    background-position: -99px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateBubble3DChart
{
    background-position: -425px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateBubble3DChartLarge
{
    background-position: -396px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateBubbleChart
{
    background-position: -289px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateBubbleChartLarge
{
    background-position: -165px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateConeBar3DChart
{
    background-position: -272px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateConeBar3DChartLarge
{
    background-position: -495px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateConeFullStackedBar3DChart
{
    background-position: -563px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateConeFullStackedBar3DChartLarge
{
    background-position: -297px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateConeManhattanBarChart
{
    background-position: -637px -245px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateConeManhattanBarChartLarge
{
    background-position: -528px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateConeStackedBar3DChart
{
    background-position: -17px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateConeStackedBar3DChartLarge
{
    background-position: -294px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateCylinderBar3DChart
{
    background-position: -442px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateCylinderBar3DChartLarge
{
    background-position: -231px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateCylinderFullStackedBar3DChart
{
    background-position: -17px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateCylinderFullStackedBar3DChartLarge
{
    background-position: -591px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateCylinderManhattanBarChart
{
    background-position: -374px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateCylinderManhattanBarChartLarge
{
    background-position: -198px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateCylinderStackedBar3DChart
{
    background-position: -493px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateCylinderStackedBar3DChartLarge
{
    background-position: -363px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateDoughnutChart
{
    background-position: -527px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateDoughnutChartLarge
{
    background-position: -264px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateExplodedDoughnutChart
{
    background-position: -374px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateExplodedDoughnutChartLarge
{
    background-position: -99px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateExplodedPie3DChart
{
    background-position: -221px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateExplodedPie3DChartLarge
{
    background-position: -330px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateExplodedPieChart
{
    background-position: -391px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateExplodedPieChartLarge
{
    background-position: -33px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateFullStackedArea3DChart
{
    background-position: -255px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateFullStackedArea3DChartLarge
{
    background-position: -429px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateFullStackedAreaChart
{
    background-position: -612px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateFullStackedAreaChartLarge
{
    background-position: -396px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateFullStackedBar3DChart
{
    background-position: -595px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateFullStackedBar3DChartLarge
{
    background-position: -165px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateFullStackedBarChart
{
    background-position: -204px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateFullStackedBarChartLarge
{
    background-position: -99px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateFullStackedLineChart
{
    background-position: -204px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateFullStackedLineChartLarge
{
    background-position: -264px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateFullStackedLineChartNoMarkers
{
    background-position: -629px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateFullStackedLineChartNoMarkersLarge
{
    background-position: -627px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateLine3DChart
{
    background-position: -357px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateLine3DChartLarge
{
    background-position: -558px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateLineChart
{
    background-position: -119px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateLineChartLarge
{
    background-position: -462px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateLineChartNoMarkers
{
    background-position: -612px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateLineChartNoMarkersLarge
{
    background-position: -525px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateManhattanBarChart
{
    background-position: 0px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateManhattanBarChartLarge
{
    background-position: -429px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreatePie3DChart
{
    background-position: -510px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreatePie3DChartLarge
{
    background-position: -624px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreatePieChart
{
    background-position: -561px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreatePieChartLarge
{
    background-position: -426px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreatePyramidBar3DChart
{
    background-position: -357px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreatePyramidBar3DChartLarge
{
    background-position: -198px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreatePyramidFullStackedBar3DChart
{
    background-position: -255px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreatePyramidFullStackedBar3DChartLarge
{
    background-position: -165px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreatePyramidManhattanBarChart
{
    background-position: -289px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreatePyramidManhattanBarChartLarge
{
    background-position: -66px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreatePyramidStackedBar3DChart
{
    background-position: -408px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreatePyramidStackedBar3DChartLarge
{
    background-position: -393px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRadarLineChart
{
    background-position: -306px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRadarLineChartFilled
{
    background-position: -476px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRadarLineChartFilledLarge
{
    background-position: -231px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRadarLineChartLarge
{
    background-position: -198px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRadarLineChartNoMarkers
{
    background-position: -323px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRadarLineChartNoMarkersLarge
{
    background-position: -297px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedBar3DChart
{
    background-position: -136px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedBar3DChartLarge
{
    background-position: -330px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedBarChart
{
    background-position: 0px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedBarChartLarge
{
    background-position: -231px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedConeBar3DChart
{
    background-position: -597px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedConeBar3DChartLarge
{
    background-position: -594px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedCylinderBar3DChart
{
    background-position: -102px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedCylinderBar3DChartLarge
{
    background-position: -561px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedBar3DChart
{
    background-position: -425px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedBar3DChartLarge
{
    background-position: -33px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedBarChart
{
    background-position: -578px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedBarChartLarge
{
    background-position: -528px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedConeBar3DChart
{
    background-position: -495px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedConeBar3DChartLarge
{
    background-position: -462px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedCylinderBar3DChart
{
    background-position: -544px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedCylinderBar3DChartLarge
{
    background-position: -327px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedPyramidBar3DChart
{
    background-position: -153px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedFullStackedPyramidBar3DChartLarge
{
    background-position: -66px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedPyramidBar3DChart
{
    background-position: -221px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedPyramidBar3DChartLarge
{
    background-position: -492px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedBar3DChart
{
    background-position: -493px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedBar3DChartLarge
{
    background-position: 0px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedBarChart
{
    background-position: -459px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedBarChartLarge
{
    background-position: -396px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedConeBar3DChart
{
    background-position: -546px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedConeBar3DChartLarge
{
    background-position: -459px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedCylinderBar3DChart
{
    background-position: -306px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedCylinderBar3DChartLarge
{
    background-position: -462px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedPyramidBar3DChart
{
    background-position: -510px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateRotatedStackedPyramidBar3DChartLarge
{
    background-position: -561px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateScatterChartLines
{
    background-position: -34px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateScatterChartLinesAndMarkers
{
    background-position: -323px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateScatterChartLinesAndMarkersLarge
{
    background-position: -627px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateScatterChartLinesLarge
{
    background-position: -363px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateScatterChartMarkersOnly
{
    background-position: -644px -277px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateScatterChartMarkersOnlyLarge
{
    background-position: -297px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateScatterChartSmoothLines
{
    background-position: -512px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateScatterChartSmoothLinesAndMarkers
{
    background-position: -119px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateScatterChartSmoothLinesAndMarkersLarge
{
    background-position: -360px -343px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateScatterChartSmoothLinesLarge
{
    background-position: -66px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStackedArea3DChart
{
    background-position: -391px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStackedArea3DChartLarge
{
    background-position: -132px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStackedAreaChart
{
    background-position: -459px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStackedAreaChartLarge
{
    background-position: -363px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStackedBar3DChart
{
    background-position: -85px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStackedBar3DChartLarge
{
    background-position: -330px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStackedBarChart
{
    background-position: -408px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStackedBarChartLarge
{
    background-position: -495px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStackedLineChart
{
    background-position: -102px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStackedLineChartLarge
{
    background-position: -132px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStackedLineChartNoMarkers
{
    background-position: -68px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStackedLineChartNoMarkersLarge
{
    background-position: 0px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStockChart
{
    background-position: -51px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStockChartHighLowClose
{
    background-position: -187px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStockChartHighLowCloseLarge
{
    background-position: -264px -458px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStockChartLarge
{
    background-position: -594px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_CreateStockChartOpenHighLowClose
{
    background-position: -272px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_CreateStockChartOpenHighLowCloseLarge
{
    background-position: -132px -425px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Icons_Cut
{
    background-position: -170px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_Delete_Hyperlink
{
    background-position: -614px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_DropDownButton
{
    background-position: -637px -147px;
    width: 17px;
    height: 17px;
}
.dxSpreadsheet_Icons_FloatingObjectBringForward
{
    background-position: -580px -458px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_FloatingObjectBringToFront
{
    background-position: -340px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_FloatingObjectSendBackward
{
    background-position: -561px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_FloatingObjectSendToBack
{
    background-position: -544px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_FormulaBarCancelButton
{
    background-position: -637px 0px;
    width: 19px;
    height: 19px;
}
.dxSpreadsheet_Icons_FormulaBarCancelButtonDisabled
{
    background-position: -641px -78px;
    width: 19px;
    height: 19px;
}
.dxSpreadsheet_Icons_FormulaBarEnterButton
{
    background-position: -637px -49px;
    width: 19px;
    height: 19px;
}
.dxSpreadsheet_Icons_FormulaBarEnterButtonDisabled
{
    background-position: -641px -29px;
    width: 19px;
    height: 19px;
}
.dxSpreadsheet_Icons_Hyperlink
{
    background-position: -170px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_InsertSheet
{
    background-position: -340px -508px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_Paste
{
    background-position: -238px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_RemoveSheet
{
    background-position: -644px -326px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_SortAsc
{
    background-position: -527px -491px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Icons_SortDesc
{
    background-position: -34px -508px;
    width: 16px;
    height: 16px;
}
