.dxSpreadsheet_TouchResize
{
    background-image: url('<%=WebResource("DevExpress.Web.ASPxSpreadsheet.Images.sprite.png")%>');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_TouchResize
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}
